<div class="flex gap-3 items-center flex-wrap py-3 text-slate-800 dark:text-slate-100">
  <%= link_to request.user, class: 'group flex gap-3 items-center mr-auto' do %>
    <%= image_tag request.user.avatar, class: 'size-12 rounded-lg drop-shadow-lg dark:drop-shadow-none' if request.user.avatar.attached? %>

    <div>
      <p class="font-semibold group-hover:text-indigo-600 dark:group-hover:text-indigo-500 transition ease-in-out duration-300"><%= request.user.default_name %></p>
      <%= content_tag(:p, request.user.username, class: 'help-text') if request.user.display_name.present? %>
    </div>
  <% end %>

  <div class="flex items-center gap-3">
    <%= button_to 'Approve', approve_request_path(request), method: :patch, class: 'btn btn-sm btn-primary', data: { turbo: false } %>
    <%= button_to 'Reject', reject_request_path(request), method: :patch, class: 'btn btn-sm btn-destructive btn-outline', data: { turbo: false } %>
  </div>
</div>
