<div class="flex flex-wrap gap-6 items-center mt-10 pb-6 border-b dark:border-slate-700">
  <h1 class="heading">Team Members</h1>
</div>

<div class="divide-y dark:divide-slate-700 dark:text-slate-700 mb-10">
  <% members.each do |member| %>
    <div class="py-6">
      <div class="flex gap-4 items-center">
        <%= image_tag member.avatar, class: 'size-16 rounded-lg drop-shadow-lg dark:drop-shadow-none' if member.avatar.attached? %>

        <div class="mr-auto">
          <h2 class='subheading'><%= link_to member.display_name.present? ? member.display_name : member.username, member, class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %></h2>
          <% if member.display_name.present? %>
            <p class="help-text"><%= member.username %></p>
          <% end %>
        </div>

        <div>
          <% if @team.season_dates? %>
            <div class="text-center">
              <p class="font-semibold text-slate-800 dark:text-slate-100 leading-tight"><%= member.miles_this_season(@team) %>
                <span class="help-text font-normal">miles this season</span>
              </p>
            </div>
          <% end %>

          <% if current_user.owns?(@team) && member != current_user %>
            <div class="text-right">
              <%= button_to 'Remove from team', remove_member_path(team_id: @team.id, user_id: member.id), method: :post, class: 'text-xs text-rose-600 font-semibold hover:text-rose-700', data: { confirm: 'Are you sure you want to remove this member?' } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
