<% members.each do |member| %>
  <div class="py-6">
    <div class="flex gap-4 items-center">
      <%= link_to member, data: { turbo: false }, class: 'group flex gap-4 items-center mr-auto' do %>
        <%= image_tag member.avatar, class: 'size-16 rounded-lg drop-shadow-lg dark:drop-shadow-none' if member.avatar.attached? %>

        <div>
          <h2 class='subheading group-hover:text-indigo-600 dark:group-hover:text-indigo-500 transition ease-in-out duration-300'><%= member.default_name %></h2>
          <% if member.display_name.present? %>
            <p class="help-text"><%= member.username %></p>
          <% end %>
        </div>
      <% end %>

      <div>
        <% if @team.season_dates? %>
          <div class="text-center">
            <p class="font-semibold text-slate-800 dark:text-slate-100 leading-tight"><%= member.miles_this_season(@team) %>
              <span class="help-text font-normal">miles this season</span>
            </p>
          </div>
        <% end %>

        <% if current_user.owns?(@team) && member != current_user %>
          <div class="text-right">
            <%= button_to 'Remove from team', remove_member_path(team_id: @team.id, user_id: member.id), method: :post, class: 'text-xs text-rose-600 font-semibold hover:text-rose-700', data: { confirm: 'Are you sure you want to remove this member?' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
