<div class="flex items-center justify-between">
  <div>
    <p class="subheading"><%= link_to team.name, team, class: 'hover:text-indigo-700 transition ease-in-out duration-300' %></p>
    <p class="help-text"><%= team.owner.username %></p>
    <% if team.season_dates? %>
      <% if team.season_start_date.after?(Date.today) %>
        <p class="text-slate-700 dark:text-slate-400 text-sm mt-1">Season starts <%= pretty_date(team.season_start_date) %></p>
      <% else %>
        <p class="text-slate-700 dark:text-slate-400 text-sm mt-1">Season started <%= pretty_date(team.season_start_date) %></p>
      <% end %>
    <% end %>
  </div>
  <%= render 'team_buttons', team: team %>
</div>
