<% if current_user.owns?(team) %>
  <%= link_to 'Edit team', edit_team_path(team), class: 'btn btn-white' %>
<% else %>
  <% if current_user.member_of?(team) %>
    <%= button_to 'Leave team', leave_team_path(team), class: 'btn btn-destructive' %>
  <% else %>
    <% request = team.join_requests.find_by(user_id: current_user.id) %>
    <% if request.nil? %>
      <% if team.settings(:join_requirements).require_gender && current_user.gender.blank? %>
        <p class="error-message text-base">You must specify your gender in order to join this team.</p>
      <% else %>
        <%= button_to 'Join team', join_team_path(team), class: 'btn btn-primary' %>
      <% end %>
    <% elsif request.rejected? && request.allowed? %>
      <% if team.settings(:join_requirements).require_gender && current_user.gender.blank? %>
        <p class="error-message text-base">You must specify your gender in order to join this team.</p>
      <% else %>
      <%= button_to 'Join team', team_join_request_path(request), method: :patch, class: 'btn btn-primary' %>
      <% end %>
    <% elsif request.pending? %>
      <%= button_to 'Cancel request', cancel_request_path(request), method: :delete, class: 'btn btn-destructive' %>
    <% else %>
      <p class="error-message text-base">You have been blocked from this team.</p>
    <% end %>
  <% end %>
<% end %>
