<div class="flex items-center flex-wrap gap-4">
  <%= image_tag team.photo, class: 'size-16 rounded-lg drop-shadow-lg dark:drop-shadow-none' if team.photo.attached? %>

  <div class="mr-auto">
    <p class="subheading mb-0.5"><%= link_to team.name, team, class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %></p>
    <p class="help-text"><%= link_to team.owner.display_name.present? ? team.owner.display_name : team.owner.username, team.owner, class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %></p>
    <% if team.season_dates? %>
      <% if team.season_start_date.after?(Date.today) %>
        <p class="text-slate-700 dark:text-slate-400 text-sm mt-1">Season starts <%= pretty_date(team.season_start_date) %></p>
      <% else %>
        <p class="text-slate-700 dark:text-slate-400 text-sm mt-1">Season started <%= pretty_date(team.season_start_date) %></p>
      <% end %>
    <% end %>
  </div>
  <%= render 'team_buttons', team: team %>
</div>
