<% content_for :title, 'Team Settings' %>

<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="editTab" class="max-w-3xl px-4 mx-auto my-16 mb-24">
  <div class="tab-container">
    <button type="button" id="editTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab].blank? || params[:tab] == 'editTab' ? 'btn-tab-active' : '' %>">
      <%= inline_svg_tag 'icons/team.svg', class: 'size-5 text-soft' %>
      <span>Edit Team</span>
    </button>

    <button type="button" id="settingsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'settingsTab' ? 'btn-tab-active' : '' %>">
      <%= inline_svg_tag 'icons/settings.svg', class: 'size-5 text-soft' %>
      <span>Settings</span>
    </button>
  </div>

  <div id="editTab" data-tabs-target="tab" class="mb-24 <%= params[:tab].blank? || params[:tab] == 'editTab' ? '' : 'hidden' %>">
    <%= render 'teams/forms/edit_team' %>
  </div>

  <div id="settingsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'settingsTab' ? '' : 'hidden' %>">
    <%= render 'teams/forms/edit_settings' %>
  </div>
</div>
