<% content_for :title, 'Team Settings' %>

<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="editTab" class="max-w-3xl px-4 mx-auto my-16 mb-24">
  <div class="relative flex items-center mb-6">
    <!-- Left Arrow -->
    <button type="button" data-action="click->tabs#scrollLeft" data-tabs-target="leftArrow" class="opacity-0 pointer-events-none tab-container-scroll-left transition duration-300">
      <%= inline_svg_tag 'icons/chevron-left.svg', class: 'size-5 text-soft' %>
    </button>

    <div class="tab-container mx-auto" data-tabs-target="container">
      <!-- Tab Indicator -->
      <span data-tabs-target="indicator" class="sliding-tab-indicator"></span>

      <button type="button" id="editTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab].blank? || params[:tab] == 'editTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/team.svg', class: 'size-5' %>
        <span>Edit Team</span>
      </button>

      <button type="button" id="settingsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'settingsTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/settings.svg', class: 'size-5' %>
        <span>Settings</span>
      </button>
    </div>

    <!-- Right Arrow -->
    <button type="button" data-action="click->tabs#scrollRight" data-tabs-target="rightArrow" class="opacity-0 pointer-events-none tab-container-scroll-right transition duration-300">
      <%= inline_svg_tag 'icons/chevron-right.svg', class: 'size-5 text-soft' %>
    </button>
  </div>

  <div id="editTab" data-tabs-target="tab" class="mb-24 <%= params[:tab].blank? || params[:tab] == 'editTab' ? '' : 'hidden' %>">
    <%= render 'teams/forms/edit_team' %>
  </div>

  <div id="settingsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'settingsTab' ? '' : 'hidden' %>">
    <%= render 'teams/forms/edit_settings' %>
  </div>
</div>
