<% content_for :title, 'Teams' %>

<div class="max-w-3xl mx-auto my-16">
  <div class="mb-24">
    <div class="pb-6 my-6 border-b border-slate-200 dark:border-slate-700">
      <h1 class="heading">Your Teams</h1>
      <p class="text-soft">Teams you coach.</p>
    </div>

    <% if @owned_teams.present? %>
      <%= render 'teams/shared/team_list', teams: @owned_teams %>

      <div class="flex justify-center mt-12">
        <%= link_to 'Create a team', new_team_path, class: 'btn btn-sm btn-primary btn-muted' %>
      </div>
    <% else %>
      <div class="flex flex-col items-center justify-center gap-6 mt-12">
        <p class="text-soft text-center">You don&#8217;t have any teams.</p>
        <%= link_to 'Create a team', new_team_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="mb-24">
    <div class="pb-6 my-6 border-b border-slate-200 dark:border-slate-700">
      <h2 class="subheading">Your Team Memberships</h2>
      <p class="text-sm text-soft">Teams you are a member of.</p>
    </div>

    <% if @membered_teams.present? %>
      <%= render 'teams/shared/team_list', teams: @membered_teams %>

      <div class="flex justify-center mt-12">
        <%= link_to 'Find a team to join', search_path, class: 'btn btn-sm btn-white btn-muted' %>
      </div>
    <% else %>
      <div class="flex flex-col items-center justify-center gap-6 mt-12">
        <p class="text-soft text-center">You&#8217;re not a member of any teams.</p>
        <%= link_to 'Find a team', search_path, class: 'btn btn-white' %>
      </div>
    <% end %>
  </div>
</div>
