<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="ownedTeamsTab" class="max-w-3xl mx-auto px-4 my-16">
  <div class="tab-container">
    <button type="button" id="ownedTeamsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab">
      <%= inline_svg_tag 'icons/team.svg', class: 'size-5' %>
      <span>My Teams</span>
    </button>

    <button type="button" id="teamMembershipsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab">
      <%= inline_svg_tag 'icons/id-card.svg', class: 'size-5' %>
      <span>My Team Memberships</span>
    </button>

    <button type="button" id="otherTeamsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab">
      <%= inline_svg_tag 'icons/search.svg', class: 'size-5' %>
      <span>Find Teams</span>
    </button>
  </div>

  <div id="ownedTeamsTab" data-tabs-target="tab">
    <%= render 'owned_teams', owned_teams: @owned_teams %>
  </div>

  <div id="teamMembershipsTab" data-tabs-target="tab" class="hidden">
    <%= render 'membered_teams', membered_teams: @membered_teams %>
  </div>

  <div id="otherTeamsTab" data-tabs-target="tab" class="hidden">
    <%= render 'other_teams', other_teams: @other_teams %>
  </div>
</div>
