<% content_for :title, "#{@member.default_name} • #{@team.name}" %>

<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="infoTab" class="max-w-3xl px-4 mx-auto my-16">
  <div class="mb-12">
    <div class="mb-6 text-center">
      <h2 class="subheading my-1"><%= @member.default_name %> &amp; <%= @team.name %></h2>
      <%= simple_format "This page displays details about #{@member == current_user ? 'your' : link_to("#{@member.first_name}'s", @member, class: 'btn-link')} membership in the team #{link_to @team.name, @team, class: 'btn-link'}.", class: 'text-soft text-sm text-balance max-w-[80%] mx-auto' %>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <!-- Team Card -->
      <%= link_to @team, data: { turbo: false }, class: 'group' do %>
        <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
          <p class="mb-3 text-lg font-semibold text-slate-700 dark:text-slate-300 lg:text-center">Team</p>
          <div class="flex items-center gap-4 shrink-0">
            <% if @team.photo.attached? %>
              <%= image_tag @team.photo.variant(resize_to_limit: [150, 150]).processed, class: 'size-20 rounded-lg drop-shadow-lg dark:drop-shadow-none object-cover' %>
            <% else %>
              <div class="size-20 bg-slate-200 dark:bg-slate-700 rounded-lg drop-shadow-lg dark:drop-shadow-none grid place-items-center">
                <%= inline_svg_tag 'icons/team.svg', class: 'size-14 text-soft' %>
              </div>
            <% end %>
            <div class="flex-1">
              <p class="text-xl font-bold transition duration-300 ease-in-out group-hover:text-indigo-600 dark:group-hover:text-indigo-500"><%= @team.name %></p>
              <p class="text-soft text-sm">Coach: <%= @team.owner.default_name %></p>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Member Card -->
      <%= link_to @member, data: { turbo: false }, class: 'group' do %>
        <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
          <p class="mb-3 text-lg font-semibold text-slate-700 dark:text-slate-300 lg:text-center">Member</p>
          <div class="flex items-center gap-4 shrink-0">
            <% if @member.avatar.attached? %>
              <%= image_tag @member.avatar.variant(resize_to_limit: [150, 150]).processed, class: 'size-20 rounded-lg drop-shadow-lg dark:drop-shadow-none object-cover' %>
            <% else %>
              <div class="size-20 bg-slate-200 dark:bg-slate-700 rounded-lg drop-shadow-lg dark:drop-shadow-none grid place-items-center">
                <%= inline_svg_tag 'icons/user.svg', class: 'size-14 text-soft' %>
              </div>
            <% end %>
            <div class="flex-1">
              <p class="text-xl font-bold transition duration-300 ease-in-out group-hover:text-indigo-600 dark:group-hover:text-indigo-500">
                <%= @member.default_name %>
                <%= content_tag(:span, '(You)', class: 'text-soft text-xs') if @member == current_user %>
              </p>
              <p class="text-soft text-sm">
                <%= "Coach of #{@team.name}" if @member.owns?(@team) %>
                <%= "Member since #{pretty_date(@team_membership.created_at.to_date, date_style: :absolute)}" unless @member.owns?(@team) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab-container">
    <button type="button" id="infoTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab].blank? || params[:tab] == 'infoTab' ? 'btn-tab-active' : '' %>">
      <%= inline_svg_tag 'icons/info.svg', class: 'size-5 text-soft' %>
      <span>Member Info</span>
    </button>

    <button type="button" id="trendsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'trendsTab' ? 'btn-tab-active' : '' %>">
      <%= inline_svg_tag 'icons/arrow-trending-up.svg', class: 'size-5 text-soft' %>
      <span>Trends</span>
    </button>
  </div>

  <div id="infoTab" data-tabs-target="tab" class="mb-24 <%= params[:tab].blank? || params[:tab] == 'infoTab' ? '' : 'hidden' %>">
    <%= render 'teams/member/member_info', member: @member, team: @team, team_membership: @team_membership %>
  </div>

  <div id="trendsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'trendsTab' ? '' : 'hidden' %>">
    <%= render 'teams/member/trends', member: @member, team: @team %>
  </div>
</div>
