<% content_for :title, "#{@member.default_name} • #{@team.name}" %>

<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="infoTab" class="max-w-3xl mx-auto my-16">
  <div class="mb-12">
    <div class="mb-6 text-center">
      <h2 class="subheading my-1"><%= @member.default_name %> &amp; <%= @team.name %></h2>
      <%= simple_format "This page displays details about #{@member == current_user ? 'your' : link_to("#{@member.first_name}'s", @member, class: 'btn-link')} membership in the team #{link_to @team.name, @team, class: 'btn-link'}.", class: 'text-soft text-sm md:max-w-[80%] md:mx-auto text-pretty' %>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <!-- Team Card -->
      <%= link_to @team, class: 'group' do %>
        <div class="card">
          <p class="mb-3 text-lg font-semibold text-slate-700 dark:text-slate-300 lg:text-center">Team</p>
          <div class="flex items-center gap-4 shrink-0">
            <%= render 'shared/team_photo', team: @team, size: :md %>

            <div class="flex-1">
              <p class="text-xl font-bold transition duration-200 ease-in-out group-hover:text-indigo-600 dark:group-hover:text-indigo-500"><%= @team.name %></p>
              <p class="text-soft text-sm">Coach: <%= @team.owner.default_name %></p>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Member Card -->
      <%= link_to @member, class: 'group' do %>
        <div class="card">
          <p class="mb-3 text-lg font-semibold text-slate-700 dark:text-slate-300 lg:text-center">Member</p>
          <div class="flex items-center gap-4 shrink-0">
            <%= render 'shared/user_photo', user: @member, size: :md %>

            <div class="flex-1">
              <p class="text-xl font-bold transition duration-200 ease-in-out group-hover:text-indigo-600 dark:group-hover:text-indigo-500">
                <%= @member.default_name %>
                <%= content_tag(:span, '(You)', class: 'text-soft text-xs') if @member == current_user %>
              </p>
              <p class="text-soft text-sm">
                <%= "Coach of #{@team.name}" if @member.owns?(@team) %>
                <%= "Member since #{pretty_date(@team_membership.created_at.to_date, date_style: :absolute)}" unless @member.owns?(@team) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="relative flex items-center mb-6">
    <!-- Left Arrow -->
    <button type="button" data-action="mousedown->tabs#scrollLeft" data-tabs-target="leftArrow" class="opacity-0 pointer-events-none tab-container-scroll-left transition duration-300">
      <%= inline_svg_tag 'icons/chevron-left.svg', class: 'size-5 text-soft' %>
    </button>

    <div class="tab-container mx-auto" data-tabs-target="container">
      <!-- Tab Indicator -->
      <span data-tabs-target="indicator" class="sliding-tab-indicator"></span>

      <button type="button" id="infoTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab].blank? || params[:tab] == 'infoTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/info.svg', class: 'size-5' %>
        <span>Member Info</span>
      </button>

      <button type="button" id="badgesTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'badgesTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/medal.svg', class: 'size-5' %>
        <span>Badges</span>
      </button>

      <button type="button" id="trendsTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'trendsTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/arrow-trending-up.svg', class: 'size-5' %>
        <span>Trends</span>
      </button>
    </div>

    <!-- Right Arrow -->
    <button type="button" data-action="mousedown->tabs#scrollRight" data-tabs-target="rightArrow" class="opacity-0 pointer-events-none tab-container-scroll-right transition duration-300">
      <%= inline_svg_tag 'icons/chevron-right.svg', class: 'size-5 text-soft' %>
    </button>
  </div>

  <div id="infoTab" data-tabs-target="tab" class="mb-24 <%= params[:tab].blank? || params[:tab] == 'infoTab' ? '' : 'hidden' %>">
    <%= render 'teams/member/member_info', member: @member, team: @team, team_membership: @team_membership %>
  </div>

  <div id="badgesTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'badgesTab' ? '' : 'hidden' %>">
    <%= render 'teams/member/badges', member: @member, team: @team, team_membership: @team_membership %>
  </div>

  <div id="trendsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'trendsTab' ? '' : 'hidden' %>">
    <%= render 'teams/member/trends', member: @member, team: @team %>
  </div>
</div>
