<% content_for :title, @team.name %>

<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="infoTab" class="max-w-4xl mx-auto my-16">
  <div class="mb-6 text-center">
    <div class="mb-4 flex justify-center">
      <%= render 'shared/team_photo', team: @team, size: :lg %>
    </div>

    <h1 class="heading"><%= @team.name %></h1>
    <h2 class="my-1 text-lg text-slate-700 dark:text-slate-400">
      Coach: <%= link_to @team.owner.default_name, team_member_path(@team, @team.owner), class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-200' %>
    </h2>

    <%= simple_format @team.description, class: 'text-soft text-sm md:max-w-[80%] md:mx-auto text-pretty' unless @team.description.blank? %>

    <div class="flex items-center <%= current_user.member_of?(@team) ? 'justify-between' : 'justify-center' %> mt-4">
      <% if current_user.member_of?(@team) %>
        <div class="relative">
          <%= link_to 'Team Chat', team_topics_path(@team), class: 'btn btn-primary btn-muted' %>

          <% if current_user.any_unread_messages_for_team?(@team) %>
            <span class="absolute -top-1 -right-1 grid place-items-center size-3">
              <span class="motion-reduce:hidden animate-ping-slow absolute inline-flex size-full rounded-full bg-indigo-400 dark:bg-indigo-500 opacity-60"></span>
              <span class="relative inline-flex rounded-full size-3 bg-indigo-500"></span>
            </span>
          <% end %>
        </div>
      <% end %>

      <% if @current_user_member_of_team || @current_user_owns_team %>
        <div
          data-controller="modal"
          data-modal-hide-modal-class="opacity-0 scale-75 pointer-events-none"
          data-modal-show-modal-class="opacity-100 scale-100 pointer-events-auto"
          data-modal-hide-backdrop-class="opacity-0 pointer-events-none"
          data-modal-show-backdrop-class="opacity-100 pointer-events-auto"
          class="relative"
        >
          <div
            data-controller="dropdown"
            data-dropdown-hide-dropdown-class="pointer-events-none scale-75 opacity-0"
            data-dropdown-show-dropdown-class="pointer-events-auto scale-100 opacity-100"
            data-dropdown-icon-open-class="rotate-180"
            data-dropdown-dropdown-open-class="shadow-md"
            class="text-sm rounded-md transition duration-200 ease-in-out"
          >
            <!-- Team Actions Dropdown Trigger -->
            <button
              type="button"
              data-action="mousedown->dropdown#toggle"
              class="dropdown-toggle"
              >
              <span>Actions</span>
              <%= inline_svg_tag 'icons/chevron-down.svg', class: 'size-4 text-soft transition duration-200 ease-in-out', data: { dropdown_target: 'arrowIcon' } %>
            </button>

            <!-- Team Actions Dropdown Menu -->
            <div
              data-dropdown-target="dropdown"
              class="dropdown-menu origin-top-right right-0 top-12"
            >
              <%= render 'teams/shared/team_links', team: @team %>
            </div>
          </div>
          <%= render 'teams/shared/delete_team_modal', team: @team if @current_user_owns_team %>
          <%= render 'teams/shared/leave_team_modal', team: @team if @current_user_member_of_team && !@current_user_owns_team %>
        </div>
      <% else %>
        <%= render 'teams/shared/join_button', team: @team %>
      <% end %>
    </div>
  </div>

  <div class="relative flex items-center mb-6">
    <!-- Left Arrow -->
    <button type="button" data-action="mousedown->tabs#scrollLeft" data-tabs-target="leftArrow" aria-label="Scroll tabs left" class="opacity-0 pointer-events-none tab-container-scroll-left transition duration-300">
      <%= inline_svg_tag 'icons/chevron-left.svg', class: 'size-4 md:size-5 text-soft' %>
    </button>

    <div class="tab-container mx-auto" data-tabs-target="container">
      <!-- Tab Indicator -->
      <span data-tabs-target="indicator" class="sliding-tab-indicator"></span>

      <button type="button" id="infoTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab].blank? || params[:tab] == 'infoTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/info.svg', class: 'size-4 md:size-5' %>
        <span>Team Info</span>
      </button>

      <button type="button" id="membersTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'membersTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/team.svg', class: 'size-4 md:size-5' %>
        <span>Team Members</span>
      </button>

      <% if @current_user_owns_team %>
        <button type="button" id="joinRequestsTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="group btn-tab <%= params[:tab] == 'joinRequestsTab' ? 'btn-tab-active' : '' %>">
          <%= inline_svg_tag 'icons/user-plus.svg', class: 'size-4 md:size-5' %>
          <span>Join Requests</span>
          <% if @join_requests.present? %>
            <span class="rounded-full size-1.5 bg-indigo-500 shrink-0 group-hover:brightness-75 animate-pulse"></span>
          <% end %>
        </button>
      <% end %>

      <% if @current_user_member_of_team %>
        <button type="button" id="rankingsTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'rankingsTab' ? 'btn-tab-active' : '' %>">
          <%= inline_svg_tag 'icons/arrow-transfer-vertical.svg', class: 'size-4 md:size-5' %>
          <span>Rankings</span>
        </button>

        <button type="button" id="trendsTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'trendsTab' ? 'btn-tab-active' : '' %>">
          <%= inline_svg_tag 'icons/arrow-trending-up.svg', class: 'size-4 md:size-5' %>
          <span>Trends</span>
        </button>

        <button type="button" id="featuredTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'featuredTab' ? 'btn-tab-active' : '' %>">
          <%= inline_svg_tag 'icons/star.svg', class: 'size-4 md:size-5' %>
          <span>Featured</span>
        </button>

        <button type="button" id="recentActivityTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'recentActivityTab' ? 'btn-tab-active' : '' %>">
          <%= inline_svg_tag 'icons/clock.svg', class: 'size-4 md:size-5' %>
          <span>Recent Activity</span>
        </button>
      <% end %>
    </div>

    <!-- Right Arrow -->
    <button type="button" data-action="mousedown->tabs#scrollRight" data-tabs-target="rightArrow" aria-label="Scroll tabs right" class="opacity-0 pointer-events-none tab-container-scroll-right transition duration-300">
      <%= inline_svg_tag 'icons/chevron-right.svg', class: 'size-4 md:size-5 text-soft' %>
    </button>
  </div>

  <% cache [@team, "info_tab_#{current_user.id}", @team.season_progress, @team.mileage_goal_progress, @team.long_run_goal_progress], expires_in: 4.hours do %>
    <div id="infoTab" data-tabs-target="tab" class="mb-24 <%= params[:tab].blank? || params[:tab] == 'infoTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/team_info', team: @team %>
    </div>
  <% end %>

  <% cache [@team, "members_tab_#{current_user.id}", @members.count], expires_in: 4.hours do %>
    <div id="membersTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'membersTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/members', team: @team, members: @members %>
    </div>
  <% end %>

  <% if @current_user_owns_team %>
    <% cache [@team, "join_requests_tab_#{current_user.id}", @join_requests.count], expires_in: 4.hours do %>
      <div id="joinRequestsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'joinRequestsTab' ? '' : 'hidden' %>">
        <%= render 'teams/show/join_requests', join_requests: @join_requests %>
      </div>
    <% end %>
  <% end %>

  <% if @current_user_member_of_team %>
    <% cache([@team, "rankings_tab_#{current_user.id}", @members.count], expires_in: 4.hours) do %>
      <div id="rankingsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'rankingsTab' ? '' : 'hidden' %>">
        <%= render 'teams/show/rankings', team: @team %>
      </div>
    <% end %>

    <% cache [@team, "trends_tab_#{current_user.id}", @team.season_progress, @team.mileage_goal_progress, @team.long_run_goal_progress], expires_in: 4.hours do %>
      <div id="trendsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'trendsTab' ? '' : 'hidden' %>">
        <%= render 'teams/show/trends', team: @team %>
      </div>
    <% end %>

    <% cache [@team, "featured_tab_#{current_user.id}", @featured_runs.count], expires_in: 4.hours do %>
      <div id="featuredTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'featuredTab' ? '' : 'hidden' %>">
        <%= render 'teams/show/featured', team: @team %>
      </div>
    <% end %>

    <% cache [@team, "recent_activity_tab_#{current_user.id}", @recent_runs.count], expires_in: 4.hours do %>
      <div id="recentActivityTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'recentActivityTab' ? '' : 'hidden' %>">
        <%= render 'teams/show/recent_activity', team: @team %>
      </div>
    <% end %>
  <% end %>
</div>
