<% content_for :title, @team.name %>

<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="infoTab" class="max-w-3xl px-4 mx-auto my-16">
  <div class="pb-6 text-center">

    <% if @team.photo.attached? %>
      <%= image_tag @team.photo.variant(resize_to_limit: [150, 150]).processed, class: 'size-28 sm:size-32 md:size-36 rounded-lg drop-shadow-lg dark:drop-shadow-none mx-auto mb-4 object-cover' %>
    <% else %>
      <div class="size-28 sm:size-32 md:size-36 bg-slate-200 dark:bg-slate-800 rounded-lg drop-shadow-lg dark:drop-shadow-none grid place-items-center mx-auto mb-4">
        <%= inline_svg_tag 'icons/team.svg', class: 'size-20 sm:size-24 md:size-28 text-soft' %>
      </div>
    <% end %>

    <h1 class="heading"><%= @team.name %></h1>
    <h2 class="my-1 text-lg text-slate-700 dark:text-slate-400">
      Coach: <%= link_to @team.owner.default_name, team_member_path(@team, @team.owner), class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %>
    </h2>

    <%= simple_format @team.description, class: 'text-soft text-sm text-balance max-w-[80%] mx-auto' unless @team.description.blank? %>

    <div class="flex flex-wrap items-center justify-center gap-4 mt-4">
      <%= render 'teams/shared/team_buttons', team: @team %>
      <%= link_to 'Edit personal goals', edit_team_team_membership_path(@team, current_user), data: { turbo: false }, class: 'btn btn-white sm:ml-auto' if current_user.member_of?(@team) %>
    </div>
  </div>

  <div class="tab-container">
    <button type="button" id="infoTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab].blank? || params[:tab] == 'infoTab' ? 'btn-tab-active' : '' %>">
      <%= inline_svg_tag 'icons/info.svg', class: 'size-5 text-soft' %>
      <span>Team Info</span>
    </button>

    <button type="button" id="membersTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'membersTab' ? 'btn-tab-active' : '' %>">
      <%= inline_svg_tag 'icons/team.svg', class: 'size-5 text-soft' %>
      <span>Team Members</span>
    </button>

    <% if current_user.owns?(@team) %>
      <button type="button" id="joinRequestsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'joinRequestsTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/user-plus.svg', class: 'size-5 text-soft' %>
        <span>Join Requests</span>
      </button>
    <% end %>

    <% if current_user.member_of?(@team) %>
      <button type="button" id="rankingsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'rankingsTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/chart-bar.svg', class: 'size-5 text-soft' %>
        <span>Rankings</span>
      </button>

      <button type="button" id="trendsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'trendsTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/arrow-trending-up.svg', class: 'size-5 text-soft' %>
        <span>Trends</span>
      </button>

      <button type="button" id="featuredTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'featuredTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/star.svg', class: 'size-5 text-soft' %>
        <span>Featured</span>
      </button>

      <button type="button" id="recentActivityTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'recentActivityTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/clock.svg', class: 'size-5 text-soft' %>
        <span>Recent Activity</span>
      </button>
    <% end %>
  </div>

  <div id="infoTab" data-tabs-target="tab" class="mb-24 <%= params[:tab].blank? || params[:tab] == 'infoTab' ? '' : 'hidden' %>">
    <%= render 'teams/show/team_info', team: @team %>
  </div>

  <div id="membersTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'membersTab' ? '' : 'hidden' %>">
    <%= render 'teams/show/members', team: @team, members: @members %>
  </div>

  <% if current_user.owns?(@team) %>
    <div id="joinRequestsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'joinRequestsTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/join_requests', join_requests: @join_requests %>
    </div>
  <% end %>

  <% if current_user.member_of?(@team) %>
    <div id="rankingsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'rankingsTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/rankings', team: @team %>
    </div>

    <div id="trendsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'trendsTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/trends', team: @team %>
    </div>

    <div id="featuredTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'featuredTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/featured', team: @team %>
    </div>

    <div id="recentActivityTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'recentActivityTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/recent_activity', team: @team %>
    </div>
  <% end %>
</div>
