<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="pb-6 border-b border-slate-200 dark:border-slate-700 text-center">
    <h1 class="heading"><%= @team.name %></h1>
    <h2 class="text-lg text-slate-700 my-1 dark:text-slate-400">
      <%= link_to @team.owner.display_name.present? ? @team.owner.display_name : @team.owner.username, @team.owner, class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %>
    </h2>

    <% unless @team.description.blank? %>
      <p class="prose dark:prose-invert text-center mx-auto"><%= @team.description %></p>
    <% end %>

    <div class="flex items-center justify-center md:justify-end mt-4">
      <%= render 'team_buttons', team: @team %>
    </div>
  </div>

  <div class="mb-24">
    <%= render 'team_stats', team: @team %>
  </div>

  <div class="mb-24">
    <% if current_user.owns?(@team) && @join_requests.present? %>
      <%= render 'join_requests', join_requests: @join_requests %>
    <% end %>
  </div>

  <div class="mb-24">
    <%= render 'members', members: @members %>
  </div>
</div>
