<% content_for :title, @team.name %>

<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="infoTab" class="max-w-3xl px-4 mx-auto my-16">
  <div class="mb-6 text-center">

    <% if @team.photo.attached? %>
      <%= image_tag @team.photo.variant(resize_to_limit: [150, 150]).processed, class: 'size-28 sm:size-32 md:size-36 rounded-lg drop-shadow-lg dark:drop-shadow-none mx-auto mb-4 object-cover' %>
    <% else %>
      <div class="size-28 sm:size-32 md:size-36 bg-slate-200 dark:bg-slate-800 rounded-lg drop-shadow-lg dark:drop-shadow-none grid place-items-center mx-auto mb-4">
        <%= inline_svg_tag 'icons/team.svg', class: 'size-20 sm:size-24 md:size-28 text-soft' %>
      </div>
    <% end %>

    <h1 class="heading"><%= @team.name %></h1>
    <h2 class="my-1 text-lg text-slate-700 dark:text-slate-400">
      Coach: <%= link_to @team.owner.default_name, team_member_path(@team, @team.owner), class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %>
    </h2>

    <%= simple_format @team.description, class: 'text-soft text-sm md:max-w-[80%] md:mx-auto md:text-balance' unless @team.description.blank? %>

    <div class="flex items-center justify-center md:justify-end mt-4">
      <% if current_user.member_of?(@team) %>
        <div
          data-controller="modal"
          data-modal-hide-modal-class="opacity-0 scale-75 pointer-events-none"
          data-modal-show-modal-class="opacity-100 scale-100 pointer-events-auto"
          data-modal-hide-backdrop-class="opacity-0 pointer-events-none"
          data-modal-show-backdrop-class="opacity-100 pointer-events-auto"
          class="relative"
        >
          <div
            data-controller="dropdown"
            data-dropdown-hide-dropdown-class="pointer-events-none scale-75 opacity-0"
            data-dropdown-show-dropdown-class="pointer-events-auto scale-100 opacity-100"
            data-dropdown-icon-open-class="rotate-180"
            data-dropdown-dropdown-open-class="shadow-md"
            class="text-sm rounded-md transition duration-200 ease-in-out"
          >
            <!-- Team Actions Dropdown Trigger -->
            <button
              type="button"
              data-action="click->dropdown#toggle"
              class="dropdown-toggle"
              >
              <span>Actions</span>
              <%= inline_svg_tag 'icons/chevron-down.svg', class: 'size-4 text-soft transition duration-200 ease-in-out', data: { dropdown_target: 'arrowIcon' } %>
            </button>

            <!-- Team Actions Dropdown Menu -->
            <div
              data-dropdown-target="dropdown"
              class="dropdown-menu origin-top sm:origin-top-right left-1/2 -translate-x-1/2 top-12 sm:right-0 sm:left-auto sm:-translate-x-0"
            >
              <!-- Edit/Join/Leave/Cancel Request Button -->
              <%= render 'teams/shared/team_links', team: @team %>

              <% if current_user.member_of?(@team) %>
                <%= link_to edit_team_team_membership_path(@team, current_user), class: 'dropdown-option' do %>
                  <%= inline_svg_tag 'icons/user-pencil.svg', class: 'size-5' %>
                  Edit personal goals
                <% end %>

                <% unless current_user.owns?(@team) %>
                  <%= link_to team_settings_path(@team), class: 'dropdown-option' do %>
                    <%= inline_svg_tag 'icons/settings.svg', class: 'size-5' %>
                    View team settings
                  <% end %>
                <% end %>
              <% end %>

              <!-- Open Delete Team Modal Button -->
              <% if current_user.owns?(@team) %>
                <button data-action="click->modal#open" data-modal-id="deleteTeam" class="dropdown-option-destructive">
                  <%= inline_svg_tag 'icons/trash.svg', class: 'size-5' %>
                  Delete team
                </button>
              <% end %>
            </div>
          </div>

          <%= render 'teams/shared/leave_team_modal', team: @team if current_user.member_of?(@team) && !current_user.owns?(@team) %>

          <%= render 'teams/shared/delete_team_modal', team: @team if current_user.owns?(@team) %>
        </div>
      <% else %>
        <%= render 'teams/shared/team_buttons', team: @team %>
      <% end %>
    </div>
  </div>

  <div class="relative flex items-center mb-6">
    <!-- Left Arrow -->
    <button type="button" data-action="click->tabs#scrollLeft" data-tabs-target="leftArrow" class="opacity-0 pointer-events-none tab-container-scroll-left transition duration-300">
      <%= inline_svg_tag 'icons/chevron-left.svg', class: 'size-5 text-soft' %>
    </button>

    <div class="tab-container" data-tabs-target="container">
      <button type="button" id="infoTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab].blank? || params[:tab] == 'infoTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/info.svg', class: 'size-5 text-soft' %>
        <span>Team Info</span>
      </button>

      <button type="button" id="membersTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'membersTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/team.svg', class: 'size-5 text-soft' %>
        <span>Team Members</span>
      </button>

      <% if current_user.owns?(@team) %>
        <button type="button" id="joinRequestsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'joinRequestsTab' ? 'btn-tab-active' : '' %>">
          <%= inline_svg_tag 'icons/user-plus.svg', class: 'size-5 text-soft' %>
          <span>Join Requests</span>
        </button>
      <% end %>

      <% if current_user.member_of?(@team) %>
        <button type="button" id="rankingsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'rankingsTab' ? 'btn-tab-active' : '' %>">
          <%= inline_svg_tag 'icons/arrow-transfer-vertical.svg', class: 'size-5 text-soft' %>
          <span>Rankings</span>
        </button>

        <button type="button" id="trendsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'trendsTab' ? 'btn-tab-active' : '' %>">
          <%= inline_svg_tag 'icons/arrow-trending-up.svg', class: 'size-5 text-soft' %>
          <span>Trends</span>
        </button>

        <button type="button" id="featuredTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'featuredTab' ? 'btn-tab-active' : '' %>">
          <%= inline_svg_tag 'icons/star.svg', class: 'size-5 text-soft' %>
          <span>Featured</span>
        </button>

        <button type="button" id="recentActivityTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'recentActivityTab' ? 'btn-tab-active' : '' %>">
          <%= inline_svg_tag 'icons/clock.svg', class: 'size-5 text-soft' %>
          <span>Recent Activity</span>
        </button>
      <% end %>
    </div>

    <!-- Right Arrow -->
    <button type="button" data-action="click->tabs#scrollRight" data-tabs-target="rightArrow" class="opacity-0 pointer-events-none tab-container-scroll-right transition duration-300">
      <%= inline_svg_tag 'icons/chevron-right.svg', class: 'size-5 text-soft' %>
    </button>
  </div>

  <div id="infoTab" data-tabs-target="tab" class="mb-24 <%= params[:tab].blank? || params[:tab] == 'infoTab' ? '' : 'hidden' %>">
    <%= render 'teams/show/team_info', team: @team %>
  </div>

  <div id="membersTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'membersTab' ? '' : 'hidden' %>">
    <%= render 'teams/show/members', team: @team, members: @members %>
  </div>

  <% if current_user.owns?(@team) %>
    <div id="joinRequestsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'joinRequestsTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/join_requests', join_requests: @join_requests %>
    </div>
  <% end %>

  <% if current_user.member_of?(@team) %>
    <div id="rankingsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'rankingsTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/rankings', team: @team %>
    </div>

    <div id="trendsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'trendsTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/trends', team: @team %>
    </div>

    <div id="featuredTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'featuredTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/featured', team: @team %>
    </div>

    <div id="recentActivityTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'recentActivityTab' ? '' : 'hidden' %>">
      <%= render 'teams/show/recent_activity', team: @team %>
    </div>
  <% end %>
</div>
