<% details_view = local_assigns.fetch(:details_view, false) %>

<% if message.present? && message.pinned? %>
  <% link = local_assigns.fetch(:link, true) %>

  <% user = message.user %>
  <% topic = message.topic %>
  <% team = topic.team %>

  <div id="pinned_message" class="grid grid-cols-[auto_1fr] gap-x-1.5 mb-1">
    <div class="flex flex-col justify-end">
      <%= render 'shared/user_photo', user:, size: :thumb, icon_background: :darker unless user == current_user %>
    </div>

    <div class="mt-2 w-full relative">
      <% if current_user.owns?(team) %>
        <%= button_to unpin_team_topic_message_path(team, topic, message), method: :patch, class: "absolute -top-2 -right-2 p-1 rounded-full bg-yellow-500 hover:bg-yellow-400 text-white transition duration-200 ease-in-out" do %>
          <%= inline_svg_tag 'icons/pin-filled.svg', class: 'size-4' %>
          <span class="sr-only">Unpin message</span>
        <% end %>
      <% else %>
        <div class="absolute -top-2 -right-2 p-1 rounded-full bg-yellow-500 text-white">
          <%= inline_svg_tag 'icons/pin-filled.svg', class: 'size-4' %>
        </div>
      <% end %>

      <div class="z-10 p-2 sm:p-3 <%= details_view ? '' : 'pb-1 sm:pb-2' %> rounded-2xl <%= user == current_user ? 'rounded-br-sm' : 'rounded-bl-sm' %> border border-blue-300 bg-blue-50 dark:border-blue-800 dark:bg-blue-950">
        <% if user != current_user || details_view %>
          <p class="font-semibold italic text-xs"><%= user == current_user ? 'You' : message.author_name %></p>
        <% end %>

          <div class="text-pretty text-normal">
            <%= format_message(message) %>
          </div>

        <% unless details_view %>
          <p class="text-xs text-right text-soft">
            <% if message.edited? %>
              <time class="whitespace-nowrap" datetime="<%= message.updated_at.to_formatted_s(:long) %>"><span class="font-semibold">Edited</span> <%= pretty_datetime(message.updated_at, date_style: :relative, include_seconds: false, month_format: :short) %></time>
            <% else %>
              <time class="whitespace-nowrap" datetime="<%= message.created_at.to_formatted_s(:long) %>"><%= pretty_datetime(message.created_at, date_style: :relative, include_seconds: false, month_format: :short) %></time>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>

    <div></div>

    <% if topic.open? %>
      <%= render 'messages/actions', message:, current_user:, pinned: true, link: %>
    <% else %>
      <div class="h-2"></div>
    <% end %>
  </div>
<% else %>
  <div id="pinned_message"></div>
<% end %>
