<% team = topic.team %>

<div class="my-3">
  <p class="text-soft text-sm text-center mb-1">New topic created!</p>

  <div class="flex justify-center">
    <%= link_to team_topic_messages_path(team, topic), data: { turbo: false }, class: 'group flex items-center gap-3 sm:gap-4 p-3 rounded-2xl bg-white dark:bg-slate-800/60 shadow-md dark:shadow-none border border-slate-200 dark:border-slate-700 grow max-w-sm' do %>
      <div class="grid place-items-center size-10 rounded-lg bg-gradient-to-b from-slate-200 to-slate-300 dark:from-slate-700 dark:to-slate-800 shrink-0">
        <%= inline_svg_tag "icons/hashtag.svg", class: 'size-5 text-light' %>
      </div>

      <div class="grow">
        <div class="flex items-center gap-1.5">
          <%= inline_svg_tag 'icons/star-filled.svg', class: 'size-3 text-yellow-400' if topic.favorited_by?(current_user) %>
          <p class='font-bold transition duration-200 ease-in-out group-hover:text-indigo-600 dark:group-hover:text-indigo-500'>
            <%= topic.title %>
          </p>
        </div>
      </div>

      <span class="text-xs whitespace-nowrap text-soft"><%= pretty_datetime(topic.created_at, date_style: :relative, include_seconds: false, month_format: :short) %></span>
    <% end %>
  </div>
</div>
