<div class="pb-6 mt-10 mb-6 space-y-2 border-b dark:border-slate-700">
  <h1 class="heading">Account</h1>
  <p class="text-soft">Edit your account details.</p>
</div>

<%= form_for resource, as: resource_name, url: registration_path(resource_name), data: { controller: "form-validation" }, html: { method: :put, novalidate: true } do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="my-6">
    <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Profile</h2>
    <p class="text-sm text-slate-600 dark:text-slate-400">This information will be visible to other users.</p>
  </div>

  <div class='form-group'>
    <%= f.label :username, class: "form-label" %>

    <div class="relative">
      <%= inline_svg_tag 'icons/user.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
      <%= f.text_field :username, autocomplete: 'username', class: 'form-input pl-10', data: { form_validation_target: 'username', action: 'input->form-validation#validateUsername' } %>
    </div>

    <p class="my-1 help-text">Your username is unique to you and is used to identify your account.</p>
    <p class="hidden my-1 error-message" data-form-validation-target="usernameError">Username can only contain lowercase letters, numbers, underscores, and periods and must be at least 3 characters long</p>
  </div>

  <div class="form-group">
    <%= f.label :display_name, class: "form-label" do %>
      <p> Display name
        <span class="help-text">(optional)</span>
      </p>
    <% end %>

    <div class="relative">
      <%= inline_svg_tag 'icons/profile.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
      <%= f.text_field :display_name, class: 'form-input pl-10', data: { form_validation_target: 'displayName', action: 'input->form-validation#validateDisplayName' } %>
    </div>

    <p class="my-1 help-text">Your display name is not unique and can be added to help other users recognize you.</p>
    <p class="hidden my-1 error-message" data-form-validation-target="displayNameError">Display name must be 100 characters or less</p>
  </div>

  <div data-controller="image-preview" class="form-group">
    <%= f.label :avatar, class: 'form-label' do %>
      <p> Profile photo
        <span class="help-text">(optional)</span>
      </p>
    <% end %>

    <div class="flex items-center gap-x-4">
      <%= image_tag(resource.avatar.attached? ? resource.avatar.variant(resize_to_limit: [100, 100]).processed : '', data: { image_preview_target: 'output' }, class: "size-24 rounded-md drop-shadow-lg dark:drop-shadow-none object-cover #{resource.avatar.blank? ? 'hidden' : ''}") %>
      <div class="space-y-2">
        <%= f.file_field :avatar, accept: 'image/png, image/jpeg', class: 'form-file', data: { image_preview_target: 'input', action: 'image-preview#readURL' } %>
        <button type="button" class="btn btn-white" data-image-preview-target="clearBtn" data-action="image-preview#clearUpload">Clear upload</button>
      </div>
    </div>

    <% if resource.avatar.attached? %>
      <div class="flex items-center gap-2 mt-2">
        <%= f.check_box :remove_avatar, class: 'form-input-checkbox', data: { image_preview_target: 'removeAvatarCheckbox', action: 'image-preview#selectCheckbox' } %>
        <%= f.label :remove_avatar, 'Remove profile photo', class: 'select-none text-sm' %>
      </div>
    <% end %>
  </div>

  <div class="py-10 mt-6 border-t border-slate-200 dark:border-slate-700">
    <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Contact information</h2>
    <p class="text-sm text-slate-600 dark:text-slate-400">Choose whether this information will be visible to other users.</p>
  </div>

  <div class='form-group'>
    <%= f.label :email, class: 'form-label' %>

    <div class="relative">
      <%= inline_svg_tag 'icons/envelope.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
      <%= f.email_field :email, autocomplete: 'email', class: 'form-input pl-10', data: { form_validation_target: 'email', action: 'input->form-validation#validateEmail' } %>
    </div>

    <p class="hidden my-1 error-message" data-form-validation-target="emailError">Invalid email address</p>
    <div class="flex items-center gap-2 mt-2">
      <%= hidden_field_tag 'user[settings][email_visible]', 'false' %>
      <%= f.fields_for :settings do |settings_form| %>
        <%= settings_form.check_box :email_visible, { checked: @user.show_email?, class: 'form-input-checkbox' }, true, false %>
        <%= settings_form.label :email_visible, 'Show email to other users', class: 'select-none text-sm' %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone_number, class: "form-label" do %>
      <p> Phone number
        <span class="help-text">(optional)</span>
      </p>
    <% end %>

    <div class="relative">
      <%= inline_svg_tag 'icons/phone.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
      <%= f.telephone_field :phone_number, autocomplete: 'tel', class: 'form-input pl-10', data: { form_validation_target: 'phone', action: 'input->form-validation#validatePhone input->form-validation#filterPhoneInput' } %>
    </div>

    <p class="hidden my-1 error-message" data-form-validation-target="phoneError">Invalid phone number</p>
    <div class="flex items-center gap-2 mt-2">
      <%= hidden_field_tag 'user[settings][phone_visible]', 'false' %>
      <%= f.fields_for :settings do |settings_form| %>
        <%= settings_form.check_box :phone_visible, { checked: @user.show_phone?, class: 'form-input-checkbox' }, true, false %>
        <%= settings_form.label :phone_visible, 'Show phone number to other users', class: 'select-none text-sm' %>
      <% end %>
    </div>
  </div>

  <div class="py-10 mt-6 border-t border-slate-200 dark:border-slate-700">
    <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Personal details</h2>
    <p class="text-sm text-slate-600 dark:text-slate-400">This information will only be visible to your coaches and other team members.</p>
  </div>

  <div class="form-group">
    <%= f.label :gender, class: 'form-label' do %>
      <p> Gender
        <span class="help-text">(optional)</span>
      </p>
    <% end %>

    <% if resource.any_teams_require_gender? %>
      <div class="relative">
        <%= inline_svg_tag 'icons/gender.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
        <%= f.select :gender, User.genders.keys.map { |gender| [gender.humanize, gender] }, {}, class: 'form-select pl-10' %>
      </div>

      <p class="my-1 help-text">You are a member of <%= pluralize(resource.teams_requiring_gender.count, 'team that requires its members', 'teams that require their members') %> to specify their gender:</p>

      <ul class="pl-4 my-1 list-disc help-text">
        <%= resource.teams_requiring_gender.map { |team| content_tag(:li, link_to(team.name, team, class: 'btn-link')) }.join.html_safe %>
      </ul>

      <p class="my-1 help-text">You must leave <%= resource.teams_requiring_gender.count == 1 ? 'this team' : 'these teams' %> to remove your gender.</p>
    <% else %>
      <div class="relative">
        <%= inline_svg_tag 'icons/gender.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
        <%= f.select :gender, [['Prefer not to answer', '']].concat(User.genders.keys.map { |gender| [gender.humanize, gender] }), {}, class: 'form-select pl-10' %>
      </div>
    <% end %>
  </div>

  <div class="py-10 mt-6 border-t border-slate-200 dark:border-slate-700">
    <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Password</h2>
    <p class="text-sm text-slate-600 dark:text-slate-400">Leave the fields below blank if you don't want to change your password.</p>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'form-label' do %>
      <p> New password
        <span class="help-text">(optional)</span>
      </p>
    <% end %>

    <div data-controller="password-visibility" class="relative">
      <%= inline_svg_tag 'icons/lock.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
      <%= f.password_field :password, autocomplete: 'new-password', class: 'form-input pl-10', data: { form_validation_target: 'newPassword', action: 'input->form-validation#validateNewPassword input->form-validation#validateNewPasswordConfirmation', password_visibility_target: 'password' } %>

      <button type="button" class="absolute right-3 top-1/2 -translate-y-1/2 text-slate-500" data-action="password-visibility#toggle">
        <%= inline_svg_tag 'icons/eye.svg', data: { password_visibility_target: 'visibleIcon' }, class: 'size-5' %>
        <%= inline_svg_tag 'icons/eye-slash.svg', data: { password_visibility_target: 'hiddenIcon' }, class: 'size-5 hidden' %>
      </button>
    </div>
    <p class="my-1 help-text">Leave this blank if you don't want to change your password.</p>

    <div class="hidden" data-form-validation-target="passwordRequirements">
      <p class="my-1 help-text">Password must contain:</p>
      <div class="ml-3">
        <p class="my-1 help-text" data-form-validation-target="passwordLength"><span class="hidden" data-form-validation-target="lengthCheck">&#10004;</span> <span class="hidden" data-form-validation-target="lengthCross">&times;</span> At least 6 characters</p>
        <p class="my-1 help-text" data-form-validation-target="passwordUppercase"><span class="hidden" data-form-validation-target="uppercaseCheck">&#10004;</span> <span class="hidden" data-form-validation-target="uppercaseCross">&times;</span> At least 1 uppercase letter</p>
        <p class="my-1 help-text" data-form-validation-target="passwordLowercase"><span class="hidden" data-form-validation-target="lowercaseCheck">&#10004;</span> <span class="hidden" data-form-validation-target="lowercaseCross">&times;</span> At least 1 lowercase letter</p>
        <p class="my-1 help-text" data-form-validation-target="passwordDigit"><span class="hidden" data-form-validation-target="digitCheck">&#10004;</span> <span class="hidden" data-form-validation-target="digitCross">&times;</span> At least 1 digit</p>
        <p class="my-1 help-text" data-form-validation-target="passwordSpecial"><span class="hidden" data-form-validation-target="specialCheck">&#10004;</span> <span class="hidden" data-form-validation-target="specialCross">&times;</span> At least 1 special character (#?!@$%^&*-)</p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirm new password', class: 'form-label transition duration-300 ease-in-out', data: { form_validation_target: 'newPasswordConfirmationLabel' } %>
    <div data-controller="password-visibility" class="relative">
      <%= inline_svg_tag 'icons/lock-check.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-input pl-10 transition duration-300 ease-in-out', data: { form_validation_target: 'newPasswordConfirmation', action: 'input->form-validation#validateNewPasswordConfirmation', password_visibility_target: 'password' } %>

      <button type="button" class="absolute right-3 top-1/2 -translate-y-1/2 text-slate-500" data-action="password-visibility#toggle">
        <%= inline_svg_tag 'icons/eye.svg', data: { password_visibility_target: 'visibleIcon' }, class: 'size-5' %>
        <%= inline_svg_tag 'icons/eye-slash.svg', data: { password_visibility_target: 'hiddenIcon' }, class: 'size-5 hidden' %>
      </button>
    </div>

    <p class="hidden my-1 error-message" data-form-validation-target="newPasswordConfirmationError">Passwords do not match</p>
    <p class="my-1 text-xs transition-opacity duration-300 ease-in-out text-slate-700 dark:text-slate-400" data-form-validation-target="newPasswordConfirmationHint">Enter your new password again to confirm it.</p>
  </div>

  <div class="form-group">
    <%= f.label :current_password, 'Current password', class: 'form-label' %>
    <div data-controller="password-visibility" class="relative">
      <%= inline_svg_tag 'icons/key.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
      <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-input pl-10', data: { password_visibility_target: 'password' } %>

      <button type="button" class="absolute right-3 top-1/2 -translate-y-1/2 text-slate-500" data-action="password-visibility#toggle">
        <%= inline_svg_tag 'icons/eye.svg', data: { password_visibility_target: 'visibleIcon' }, class: 'size-5' %>
        <%= inline_svg_tag 'icons/eye-slash.svg', data: { password_visibility_target: 'hiddenIcon' }, class: 'size-5 hidden' %>
      </button>
    </div>
    <p class="my-1 text-xs text-slate-700 dark:text-slate-400">Your current password is required to change your password.</p>
  </div>

  <div class="sticky bottom-0 flex items-center gap-4 pt-6 pb-6 bg-white border-t dark:bg-slate-900 border-slate-200 dark:border-slate-700">
    <%= f.submit 'Save changes', data: { turbo: false }, class: 'btn btn-primary mr-auto' %>
    <%= link_to 'Cancel', :back, data: { turbo: false }, class: 'btn btn-white' %>
  </div>
<% end %>

<div class="pt-6 border-t border-slate-200 dark:border-slate-700">
  <h2 class="mb-2 text-lg font-bold text-slate-700 dark:text-slate-200">Danger Zone</h2>
</div>

<div
  data-controller="modal"
  data-modal-hide-modal-class="opacity-0 scale-75 pointer-events-none"
  data-modal-show-modal-class="opacity-100 scale-100 pointer-events-auto"
  data-modal-hide-backdrop-class="opacity-0 pointer-events-none"
  data-modal-show-backdrop-class="opacity-100 pointer-events-auto"
  class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 dark:shadow-none dark:border-slate-700"
>
  <div class="flex flex-wrap gap-4 items-center justify-between pb-6 border-b dark:border-slate-700">
    <div class="max-w-md">
      <p class="font-bold">Sign out</p>
      <p class="help-text">Once you sign out, you will have to enter your credentials again to access your account.</p>
    </div>

    <!-- Open Sign Out Modal Button -->
    <button data-action="click->modal#open" data-modal-id="signOutModal" class="btn btn-destructive btn-outline whitespace-nowrap">
      Sign out
    </button>
  </div>

  <div class="flex flex-wrap gap-4 items-center justify-between pt-6">
    <div>
      <p class="font-bold">Delete your account</p>
      <p class="help-text">Once you delete your account, there is no going back.</p>
    </div>

    <!-- Open Delete Account Modal Button -->
    <button data-action="click->modal#open" data-modal-id="deleteAccountModal" class="btn btn-destructive whitespace-nowrap">
      Delete my account
    </button>
  </div>

  <!-- Sign Out Modal Backdrop -->
  <div
    data-modal-target="backdrop"
    data-modal-id="signOutModal"
    data-action="click->modal#backdropClose"
    class="modal-backdrop opacity-0 pointer-events-none"
  ></div>

  <!-- Sign Out Modal -->
  <div
    id="signOutModal"
    role="dialog"
    tabindex="-1"
    class="modal opacity-0 pointer-events-none"
  >
    <div class="flex flex-col space-y-1.5 text-center sm:text-left">
      <h2 class="text-lg font-semibold leading-none tracking-tight">Sign Out?</h2>
      <p class="text-soft text-sm">You will have to enter your credentials again to access your account.</p>
    </div>

    <div class="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2 mt-4">
      <button data-action="click->modal#close" data-modal-id="signOutModal" type="button" class="btn btn-white mt-2 sm:mt-0">Cancel</button>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'btn btn-destructive w-full whitespace-nowrap' %>
    </div>

    <button data-action="click->modal#close" type="button" data-modal-id="signOutModal" class="absolute right-4 top-4 rounded-sm opacity-70 transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2">
      <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-4' %>
      <span class="sr-only">Close</span>
    </button>
  </div>

  <!-- Delete Account Modal Backdrop -->
  <div
    data-modal-target="backdrop"
    data-modal-id="deleteAccountModal"
    data-action="click->modal#backdropClose"
    class="modal-backdrop opacity-0 pointer-events-none"
  ></div>

  <!-- Delete Account Modal -->
  <div
    id="deleteAccountModal"
    role="dialog"
    tabindex="-1"
    class="modal opacity-0 pointer-events-none"
  >
    <div class="flex flex-col space-y-1.5 text-center sm:text-left">
      <h2 class="text-lg font-semibold leading-none tracking-tight">Delete Account?</h2>
      <p class="text-soft text-sm">Are you sure? This cannot be undone.</p>
    </div>

    <div class="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2 mt-4">
      <button data-action="click->modal#close" data-modal-id="deleteAccountModal" type="button" class="btn btn-white mt-2 sm:mt-0">Cancel</button>
      <%= button_to 'Delete my account',
                    registration_path(resource_name),
                    method: :delete,
                    form: { data: { turbo: false } },
                    class: 'btn btn-destructive w-full whitespace-nowrap'
      %>
    </div>

    <button data-action="click->modal#close" type="button" data-modal-id="deleteAccountModal" class="absolute right-4 top-4 rounded-sm opacity-70 transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2">
      <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-4' %>
      <span class="sr-only">Close</span>
    </button>
  </div>
</div>
