<% content_for :title, 'Settings' %>

<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="accountTab" class="max-w-4xl mx-auto my-16">
  <div class="relative flex items-center mb-6">
    <!-- Left Arrow -->
    <button type="button" data-action="mousedown->tabs#scrollLeft" data-tabs-target="leftArrow" aria-label="Scroll tabs left" class="opacity-0 pointer-events-none tab-container-scroll-left transition duration-300">
      <%= inline_svg_tag 'icons/chevron-left.svg', class: 'size-4 md:size-5 text-soft' %>
    </button>

    <div class="tab-container mx-auto" data-tabs-target="container">
      <!-- Tab Indicator -->
      <span data-tabs-target="indicator" class="sliding-tab-indicator"></span>

      <button type="button" id="accountTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab].blank? || params[:tab] == 'accountTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/profile.svg', class: 'size-4 md:size-5' %>
        <span>Account</span>
      </button>

      <button type="button" id="settingsTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'settingsTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/settings.svg', class: 'size-4 md:size-5' %>
        <span>Settings</span>
      </button>

      <button type="button" id="feedbackTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'feedbackTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/feedback.svg', class: 'size-4 md:size-5' %>
        <span>Feedback</span>
      </button>

      <button type="button" id="helpTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'helpTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/help.svg', class: 'size-4 md:size-5' %>
        <span>Help</span>
      </button>
    </div>

    <!-- Right Arrow -->
    <button type="button" data-action="mousedown->tabs#scrollRight" data-tabs-target="rightArrow" aria-label="Scroll tabs right" class="opacity-0 pointer-events-none tab-container-scroll-right transition duration-300">
      <%= inline_svg_tag 'icons/chevron-right.svg', class: 'size-4 md:size-5 text-soft' %>
    </button>
  </div>

  <div id="accountTab" data-tabs-target="tab" class="mb-24 <%= params[:tab].blank? || params[:tab] == 'accountTab' ? '' : 'hidden' %>">
    <%= render 'edit_user' %>
  </div>

  <div id="settingsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'settingsTab' ? '' : 'hidden' %>">
    <%= render 'users/edit_settings' %>
  </div>

  <div id="feedbackTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'feedbackTab' ? '' : 'hidden' %>">
    <%= render 'users/feedback' %>
  </div>

  <div id="helpTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'helpTab' ? '' : 'hidden' %>">
    <%= render 'users/help' %>
</div>
