<% content_for :title, 'Sign up' %>

<% content_for :masthead do %>
  <div class="text-center">
    <h1 class="heading my-3">Sign up for an account</h1>
    <p class="mb-6 text-slate-700 dark:text-slate-200">
      Already have an account? <%= link_to 'Sign in', new_session_path(resource_name), class: 'btn-link' %>
    </p>
  </div>
<% end %>

<%= render 'auth_layout' do %>
  <%= form_for resource, as: resource_name, url: registration_path(resource_name), data: { controller: 'form-validation' }, html: { novalidate: true } do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, class: 'form-label' %>
      <div class="relative">
        <%= inline_svg_tag 'icons/envelope.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Enter your email', class: 'form-input pl-10', data: { form_validation_target: 'email', action: 'input->form-validation#validateEmail' } %>
      </div>
      <p class="error-message hidden my-1" data-form-validation-target="emailError">Invalid email address</p>
    </div>

    <div class="form-group">
      <%= f.label :username, class: 'form-label' %>
      <div class="relative">
        <%= inline_svg_tag 'icons/user.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
        <%= f.text_field :username, autocomplete: 'username', placeholder: 'Create a username', class: 'form-input pl-10', data: { form_validation_target: 'username', action: 'input->form-validation#validateUsername' } %>
      </div>
      <p class="error-message hidden my-1" data-form-validation-target="usernameError">Username can only contain lowercase letters, numbers, underscores, and periods and must be at least 3 characters long</p>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'form-label' %>
      <div data-controller="password-visibility" class="relative">
        <%= inline_svg_tag 'icons/lock.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
        <%= f.password_field :password, autocomplete: 'new-password', placeholder: 'Create a password', class: 'form-input pl-10', data: { form_validation_target: 'password', action: 'input->form-validation#validatePassword input->form-validation#validatePasswordConfirmation input->form-validation#showPasswordRequirements', password_visibility_target: 'password' } %>

        <button type="button" class="absolute right-1.5 top-1/2 -translate-y-1/2 text-slate-500 size-8 grid place-items-center" data-action="password-visibility#toggle" aria-label="Toggle password visibility">
          <%= inline_svg_tag 'icons/eye.svg', data: { password_visibility_target: 'visibleIcon' }, class: 'size-5' %>
          <%= inline_svg_tag 'icons/eye-slash.svg', data: { password_visibility_target: 'hiddenIcon' }, class: 'size-5 hidden' %>
        </button>
      </div>

      <div class="hidden" data-form-validation-target="passwordRequirements">
        <p class="help-text mt-2">Password must contain:</p>
        <div class="ml-2">
          <p class="help-text my-1 flex items-center gap-1.5" data-form-validation-target="passwordLength">
            <%= inline_svg_tag 'icons/check.svg', class: 'size-3.5 hidden', data: { form_validation_target: 'lengthCheck' } %>
            <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-3.5 hidden', data: { form_validation_target: 'lengthCross' } %>
            <span>At least 6 characters</span>
          </p>
          <p class="help-text my-1 flex items-center gap-1.5" data-form-validation-target="passwordUppercase">
            <%= inline_svg_tag 'icons/check.svg', class: 'size-3.5 hidden', data: { form_validation_target: 'uppercaseCheck' } %>
            <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-3.5 hidden', data: { form_validation_target: 'uppercaseCross' } %>
            <span>At least 1 uppercase letter</span>
          </p>
          <p class="help-text my-1 flex items-center gap-1.5" data-form-validation-target="passwordLowercase">
            <%= inline_svg_tag 'icons/check.svg', class: 'size-3.5 hidden', data: { form_validation_target: 'lowercaseCheck' } %>
            <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-3.5 hidden', data: { form_validation_target: 'lowercaseCross' } %>
            <span>At least 1 lowercase letter</span>
          </p>
          <p class="help-text my-1 flex items-center gap-1.5" data-form-validation-target="passwordDigit">
            <%= inline_svg_tag 'icons/check.svg', class: 'size-3.5 hidden', data: { form_validation_target: 'digitCheck' } %>
            <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-3.5 hidden', data: { form_validation_target: 'digitCross' } %>
            <span>At least 1 digit</span>
          </p>
          <p class="help-text my-1 flex items-center gap-1.5" data-form-validation-target="passwordSpecial">
            <%= inline_svg_tag 'icons/check.svg', class: 'size-3.5 hidden', data: { form_validation_target: 'specialCheck' } %>
            <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-3.5 hidden', data: { form_validation_target: 'specialCross' } %>
            <span>At least 1 special character (#?!@$%^&*-)</span>
          </p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'form-label' %>
      <div data-controller="password-visibility" class="relative">
        <%= inline_svg_tag 'icons/lock-check.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'Confirm your password', class: 'form-input pl-10', data: { form_validation_target: 'passwordConfirmation', action: 'input->form-validation#validatePasswordConfirmation', password_visibility_target: 'password' } %>

        <button type="button" class="absolute right-1.5 top-1/2 -translate-y-1/2 text-slate-500 size-8 grid place-items-center" data-action="password-visibility#toggle" aria-label="Toggle password visibility">
          <%= inline_svg_tag 'icons/eye.svg', data: { password_visibility_target: 'visibleIcon' }, class: 'size-5' %>
          <%= inline_svg_tag 'icons/eye-slash.svg', data: { password_visibility_target: 'hiddenIcon' }, class: 'size-5 hidden' %>
        </button>
      </div>

      <p class="error-message hidden my-1" data-form-validation-target="passwordConfirmationError">Passwords do not match</p>
    </div>

    <%= f.submit 'Sign up', data: { turbo: false }, class: 'btn btn-primary w-full' %>
  <% end %>

  <%= render 'devise/shared/links' %>
<% end %>
