<div class="card">
  <div class="flex items-start gap-4">
    <%= link_to team_member_path(team, member), data: { turbo: false }, class: 'group flex items-start gap-4 flex-1' do %>
      <%= render 'shared/user_photo', user: member, size: :sm %>

      <div class="flex-1">
        <p class='text-lg font-bold transition duration-300 ease-in-out group-hover:text-indigo-600 dark:group-hover:text-indigo-500'>
          <%= member.default_name %>
          <%= content_tag(:span, (member == current_user ? '(You)' : (member.owns?(team) ? '(Coach)' : nil)), class: 'text-soft text-xs') if member == current_user || member.owns?(team) %>
        </p>

        <%= content_tag(:p, member.username, class: 'text-soft text-sm') if member.display_name.present? %>
      </div>
    <% end %>

    <% if current_user.owns?(team) && member != current_user %>
      <div class="shrink-0">
        <%= button_to 'Remove from team', remove_member_team_path(team_id: team.id, user_id: member.id), method: :post, class: 'btn-link-destructive text-xs', data: { confirm: 'Are you sure you want to remove this member?' } %>
      </div>
    <% end %>
  </div>
</div>
