<div class="mt-10 pb-6">
  <div class="flex flex-wrap items-end justify-between gap-4">
    <div>
      <h1 class="heading">Team Members</h1>
      <p class="text-soft">View all members of this team, or search to find a member by their name.</p>
    </div>
    <%= link_to edit_members_team_path(team), class: 'mt-2 btn btn-sm btn-white btn-muted gap-1.5', data: { turbo: false } do %>
      <%= inline_svg_tag 'icons/user-group.svg', class: 'size-3.5' %>
      Manage members
    <% end %>
  </div>
</div>

<%= form_with url: team, method: :get, html: { novalidate: true }, data: { turbo_stream: true, controller: 'search-form' } do |form| %>
  <%= form.label :query, 'Find a team member by name:', class: 'sr-only' %>

  <div class="form-group relative">
    <%= inline_svg_tag 'icons/search.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
    <%= form.search_field :query, placeholder: 'Search...', data: { action: 'input->search-form#search' }, class: 'form-input pl-10' %>
  </div>
<% end %>

<div class="mb-10">
  <%= render 'teams/show/member_list', team:, members: %>
</div>
