<div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
  <h1 class="heading">Team Rankings</h1>
  <p class="text-soft"><%= @current_user_owns_team ? 'View your team’s rankings to see how your athletes stack up against each other.' : 'View your team’s rankings to see how you stack up against the other members.' %></p>
</div>

<div data-controller="filter-gender">
  <% if team.require_gender? %>
    <div class="form-group">
      <%= label_tag :gender_filter, 'Filter by gender', class: 'form-label' %>
      <%= select_tag :gender_filter, options_for_select([['All', 'all'], ['Male', 'male'], ['Female', 'female']]), data: { action: 'change->filter-gender#filter', filter_gender_target: 'filter' }, class: 'form-select' %>
    </div>
  <% end %>

  <%= render 'teams/show/rankings_date_form', team: %>

  <%= render 'teams/show/rankings_table', team:, date_range: @rankings_date_range, date_range_description: @rankings_date_range_description %>
</div>
