<div class="pb-6 mt-10 mb-6 space-y-2 border-b dark:border-slate-700">
  <h1 class="heading">Team Info</h1>
  <p class="text-soft">Information and statistics about this team.</p>
</div>

<%= content_tag(:p, class: 'mb-2 text-right') { link_to 'View your personal progress', team_member_path(team, current_user), class: 'btn-link text-xs' } if current_user.member_of?(team) %>

<!-- Season Dates Card -->
<div class="card mb-6">
  <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Season Dates</h2>
  <% if team.season_dates? %>
    <div class="block mb-4 space-y-2 lg:space-y-0 lg:flex lg:flex-wrap lg:items-center lg:justify-around lg:gap-4">
      <div class="lg:text-center">
        <p class="text-soft">Start Date</p>
        <p class="text-2xl font-semibold">
          <%= pretty_date(team.season_start_date, month_format: :short, date_style: :absolute) %>
        </p>
      </div>

      <div class="lg:text-center">
        <p class="text-soft">End Date</p>
        <p class="text-2xl font-semibold">
          <%= pretty_date(team.season_end_date, month_format: :short, date_style: :absolute) %>
        </p>
      </div>
    </div>

    <% if team.season_not_started_yet? %>
      <p class='my-1 text-soft'>Season hasn't started yet.</p>
    <% else %>
      <%= render 'shared/progress_bar', percentage: team.season_progress, label: 'Season Progress', size: :lg %>

      <p class='my-1 text-xs text-soft'><%= team.season_over? ? 'Season is over.' : "#{pluralize(team.days_remaining_in_season, 'days')} remaining in season." %></p>
    <% end %>
  <% else %>
    <p class="text-soft">No season dates have been set for this team.</p>
  <% end %>
</div>

<div class="grid grid-cols-1 gap-6 lg:grid-cols-2 mb-6">
  <!-- Mileage Goal Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Mileage Goal</h2>
    <% if team.mileage_goal? %>
      <div class="mb-4">
        <p class="text-3xl font-bold">
          <%= team.total_miles_in_season %>
          <span class="text-base font-normal text-soft"><%= 'mile'.pluralize(team.total_miles_in_season) %></span>
        </p>
        <p class="text-soft">of <%= team.mileage_goal %> mile goal</p>
      </div>

      <% if team.season_not_started_yet? %>
        <p class='text-soft'>Season hasn't started yet.</p>
      <% else %>
        <%= render 'shared/progress_bar', percentage: team.mileage_goal_progress, label: 'Mileage Goal Progress' %>

        <% if team.mileage_goal_complete? %>
          <p class='my-1 text-xs text-soft'>Your team met its mileage goal!</p>
        <% else %>
          <p class='my-1 text-xs text-soft'><%= pluralize(team.miles_remaining_in_goal, 'mile') %> remaining</p>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-soft">No mileage goal has been set for this team.</p>
    <% end %>
  </div>

  <!-- Long Runs This Season Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Long Run Goal</h2>
    <% if team.long_run_goal? %>
      <div class="mb-4">
        <p class="text-3xl font-bold">
          <%= team.total_long_runs_in_season %>
          <span class="text-base font-normal text-soft"><%= 'long run'.pluralize(team.total_long_runs_in_season) %></span>
        </p>
        <p class="text-soft">of <%= team.long_run_goal %> long run goal</p>
      </div>

      <% if team.season_not_started_yet? %>
        <p class='text-soft'>Season hasn't started yet.</p>
      <% else %>
        <%= render 'shared/progress_bar', percentage: team.long_run_goal_progress, label: 'Long Run Goal Progress' %>

        <% if team.long_run_goal_complete? %>
          <p class='my-1 text-xs text-soft'>Your team met its long run goal!</p>
        <% else %>
          <p class='my-1 text-xs text-soft'><%= pluralize(team.long_runs_remaining_in_goal, 'long run') %> remaining</p>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-soft">No long run goal has been set for this team.</p>
    <% end %>
  </div>
</div>

<!-- Season Progress vs. Mileage Goal Card -->
<div class="card mb-6">
  <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Season Progress vs. Mileage Goal</h2>
  <% if team.mileage_goal? && team.season_in_progress? %>
    <p class="mb-4"><%= team.mileage_goal_progress_message %></p>

    <%= render 'shared/progress_bar', percentage: team.mileage_goal_progress, label: 'Mileage Goal Progress', marker: team.season_progress, size: :lg %>

    <p class='my-1 text-xs text-soft'>
      <% if team.mileage_goal_complete? %>
        Your team met its <%= team.mileage_goal %> mile goal with <%= pluralize(team.days_remaining_in_season, 'day') %> to spare!
      <% else %>
        Your team has <%= pluralize(team.days_remaining_in_season, 'day') %> to finish the remaining <%= pluralize(team.miles_remaining_in_goal, 'mile') %> of your goal.
      <% end %>
    </p>
  <% elsif team.season_not_started_yet? %>
    <p class='text-soft'>Season hasn't started yet.</p>
  <% elsif team.season_dates? %>
    <p class="text-soft">No mileage goal has been set for this team.</p>
  <% elsif team.mileage_goal? %>
    <p class="text-soft">No season dates have been set for this team.</p>
  <% else %>
    <p class="text-soft">No mileage goal or season dates have been set for this team.</p>
  <% end %>
</div>

<!-- Season Progress vs. Long Run Goal Card -->
<div class="card">
  <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Season Progress vs. Long Run Goal</h2>
  <% if team.long_run_goal? && team.season_in_progress? %>
    <p class="mb-4"><%= team.long_run_goal_progress_message %></p>

    <%= render 'shared/progress_bar', percentage: team.long_run_goal_progress, label: 'Long Run Goal Progress', marker: team.season_progress, size: :lg %>

    <p class='my-1 text-xs text-soft'>
      <% if team.long_run_goal_complete? %>
        Your team met its <%= team.long_run_goal %> long run goal with <%= pluralize(team.days_remaining_in_season, 'day') %> to spare!
      <% else %>
        Your team has <%= pluralize(team.days_remaining_in_season, 'day') %> to finish the remaining <%= pluralize(team.long_runs_remaining_in_goal, 'long run') %> of your goal.
      <% end %>
    </p>
  <% elsif team.season_not_started_yet? %>
    <p class='text-soft'>Season hasn't started yet.</p>
  <% elsif team.season_dates? %>
    <p class="text-soft">No long run goal has been set for this team.</p>
  <% elsif team.long_run_goal? %>
    <p class="text-soft">No season dates have been set for this team.</p>
  <% else %>
    <p class="text-soft">No long run goal or season dates have been set for this team.</p>
  <% end %>
</div>
