<div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
  <h1 class="heading">Team Info</h1>
  <p class="text-soft">Information and statistics about this team.</p>
</div>

<div class="space-y-4 sm:space-y-6">
  <!-- Season Dates Card -->
  <div class="card">
    <div class="flex flex-wrap items-center justify-between gap-1.5 mb-6">
      <h2 class="text-lg font-semibold">Season Dates</h2>
      <% if @current_user_member_of_team %>
        <%= link_to team_calendar_path(team), class: 'btn btn-sm btn-white btn-muted gap-1.5' do %>
          <%= inline_svg_tag 'icons/calendar.svg', class: 'size-3.5' %>
          <span>View calendar</span>
        <% end %>
      <% end %>
    </div>
    <% if team.season_dates? %>
      <div class="block mb-4 space-y-3 lg:space-y-0 lg:flex lg:flex-wrap lg:items-center lg:justify-around lg:gap-4">
        <div class="lg:text-center">
          <p class="text-soft text-sm leading-tight">Start Date</p>
          <p class="text-2xl font-semibold leading-tight">
            <%= pretty_date(team.season_start_date, month_format: :short, date_style: :absolute) %>
          </p>
        </div>

        <div class="lg:text-center">
          <p class="text-soft text-sm leading-tight">End Date</p>
          <p class="text-2xl font-semibold leading-tight">
            <%= pretty_date(team.season_end_date, month_format: :short, date_style: :absolute) %>
          </p>
        </div>
      </div>

      <% if team.season_not_started_yet? %>
        <p class='my-1 text-soft'>Season hasn't started yet.</p>
      <% else %>
        <%= render 'shared/progress_bar', percentage: team.season_progress, label: 'Season Progress', size: :lg %>

        <p class='my-1 text-xs text-soft'><%= team.season_over? ? 'Season is over.' : "#{pluralize(team.days_remaining_in_season, 'days')} remaining in season." %></p>
      <% end %>
    <% else %>
      <p class="text-soft">No season dates have been set for this team.</p>
    <% end %>
  </div>

  <!-- Mileage Goal Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold">Mileage Goal</h2>

    <% if mileage_goal = team.mileage_goal %>
      <% if team.season_in_progress? %>
        <div class="mb-4">
          <p class="text-3xl font-bold">
            <% miles_count = team.total_miles_in_season %>
            <%= number_with_delimiter miles_count %>
            <span class="text-base font-normal text-soft"><%= 'mile'.pluralize(miles_count) %></span>
          </p>
          <p class="text-soft text-sm">of <%= number_with_delimiter mileage_goal %> mile goal</p>
        </div>

        <p class="mb-4 text-pretty"><%= team.mileage_goal_progress_message %></p>

        <%= render 'shared/progress_bar', percentage: team.mileage_goal_progress, label: 'Mileage Goal Progress', marker: team.season_progress, size: :lg %>

        <p class="my-1 text-xs text-soft">
          <% if team.mileage_goal_complete? %>
            The team met its <%= number_with_delimiter mileage_goal %> mile goal with <span class="font-semibold"><%= pluralize(team.days_remaining_in_season, 'day') %></span> to spare!
          <% else %>
            <span class="font-semibold"><%= pluralize(team.days_remaining_in_season, 'day') %></span> to finish the remaining <span class="font-semibold"><%= pluralize(number_with_delimiter(team.miles_remaining_in_goal), 'mile') %></span> of the goal.
          <% end %>
        </p>

        <div class="mt-6">
          <p class="text-lg font-bold">Projections</p>
          <p class="text-xs text-soft">Based on the team&#8217;s current pace</p>

          <div class="flex flex-wrap items-center gap-1.5 mt-2">
            <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/40 min-w-max max-sm:grow">
              <p class="text-sm text-light whitespace-nowrap">Daily required</p>
              <p class="text-xl font-bold">
                <%= team.daily_miles_required %>
                <span class="text-xs font-normal text-light">mi/day</span>
              </p>
            </div>

            <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/40 min-w-max max-sm:grow">
              <p class="text-sm text-light whitespace-nowrap">Current pace</p>
              <p class="text-xl font-bold">
                <%= team.mileage_goal_pace %>
                <span class="text-xs font-normal text-light">mi/day</span>
              </p>
            </div>

            <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/40 min-w-max max-sm:grow">
              <p class="text-sm text-light whitespace-nowrap">Projected total</p>
              <p class="text-xl font-bold">
                <% projected_miles = team.projected_season_miles %>
                <%= number_with_delimiter projected_miles %>
                <span class="text-xs font-normal text-light"><%= 'mile'.pluralize(projected_miles) %></span>
              </p>
            </div>

            <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/40 min-w-max max-sm:grow">
              <p class="text-sm text-light whitespace-nowrap">Projected difference</p>
              <p class="text-xl font-bold">
                <% miles_difference = (projected_miles - mileage_goal).round(2) %>
                <span class="<%= miles_difference.negative? ? 'text-rose-500' : 'text-emerald-500' %>">
                  <%= miles_difference.positive? ? '+' : '' %><%= number_with_delimiter miles_difference %>
                  <span class="text-xs font-normal"><%= 'mile'.pluralize(miles_difference) %></span>
                </span>
              </p>
            </div>

            <% days_to_completion = team.mileage_goal_pace.zero? ? Float::INFINITY : team.miles_remaining_in_goal / team.mileage_goal_pace %>
            <% projected_completion_date = days_to_completion.finite? ? Date.current + days_to_completion : nil %>
            <% if projected_completion_date&.after? Date.current %>
              <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/40 min-w-max max-sm:grow">
                <p class="text-sm text-light whitespace-nowrap">Projected completion</p>
                <p class="text-xl font-bold <%= projected_completion_date.after?(team.season_end_date) ? 'text-rose-500' : 'text-emerald-500' %>">
                  <%= pretty_date(projected_completion_date, date_style: :absolute, month_format: :short) %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% elsif team.season_over? %>
        <div class="mb-4">
          <p class="text-3xl font-bold">
            <% miles_count = team.total_miles_in_season %>
            <%= number_with_delimiter miles_count %>
            <span class="text-base font-normal text-soft"><%= 'mile'.pluralize(miles_count) %></span>
          </p>
          <p class="text-soft text-sm">of <%= number_with_delimiter mileage_goal %> mile goal</p>
        </div>

        <p class="mb-4">
          The season is over. The team completed <%= pluralize(miles_count, 'mile') %>
          <%= team.mileage_goal_complete? ? 'and met its goal!' : "but didn’t reach the goal of #{mileage_goal} miles." %>
        </p>

        <%= render 'shared/progress_bar', percentage: team.mileage_goal_progress, label: 'Long Run Goal Progress', size: :lg %>

      <% elsif team.season_not_started_yet? %>
        <p class="text-soft">Season hasn&#8217;t started yet.</p>
      <% else %>
        <p class="text-soft"> No season dates have been set for this team.</p>
      <% end %>
    <% else %>
      <p class="text-soft">No mileage goal has been set for this team.</p>
    <% end %>
  </div>

  <!-- Long Runs This Season Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold">Long Run Goal</h2>
    <% if long_run_goal = team.long_run_goal %>
      <% if team.season_in_progress? %>
        <div class="mb-4">
          <p class="text-3xl font-bold">
            <% long_runs_count = team.total_long_runs_in_season %>
            <%= number_with_delimiter long_runs_count %>
            <span class="text-base font-normal text-soft"><%= 'long run'.pluralize(long_runs_count) %></span>
          </p>
          <p class="text-soft text-sm">of <%= number_with_delimiter long_run_goal %> long run goal</p>
        </div>

        <p class="mb-4 text-pretty"><%= team.long_run_goal_progress_message %></p>

        <%= render 'shared/progress_bar', percentage: team.long_run_goal_progress, label: 'Long Run Goal Progress', marker: team.season_progress, size: :lg %>

        <p class='my-1 text-xs text-soft'>
          <% if team.long_run_goal_complete? %>
            The team met its <%= long_run_goal %> long run goal with <span class="font-semibold"><%= pluralize(team.days_remaining_in_season, 'day') %></span> to spare!
          <% else %>
            <span class="font-semibold"><%= pluralize(team.days_remaining_in_season, 'day') %></span> to finish the remaining <span class="font-semibold"><%= pluralize(number_with_delimiter(team.long_runs_remaining_in_goal), 'long run') %></span> of the goal.
          <% end %>
        </p>

        <div class="mt-6">
          <p class="text-lg font-bold">Projections</p>
          <p class="text-xs text-soft">Based on the team&#8217;s current pace</p>

          <div class="flex flex-wrap items-center gap-1.5 mt-2">
            <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/40 min-w-max max-sm:grow">
              <p class="text-sm text-light whitespace-nowrap">Weekly required</p>
              <p class="text-xl font-bold">
                <%= team.weekly_long_runs_required %>
                <span class="text-xs font-normal text-light">/week</span>
              </p>
            </div>

            <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/40 min-w-max max-sm:grow">
              <p class="text-sm text-light whitespace-nowrap">Current pace</p>
              <p class="text-xl font-bold">
                <%= team.weekly_long_run_goal_pace %>
                <span class="text-xs font-normal text-light">/week</span>
              </p>
            </div>

            <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/40 min-w-max max-sm:grow">
              <p class="text-sm text-light whitespace-nowrap">Projected total</p>
              <p class="text-xl font-bold">
                <% projected_long_runs = team.projected_season_long_runs %>
                <%= number_with_delimiter projected_long_runs %>
                <span class="text-xs font-normal text-light"><%= 'long run'.pluralize(projected_long_runs) %></span>
              </p>
            </div>

            <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/40 min-w-max max-sm:grow">
              <p class="text-sm text-light whitespace-nowrap">Projected difference</p>
              <p class="text-xl font-bold">
                <% long_runs_difference = (projected_long_runs - long_run_goal).round(2) %>
                <span class="<%= long_runs_difference.negative? ? 'text-rose-500' : 'text-emerald-500' %>">
                  <%= long_runs_difference.positive? ? '+' : '' %><%= number_with_delimiter long_runs_difference %>
                  <span class="text-xs font-normal"><%= 'long run'.pluralize(long_runs_difference) %></span>
                </span>
              </p>
            </div>

            <% days_to_completion = team.long_run_goal_pace.zero? ? Float::INFINITY : team.long_runs_remaining_in_goal / team.long_run_goal_pace %>
            <% projected_completion_date = days_to_completion.finite? ? Date.current + days_to_completion : nil %>
            <% if projected_completion_date&.after? Date.current %>
              <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/40 min-w-max max-sm:grow">
                <p class="text-sm text-light whitespace-nowrap">Projected completion</p>
                <p class="text-xl font-bold <%= projected_completion_date.after?(team.season_end_date) ? 'text-rose-500' : 'text-emerald-500' %>">
                  <%= pretty_date(projected_completion_date, date_style: :absolute, month_format: :short) %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% elsif team.season_over? %>
        <div class="mb-4">
          <p class="text-3xl font-bold">
            <%= long_runs_count = team.total_long_runs_in_season %>
            <span class="text-base font-normal text-soft"><%= 'long run'.pluralize(long_runs_count) %></span>
          </p>
          <p class="text-soft text-sm">of <%= long_run_goal %> long run goal</p>
        </div>

        <p class="mb-4">
          The season is over. The team completed <%= pluralize(long_runs_count, 'long run') %>
          <%= team.long_run_goal_complete? ? 'and met its goal!' : "but didn’t reach the goal of #{long_run_goal} long runs." %>
        </p>

        <%= render 'shared/progress_bar', percentage: team.long_run_goal_progress, label: 'Long Run Goal Progress', size: :lg %>

      <% elsif team.season_not_started_yet? %>
        <p class='text-soft'>Season hasn&#8217;t started yet.</p>
      <% else %>
        <p class="text-soft">No season dates have been set for this team.</p>
      <% end %>
    <% else %>
      <p class="text-soft">No long run goal has been set for this team.</p>
    <% end %>
  </div>

  <% if team.season_dates? && (team.mileage_goal? || team.long_run_goal?) %>
    <% remaining_days = team.days_remaining_in_season %>
    <% completed_days = team.days_completed_in_season %>
    <% if (team.behind_mileage_goal? || team.behind_long_run_goal?) && remaining_days.positive? && completed_days.positive? %>
      <div class="card">
        <h2 class="mb-4 text-lg font-semibold">Goal Recommendations</h2>
        <div class="space-y-2.5">
          <% if team.behind_mileage_goal? %>
            <div class="flex items-center gap-3 md:gap-4 p-3 md:p-4 mt-4 rounded-lg bg-slate-200/40 dark:bg-slate-700/25 border border-slate-200 dark:border-slate-700">
              <div class="p-2.5 rounded-full bg-white dark:bg-slate-700 not-dark:shadow-sm">
                <%= inline_svg_tag 'icons/ruler-filled.svg', class: 'size-5 shrink-0 text-light' %>
              </div>
              <div>
                <p class="text-normal font-semibold">Increase Daily Mileage</p>
                <% member_count = team.filtered_members.count %>
                <% mileage_recommendation = remaining_days.nonzero? ? (team.miles_remaining_in_goal / member_count / remaining_days) : 0 %>
                <% mileage_pace_per_member = completed_days.nonzero? ? (team.total_miles_in_season / member_count / completed_days) : 0 %>
                <% mileage_percentage_difference = mileage_pace_per_member.nonzero? ? ((mileage_recommendation - mileage_pace_per_member) / mileage_pace_per_member * 100).round(2) : 0 %>
                <p class="text-sm text-light text-pretty">To meet your goal, each team member should aim for <%= pluralize(mileage_recommendation.round(2), 'mile') %> per day<%= mileage_pace_per_member == 0 ? '. Your current average is 0 miles per member per day.' : ", which is #{number_with_delimiter(mileage_percentage_difference)}% more than your current average of #{pluralize(mileage_pace_per_member.round(2), 'mile')} per member per day." %></p>
              </div>
            </div>
          <% end %>

          <% if team.behind_long_run_goal? %>
            <div class="flex items-center gap-3 md:gap-4 p-3 md:p-4 mt-4 rounded-lg bg-slate-200/40 dark:bg-slate-700/25 border border-slate-200 dark:border-slate-700">
              <div class="p-2.5 rounded-full bg-white dark:bg-slate-700 not-dark:shadow-sm">
                <%= inline_svg_tag 'icons/runner.svg', class: 'size-5 shrink-0 text-light' %>
              </div>
              <div>
                <p class="text-normal font-semibold">Increase Weekly Long Runs</p>
                <% member_count = team.filtered_members.count %>
                <% long_run_recommendation = remaining_days.nonzero? ? ((team.long_runs_remaining_in_goal / member_count / remaining_days) * 7) : 0 %>
                <% long_run_pace_per_member = completed_days.nonzero? ? ((team.total_long_runs_in_season / member_count / completed_days) * 7) : 0 %>
                <% long_run_percentage_difference = long_run_pace_per_member.nonzero? ? ((long_run_recommendation - long_run_pace_per_member) / long_run_pace_per_member * 100).round(2) : 0 %>
                <p class="text-sm text-light text-pretty">To meet your goal, each team member should aim for <%= pluralize(long_run_recommendation.round(2), 'long run') %> per week<%= long_run_pace_per_member == 0 ? '. Your current average is 0 long runs per member per week.' : ", which is #{number_with_delimiter(long_run_percentage_difference)}% more than your current average of #{pluralize(long_run_pace_per_member.round(2), 'long run')} per member per week." %></p>
              </div>
            </div>
          <% end %>

          <% if (team.behind_long_run_goal? || team.behind_mileage_goal?) && current_user.owns?(team) %>
            <div class="flex items-center gap-3 md:gap-4 p-3 md:p-4 mt-4 rounded-lg bg-slate-200/40 dark:bg-slate-700/25 border border-slate-200 dark:border-slate-700">
              <div class="p-2.5 rounded-full bg-white dark:bg-slate-700 not-dark:shadow-sm">
                <%= inline_svg_tag 'icons/medal-filled.svg', class: 'size-5 shrink-0 text-light' %>
              </div>
              <div>
                <p class="text-normal font-semibold">Adjust Goals if Needed</p>
                <p class="text-sm text-light text-pretty">Consider adjusting your team&#8217;s goals to make them more achievable, or implement a strategy to improve your team&#8217;s performance.</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
