<div class="mb-24">
  <div class="mt-10 mb-6 space-y-1">
    <h2 class="subheading">Miles <%= date_range_description.titlecase %></h2>
    <p class="text-sm text-soft">This graph shows how many miles your team ran collectively <%= date_range_description %>.</p>
  </div>

  <%= render 'shared/column_chart', data: @miles_data, precision: 3, xtitle: 'Date', ytitle: '# of miles' %>
</div>

<div class="mb-24">
  <div class="mt-10 mb-6 space-y-1">
    <h2 class="subheading">Long Runs <%= date_range_description.titlecase %></h2>
    <p class="text-sm text-soft">This graph shows how many long runs your team ran collectively <%= date_range_description %>.</p>
  </div>

  <%= render 'shared/column_chart', data: @long_runs_data, xtitle: 'Date', ytitle: '# of long runs' %>
</div>
