<% user = comment.user %>
<% run = comment.parent_run %>
<% level ||= comment.level %>

<div id="<%= dom_id(comment) %>" class="my-2">
  <div class="grid grid-cols-[auto_1fr] gap-x-3 gap-y-1" data-timestamp="<%= comment.created_at %>">
    <%= render 'shared/user_photo', user:, size: :thumb %>

    <div class="flex">
      <div class="relative">
        <div class="relative z-10">
          <div class="flex items-center gap-2">
            <span class="font-bold text-xs text-rose-600 dark:text-rose-400"><%= user == current_user ? 'You' : comment.author_name %></span>

            <span class="text-xs text-rose-600 dark:text-rose-400 flex items-center gap-2">
              <span class="rounded-full size-0.5 shrink-0 bg-rose-600 dark:bg-rose-400"></span>
              <time datetime="<%= comment.deleted_at.to_formatted_s(:long) %>"><span class="font-semibold">Deleted</span> <span class="whitespace-nowrap"><%= time_ago_custom_format(comment.deleted_at) %> ago</span></time>
            </span>
          </div>

          <div class="text-pretty text-rose-600 dark:text-rose-400 pt-0.5">
            <%= format_message(comment) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if comment.replies.present? %>
    <div
      data-controller="toggle-replies"
      data-toggle-replies-hidden-value="true"
      data-toggle-replies-parent-id-value="<%= comment.id %>"
      data-toggle-replies-button-hide-text-value="Hide <%= pluralize(comment.reply_count, 'reply') %>"
      data-toggle-replies-button-show-text-value="Show <%= pluralize(comment.reply_count, 'reply') %>"
    >
      <div
        data-toggle-replies-target="container"
        class="overflow-hidden h-0 transition-[height] duration-300 ease-in-out"
      >

        <% if level < 4 %>
          <div class="pl-1 ml-1 sm:pl-2.5 sm:ml-2.5 border-l border-slate-300 dark:border-slate-700 relative">
            <div class="inline-flex gap-1 mt-2 text-soft">
              <%= inline_svg_tag 'icons/reply.svg', class: 'size-3.5' %>
              <span class="text-xs">
                Replying to <%= comment.author_name %>
              </span>
            </div>

            <%= render 'comments/comments_list', comments: comment.replies, run:, level: %>
          </div>
        <% else %>
          <div class="inline-flex gap-1 mt-2 text-soft">
            <%= inline_svg_tag 'icons/reply.svg', class: 'size-3.5' %>
            <span class="text-xs">
              Replying to <%= comment.author_name %>
            </span>
          </div>

          <%= render 'comments/comments_list', comments: comment.replies, run:, level: %>
        <% end %>
      </div>

      <button
        data-toggle-replies-target="button"
        data-action="click->toggle-replies#toggleReplies"
        class="ml-2 sm:ml-5 mt-1 flex items-center gap-2 rounded-full hover:bg-slate-200/60 dark:hover:bg-slate-700/40 text-muted hover:text-blue-500 transition duration-200 ease-in-out py-1.5 pl-2 pr-3 w-max cursor-pointer"
      >
        <%= inline_svg_tag 'icons/chevron-down-bold.svg', class: 'size-3.5 transition-transform duration-200 ease-in-out', data: { toggle_replies_target: 'icon' } %>
        <span class="text-xs whitespace-nowrap font-semibold" data-toggle-replies-target="text">
          Show <%= pluralize(comment.reply_count, 'reply') %>
        </span>
      </button>
    </div>
  <% end %>
</div>
