<% reply = comment.replies.find_by(user: current_user) %>

<div id="<%= dom_id(comment, :replies) %>">
  <% if current_user.no_teams_in_common?(comment.parent_run.user) %>
    <% if reply.present? %>
      <div class="p-2 rounded-full flex items-center gap-1 text-emerald-500">
        <%= inline_svg_tag 'icons/reply-filled.svg', class: 'size-4.5 -my-px shrink-0' %>
        <span class="text-xs font-bold text-pink-500"><%= comment.reply_count %></span>
      </div>
    <% else %>
      <div class="p-2 rounded-full flex items-center gap-1">
        <%= inline_svg_tag 'icons/reply.svg', class: 'size-4.5 -my-px shrink-0' %>

        <% if comment.reply_count.positive? %>
          <span class="text-xs font-bold"><%= comment.reply_count %></span>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% if reply.present? %>
      <%= link_to reply_comment_path(comment), data: { turbo_stream: true }, class: 'p-2 rounded-full flex items-center gap-1 hover:bg-emerald-100/60 dark:hover:bg-emerald-900/30 text-emerald-500 transition duration-200 ease-in-out' do %>
        <%= inline_svg_tag 'icons/reply-filled.svg', class: 'size-4.5 -my-px shrink-0' %>
        <span class="sr-only">Comment on comment</span>
        <span class="text-xs font-bold text-emerald-500"><%= comment.reply_count %></span>
      <% end %>
    <% else %>
      <%= link_to reply_comment_path(comment), data: { turbo_stream: true }, class: 'p-2 rounded-full flex items-center gap-1 hover:bg-emerald-100/60 dark:hover:bg-emerald-900/30 hover:text-emerald-500 transition duration-200 ease-in-out' do %>
        <%= inline_svg_tag 'icons/reply.svg', class: 'size-4.5 -my-px shrink-0' %>
        <span class="sr-only">Comment on comment</span>

        <% if comment.reply_count.positive? %>
          <span class="text-xs font-bold"><%= comment.reply_count %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
