<% forgot_password_check = devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<% confirmation_instructions_check = devise_mapping.confirmable? && controller_name != 'confirmations' %>
<% unlock_instructions_check = devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<% omniauth_check = devise_mapping.omniauthable? && controller_name != 'passwords' %>

<%- if forgot_password_check || confirmation_instructions_check || unlock_instructions_check || omniauth_check %>
  <div class="mt-4 space-y-4 text-center">
    <%= link_to 'Forgot password?', new_password_path(resource_name), class: 'btn-link text-sm' if forgot_password_check %>

    <%= link_to 'Didn\'t receive confirmation instructions?', new_confirmation_path(resource_name), class: 'btn-link text-sm' if confirmation_instructions_check %>

    <%= link_to 'Didn\'t receive unlock instructions?', new_unlock_path(resource_name), class: 'btn-link text-sm' if unlock_instructions_check %>

    <div class="flex items-center">
      <hr class="flex-grow border-t dark:border-slate-700">
      <span class="px-3 text-soft text-sm">
        OR
      </span>
      <hr class="flex-grow border-t dark:border-slate-700">
    </div>

    <%- if omniauth_check %>
      <%= button_to user_google_oauth2_omniauth_authorize_path, data: { turbo: 'false' }, class: 'btn btn-white btn-outline gap-2 w-full' do %>
        <%= inline_svg_tag 'icons/google-logo.svg', class: 'size-5' %>
        <%= current_page?(new_user_session_path) ? 'Sign in' : 'Sign up' %> with Google
      <% end %>
    <% end %>
  </div>
<% end %>
