<div class="pb-6 mt-10 mb-6 space-y-2 border-b dark:border-slate-700">
  <h1 class="heading">Team Settings</h1>
  <p class="text-soft">Set preferences for your team to match your needs.</p>
</div>

<%= form_with model: @team, url: team_settings_path(@team), local: true, data: { controller: 'restore-defaults team-gender-fields' } do |form| %>
  <!-- Hidden fields to ensure that unchecked checkboxes submit 'false' -->
  <%= hidden_field_tag 'team[settings][require_gender]', 'false' %>

  <%= form.fields_for :settings do |settings_form| %>
    <div class="my-6">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Join Requirements</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Set the requirements for users to request to join this team.</p>
    </div>

    <div class="form-group">
      <div class="flex items-center gap-2">
        <%= settings_form.check_box :require_gender, { checked: @team.require_gender?, disabled: @team.owner.gender.blank?, class: "form-input-checkbox", data: { restore_defaults_target: 'requireGender', team_gender_fields_target: 'requireGender', action: 'change->team-gender-fields#toggleFields' } }, true, false %>
        <%= settings_form.label :require_gender, 'Require gender', class: "select-none text-sm text-slate-700 dark:text-slate-300" %>
      </div>
      <p class="my-1 help-text"><%= @team.owner.gender.blank? ? 'You cannot require gender for your team if your own gender is not specified.' : 'Require users to specify their gender in order to join this team.' %></p>
    </div>

    <div class="form-group">
      <%= settings_form.label :max_allowed_requests, 'Maximum allowed requests', class: 'form-label' %>
      <%= settings_form.number_field :max_allowed_requests, step: 1, min: 1, value: @team.settings(:join_requirements).max_allowed_requests, class: 'form-input', data: { restore_defaults_target: 'maxAllowedRequests' } %>
      <p class="my-1 help-text">Choose how many times a user can request to join your team before being blocked.</p>
    </div>

    <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Run Settings</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Set the number of miles for a run to count as a "long run".</p>
    </div>

    <div class="form-group <%= @team.require_gender? ? '' : 'hidden' %>" data-team-gender-fields-target="longRunMale">
      <%= settings_form.label :long_run_distance_male, 'Male long run distance', class: 'form-label' %>
      <%= settings_form.number_field :long_run_distance_male, step: 0.1, min: 0.1, value: @team.settings(:runs).long_run_distance_male, class: 'form-input', data: { restore_defaults_target: 'longRunDistanceMale' } %>
    </div>

    <div class="form-group <%= @team.require_gender? ? '' : 'hidden' %>" data-team-gender-fields-target="longRunFemale">
      <%= settings_form.label :long_run_distance_female, 'Female long run distance', class: 'form-label' %>
      <%= settings_form.number_field :long_run_distance_female, step: 0.1, min: 0.1, value: @team.settings(:runs).long_run_distance_female, class: 'form-input', data: { restore_defaults_target: 'longRunDistanceFemale' } %>
    </div>

    <div class="form-group <%= @team.require_gender? ? 'hidden' : '' %>" data-team-gender-fields-target="longRunNeutral">
      <%= settings_form.label :long_run_distance_neutral, 'Long run distance', class: 'form-label' %>
      <%= settings_form.number_field :long_run_distance_neutral, step: 0.1, min: 0.1, value: @team.settings(:runs).long_run_distance_neutral, class: 'form-input', data: { restore_defaults_target: 'longRunDistanceNeutral' } %>
    </div>

    <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">General</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Miscellaneous settings to optimize your experience.</p>
    </div>

    <div class="form-group">
      <%= settings_form.label :week_start, 'Start week on', class: 'form-label' %>
      <%= settings_form.select :week_start, options_for_select([['Sunday', :sunday], ['Monday', :monday], ['Tuesday', :tuesday], ['Wednesday', :wednesday], ['Thursday', :thursday], ['Friday', :friday], ['Saturday', :saturday]], @team.settings(:general).week_start), {}, data: { restore_defaults_target: 'weekStart' }, class: 'form-select' %>
      <p class="my-1 help-text">Choose what day is considered the start of the week.</p>
      <p class="my-1 help-text">This will affect how user's streaks are calculated and how graphs display on your team's page.</p>
    </div>
  <% end %>

  <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
    <button type="button" data-action="restore-defaults#restore" class="btn btn-sm btn-white">Restore defaults</button>
    <p class="my-1 help-text">Reset all settings to their defaults for a fresh start.</p>
  </div>

  <div class="flex items-center gap-6 mt-10">
    <%= form.submit "Save settings", data: { turbo: false }, class: "btn btn-primary mr-auto" %>
    <%= link_to "Cancel", :back, class: "btn btn-white", data: { turbo: false } %>
  </div>
<% end %>
