<div class="pb-6 mt-10 mb-6 space-y-2 border-b dark:border-slate-700">
  <h1 class="heading">Team Settings</h1>
  <p class="text-soft">Set preferences for your team to match your needs.</p>
</div>

<%= form_with model: @team, url: team_settings_path(@team), local: true, data: { controller: 'restore-defaults team-gender-fields' } do |form| %>
  <!-- Hidden fields to ensure that unchecked checkboxes submit 'false' -->
  <%= hidden_field_tag 'team[settings][require_gender]', 'false' %>
  <%= hidden_field_tag 'team[settings][include_saturday]', 'false' %>
  <%= hidden_field_tag 'team[settings][include_sunday]', 'false' %>

  <%= form.fields_for :settings do |settings_form| %>
    <div class="my-6">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Join Requirements</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Set the requirements for users to request to join this team.</p>
    </div>

    <div class="form-group">
      <div class="flex items-center gap-2">
        <%= settings_form.check_box :require_gender, { checked: @team.require_gender?, disabled: @team.owner.gender.blank?, class: "form-input-checkbox", data: { restore_defaults_target: 'requireGender', team_gender_fields_target: 'requireGender', action: 'change->team-gender-fields#toggleFields' } }, true, false %>
        <%= settings_form.label :require_gender, 'Require gender', class: "select-none text-sm text-slate-700 dark:text-slate-300" %>
      </div>
      <p class="my-1 help-text"><%= @team.owner.gender.blank? ? 'You cannot require gender for your team if your own gender is not specified.' : 'Require users to specify their gender in order to join this team.' %></p>
    </div>

    <div class="form-group">
      <%= settings_form.label :max_allowed_requests, 'Maximum allowed requests', class: 'form-label' %>
      <%= settings_form.number_field :max_allowed_requests, step: 1, min: 1, value: @team.settings(:join_requirements).max_allowed_requests, class: 'form-input', data: { restore_defaults_target: 'maxAllowedRequests' } %>
      <p class="my-1 help-text">Choose how many times a user can request to join your team before being blocked.</p>
    </div>

    <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Long Runs</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Set the number of miles for a run to count as a "long run".</p>
    </div>

    <div class="form-group <%= @team.require_gender? ? '' : 'hidden' %>" data-team-gender-fields-target="longRunMale">
      <%= settings_form.label :long_run_distance_male, 'Male long run distance', class: 'form-label' %>
      <%= settings_form.number_field :long_run_distance_male, step: 0.1, min: 0.1, value: @team.long_run_distance_male, class: 'form-input', data: { restore_defaults_target: 'longRunDistanceMale' } %>
    </div>

    <div class="form-group <%= @team.require_gender? ? '' : 'hidden' %>" data-team-gender-fields-target="longRunFemale">
      <%= settings_form.label :long_run_distance_female, 'Female long run distance', class: 'form-label' %>
      <%= settings_form.number_field :long_run_distance_female, step: 0.1, min: 0.1, value: @team.long_run_distance_female, class: 'form-input', data: { restore_defaults_target: 'longRunDistanceFemale' } %>
    </div>

    <div class="form-group <%= @team.require_gender? ? 'hidden' : '' %>" data-team-gender-fields-target="longRunNeutral">
      <%= settings_form.label :long_run_distance_neutral, 'Long run distance', class: 'form-label' %>
      <%= settings_form.number_field :long_run_distance_neutral, step: 0.1, min: 0.1, value: @team.long_run_distance_neutral, class: 'form-input', data: { restore_defaults_target: 'longRunDistanceNeutral' } %>
    </div>

    <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Streaks</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Set the number of miles for a run to count towards a member's run streak.</p>
    </div>

    <div class="form-group <%= @team.require_gender? ? '' : 'hidden' %>" data-team-gender-fields-target="streakMale">
      <%= settings_form.label :streak_distance_male, 'Male streak distance', class: 'form-label' %>
      <%= settings_form.number_field :streak_distance_male, step: 0.1, min: 0.1, value: @team.streak_distance_male, class: 'form-input', data: { restore_defaults_target: 'streakDistanceMale' } %>
    </div>

    <div class="form-group <%= @team.require_gender? ? '' : 'hidden' %>" data-team-gender-fields-target="streakFemale">
      <%= settings_form.label :streak_distance_female, 'Female streak distance', class: 'form-label' %>
      <%= settings_form.number_field :streak_distance_female, step: 0.1, min: 0.1, value: @team.streak_distance_female, class: 'form-input', data: { restore_defaults_target: 'streakDistanceFemale' } %>
    </div>

    <div class="form-group <%= @team.require_gender? ? 'hidden' : '' %>" data-team-gender-fields-target="streakNeutral">
      <%= settings_form.label :streak_distance_neutral, 'Streak distance', class: 'form-label' %>
      <%= settings_form.number_field :streak_distance_neutral, step: 0.1, min: 0.1, value: @team.streak_distance_neutral, class: 'form-input', data: { restore_defaults_target: 'streakDistanceNeutral' } %>
    </div>

    <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Streak Resets</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Choose if weekends can reset your team member's run streaks.</p>
      <p class="my-1 help-text">Leave these boxes unchecked if you want to give your team members the weekends off.</p>
    </div>

    <div class="space-y-4 form-group">
      <div>
        <div class="flex items-center gap-2">
          <%= settings_form.check_box :include_saturday, { checked: @team.include_saturday_in_streak?, class: "form-input-checkbox", data: { restore_defaults_target: 'includeSaturday' } }, true, false %>
          <%= settings_form.label :include_saturday, 'Include Saturdays', class: "select-none text-sm text-slate-700 dark:text-slate-300" %>
        </div>
        <p class="my-1 help-text">Check this box to allow Saturdays to reset your team member's run streaks.</p>
      </div>

      <div>
        <div class="flex items-center gap-2">
          <%= settings_form.check_box :include_sunday, { checked: @team.include_sunday_in_streak?, class: "form-input-checkbox", data: { restore_defaults_target: 'includeSunday' } }, true, false %>
          <%= settings_form.label :include_sunday, 'Include Sundays', class: "select-none text-sm text-slate-700 dark:text-slate-300" %>
        </div>
        <p class="my-1 help-text">Check this box to allow Sundays to reset your team member's run streaks.</p>
      </div>
    </div>

    <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">General</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Miscellaneous settings to optimize your experience.</p>
    </div>

    <div class="form-group">
      <%= settings_form.label :week_start, 'Start week on', class: 'form-label' %>
      <%= settings_form.select :week_start, options_for_select([['Sunday', :sunday], ['Monday', :monday], ['Tuesday', :tuesday], ['Wednesday', :wednesday], ['Thursday', :thursday], ['Friday', :friday], ['Saturday', :saturday]], @team.settings(:general).week_start), {}, data: { restore_defaults_target: 'weekStart' }, class: 'form-select' %>
      <p class="my-1 help-text">Choose what day is considered the start of the week.</p>
    </div>
  <% end %>

  <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
    <%= form.label :copy_from_team_id, 'Copy settings from:', class: 'form-label' %>
    <%= form.collection_select :copy_from_team_id, current_user.owned_teams.reject { |team| team == @team }, :id, :name, { prompt: 'Select a team' }, { class: 'form-select' } %>
    <p class="my-1 help-text">Copy settings from one of your other teams.</p>
  </div>

  <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
    <button type="button" data-action="restore-defaults#restore" class="btn btn-sm btn-white">Restore defaults</button>
    <p class="my-1 help-text">Reset all settings to their defaults for a fresh start.</p>
  </div>

  <div class="sticky bottom-0 flex items-center gap-6 pt-6 pb-6 bg-white border-t dark:bg-slate-900 border-slate-200 dark:border-slate-700">
    <%= form.submit 'Save settings', class: 'btn btn-primary mr-auto', data: { turbo: false } %>
    <%= link_to 'Cancel', :back, class: 'btn btn-white', data: { turbo: false } %>
  </div>
<% end %>
