<%= form_with model: @team, data: { controller: "form-validation" }, html: { novalidate: true } do |form| %>
  <% if @team.errors.any? %>
    <div id="error_explanation" data-turbo-cache="false">
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                  count: @team.errors.count,
                  resource: @team.class.model_name.human.downcase)
        %>
      </h2>
      <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, autofocus: true, class: 'form-input', data: { form_validation_target: 'teamName', action: 'input->form-validation#validateTeamName' } %>
    <span class="error-message hidden my-1" data-form-validation-target="teamNameError">Name cannot be blank</span>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'form-label' do %>
      <p> Description
        <span class="help-text">(optional)</span>
      </p>
    <% end %>
    <%= form.text_area :description, placeholder: 'Add a description...', class: 'form-input', data: { controller: 'autogrow', form_validation_target: 'teamDescription', action: 'input->autogrow#grow input->form-validation#validateTeamDescription' } %>
    <span class="error-message hidden my-1" data-form-validation-target="teamDescriptionError">Description must be 500 characters or less</span>
    <p class="help-text my-1">Maximum 500 characters</p>
  </div>

  <% unless form.object.new_record? %>
    <div data-controller="image-preview" class="form-group">
      <%= form.label :photo, class: 'form-label' do %>
        <p> Profile photo
          <span class="help-text">(optional)</span>
        </p>
      <% end %>
      <%= image_tag(@team.photo.attached? ? @team.photo.variant(resize_to_limit: [100, 100]).processed : '', data: { image_preview_target: 'output' }, class: "size-24 rounded-md drop-shadow-lg dark:drop-shadow-none object-cover #{@team.photo.blank? ? 'hidden' : ''}") %>

      <%= form.file_field :photo, accept: 'image/png, image/jpeg', class: 'form-file my-2', data: { image_preview_target: 'input', action: 'image-preview#readURL' } %>

      <button type="button" class="btn btn-white" data-image-preview-target="clearBtn" data-action="image-preview#clearUpload">Clear upload</button>

      <% if @team.photo.attached? %>
        <div class="flex items-center gap-2 mt-2">
          <%= form.check_box :remove_photo, class: 'form-input-checkbox', data: { image_preview_target: 'removephotoCheckbox', action: 'image-preview#selectCheckbox' } %>
          <%= form.label :remove_photo, 'Remove profile photo', class: 'select-none text-sm' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :season_start_date, class: 'form-label' do %>
      <p> Season start date
        <span class="help-text">(optional)</span>
      </p>
    <% end %>
    <%= form.date_field :season_start_date, value: form.object.new_record? ? nil : @team.season_start_date, class: 'form-input', data: { form_validation_target: "seasonStartDate", action: "input->form-validation#validateSeasonEndDate" } %>
  </div>

  <div class="form-group">
    <%= form.label :season_end_date, class: 'form-label transition duration-300 ease-in-out', data: { form_validation_target: 'seasonEndDateLabel' } do %>
      <p> Season end date
        <span class="help-text">(optional)</span>
      </p>
    <% end %>
    <%= form.date_field :season_end_date, value: form.object.new_record? ? nil : @team.season_end_date, class: 'form-input', data: { form_validation_target: "seasonEndDate", action: "input->form-validation#validateSeasonEndDate" } %>
    <span class="error-message hidden my-1" data-form-validation-target="seasonEndDateError">Season end date must be after season start date</span>
  </div>

  <div class="form-group">
    <%= form.label :mileage_goal, class: 'form-label' do %>
      <p> Mileage goal
        <span class="help-text">(optional)</span>
      </p>
    <% end %>
    <%= form.number_field :mileage_goal, step: 1, min: 0, class: 'form-input', data: { form_validation_target: "mileageGoal", action: "input->form-validation#validateMileageGoal" } %>
    <span class="error-message hidden my-1" data-form-validation-target="milageGoalError">Mileage goal must be a positive number</span>
  </div>

  <div class="flex items-center justify-start flex-wrap gap-6">
    <% if form.object.new_record? %>
      <%= form.submit 'Create team', data: { turbo: false }, class: 'btn btn-primary' %>
    <% else %>
      <%= form.submit 'Update team', data: { turbo: false }, class: 'btn btn-primary' %>

      <%= link_to 'Delete team', @team,
                      class: 'btn btn-destructive btn-outline mr-auto',
                      data: {
                        turbo_method: :delete,
                        turbo_confirm: 'Are you sure you want to delete this team?'
                      } %>
    <% end %>

    <%= link_to 'Cancel', :back, data: { turbo: false }, class: 'btn btn-white' %>
  </div>
<% end %>
