<% if current_page?(search_path) %>
  <div class="flex items-center gap-1.5 text-slate-800 dark:text-slate-100 mb-1">
    <%= inline_svg_tag 'icons/team.svg', class: 'size-4' %>
    <p class="text-slate-800 dark:text-slate-100 text-sm mt-0.5">Team</p>
  </div>
<% end %>

<div class="flex items-center flex-wrap gap-4">
  <% if team.photo.attached? %>
    <%= link_to team, data: { turbo: false } do %>
      <%= image_tag team.photo.variant(resize_to_limit: [100, 100]).processed, class: 'size-16 rounded-lg drop-shadow-lg dark:drop-shadow-none' %>
    <% end %>
  <% end %>

  <div class="mr-auto">
    <%= content_tag(:p, 'Your team', class: 'help-text') if current_user.owns?(team) %>

    <p class="subheading mb-0.5"><%= link_to team.name, team, data: { turbo: false }, class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %></p>

    <% if team.season_dates? %>
      <p class="text-soft text-sm mt-1">
        Season <%= team.season_start_date.after?(Date.today) ? 'starts' : 'started' %> <%= pretty_date(team.season_start_date) %>
      </p>
    <% end %>

    <p class="help-text">
      Coach: <%= link_to team.owner.default_name, team_member_path(team, team.owner), data: { turbo: false }, class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %>
    </p>

    <%= link_to "View #{@user == current_user ? 'your' : "#{@user.default_name}'s"} member page", team_member_path(team, @user), class: 'btn-link text-xs' if @user.present? && !@user.owns?(team) && current_page?(user_path(@user)) %>
  </div>
  <%= render 'teams/shared/team_buttons', team: team %>
</div>

<% if show_members && team.any_members_in_common?(current_user) && !current_user.member_of?(team) %>
  <p class="help-text mt-1">
    <span>Members you know:</span>
    <%= list(items: team.members_in_common(current_user).map { |user| link_to(user.default_name, team_member_path(team, user), data: { turbo: false }, class: 'btn-link') }).html_safe %>
  </p>
<% end %>
