<div class="bg-slate-50/85 dark:bg-slate-800/85 divide-y rounded-lg border p-6 shadow backdrop-blur-sm dark:divide-slate-700 dark:border-slate-700 dark:shadow-none">
  <div class="flex items-start gap-4">
    <%= link_to team, data: { turbo: false }, class: 'shrink-0' do %>
      <% if team.photo.attached? %>
        <%= image_tag team.photo.variant(resize_to_limit: [100, 100]).processed, class: 'size-12 rounded-lg drop-shadow-lg dark:drop-shadow-none object-cover' %>
      <% else %>
        <div class="size-12 bg-slate-200 dark:bg-slate-700 rounded-lg drop-shadow-lg dark:drop-shadow-none grid place-items-center">
          <%= inline_svg_tag 'icons/team.svg', class: 'size-8 text-soft' %>
        </div>
      <% end %>
    <% end %>

    <div class="flex-1">
      <p class="text-lg font-bold">
        <%= link_to team.name, team, data: { turbo: false }, class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %>
      </p>

      <p class="text-soft text-sm">
        Coach: <%= link_to team.owner.default_name, team_member_path(team, team.owner), data: { turbo: false }, class: 'hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %>
      </p>
    </div>

    <div class="shrink-0">
      <%= render 'teams/shared/team_buttons', team: team %>
    </div>
  </div>

  <% season_dates_check = team.season_dates? %>
  <% show_members_check = show_members && team.any_members_in_common?(current_user) && !current_user.member_of?(team) %>
  <% member_page_check = @user.present? && !@user.owns?(team) && current_page?(user_path(@user)) %>

  <% if season_dates_check || show_members_check || member_page_check %>
    <div class="mt-4 space-y-2 border-t pt-4 dark:border-slate-700">
      <% if season_dates_check %>
        <div class="flex items-center gap-1.5">
          <%= inline_svg_tag 'icons/calendar.svg', class: 'size-4 text-soft shrink-0' %>
          <p class="text-soft text-xs">Season: <%= pretty_date(team.season_start_date, month_format: :short, date_style: :absolute) %> &ndash; <%= pretty_date(team.season_end_date, month_format: :short, date_style: :absolute) %></p>
        </div>
      <% end %>

      <% if show_members_check %>
        <div class="flex items-start gap-1.5">
          <%= inline_svg_tag 'icons/user.svg', class: 'size-4 text-soft shrink-0' %>
          <p class="text-soft text-xs">Members: <%= list(items: team.members_in_common(current_user).map { |user| link_to(user.default_name, team_member_path(team, user), data: { turbo: false }, class: 'btn-link') }).html_safe %></p>
        </div>
      <% end %>

      <%= link_to "View #{@user == current_user ? 'your' : "#{@user.first_name}'s"} member page", team_member_path(team, @user), class: 'btn-link text-xs' if member_page_check %>
    </div>
  <% end %>
</div>
