<% current_page_team = current_page?(team_path(team)) %>

<% if @current_user_owns_team %>
  <%= link_to edit_team_path(team), class: 'dropdown-option-primary', data: { turbo: false } do %>
    <%= inline_svg_tag 'icons/pencil.svg', class: 'size-5' %>
    Edit team
  <% end %>

  <%= link_to edit_team_path(team, tab: 'settingsTab'), class: 'dropdown-option', data: { turbo: false } do %>
    <%= inline_svg_tag 'icons/settings.svg', class: 'size-5' %>
    Edit settings
  <% end %>
<% end %>

<%= link_to edit_team_team_membership_path(team, current_user), class: @current_user_owns_team ? 'dropdown-option' : 'dropdown-option-primary' do %>
  <%= inline_svg_tag 'icons/user-pencil.svg', class: 'size-5' %>
  Edit personal goals
<% end %>

<% if @current_user_owns_team %>
  <button data-action="mousedown->modal#open" data-modal-id="deleteTeam" class="dropdown-option-destructive">
    <%= inline_svg_tag 'icons/trash.svg', class: 'size-5' %>
    Delete team
  </button>
<% else %>
  <%= link_to team_settings_path(team), class: 'dropdown-option' do %>
    <%= inline_svg_tag 'icons/settings.svg', class: 'size-5' %>
    View team settings
  <% end %>

  <button data-action="mousedown->modal#open" data-modal-id="leaveTeam" class="dropdown-option-destructive">
    <%= inline_svg_tag 'icons/log-out.svg', class: 'size-5' %>
    Leave team
  </button>
<% end %>
