<% member_is_current = member == current_user %>

<div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
  <h1 class="heading">Badges</h1>
  <p class="text-soft">Badges <%= member_is_current ? 'you have' : "#{member.first_name} has" %> earned by reaching streak, mileage, and long run milestones.</p>
</div>

<!-- Current Streak, Miles, & Long Runs Data -->
<% current_streak_data = member.current_streak(team) %>
<% current_streak = current_streak_data[:streak] %>
<% current_streak_start_date = current_streak_data[:start_date] %>
<% current_streak_end_date = current_streak_data[:end_date] %>

<% miles = member.total_miles %>
<% long_runs = member.total_long_runs(team) %>

<!-- Milestone Increments -->
<% streaks_increment = team.streaks_increment %>
<% mileage_increment = team.mileage_increment %>
<% long_runs_increment = team.long_runs_increment %>

<div class="space-y-6">
  <!-- Streak Badges Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Streak Milestones</h2>
    <div class="flex flex-wrap items-center gap-2 mb-6">
      <% next_streak_milestone = streaks_increment %>
      <% if current_streak < streaks_increment %>
        <p class="my-1 text-soft">No streak badges earned yet.</p>
      <% else %>
        <% last_streak_milestone = 0 %>
        <% while current_streak >= last_streak_milestone %>
          <%= render 'teams/member/streak_badge', percentage: ((current_streak - last_streak_milestone) / (next_streak_milestone - last_streak_milestone).to_f * 100).round(1), days: next_streak_milestone %>
          <% last_streak_milestone = next_streak_milestone %>
          <% next_streak_milestone += streaks_increment %>
        <% end %>
        <%= render 'teams/member/streak_badge', percentage: ((current_streak - last_streak_milestone) / (next_streak_milestone - last_streak_milestone).to_f * 100).round(1), days: next_streak_milestone %>
      <% end %>
    </div>

    <%= render 'shared/progress_bar', percentage: (current_streak / next_streak_milestone.to_f * 100).round(1), label: "Progress towards #{next_streak_milestone} day streak" %>
    <p class="my-1 text-soft text-xs"><%= current_streak %>/<%= next_streak_milestone %> days</p>
  </div>

  <!-- Mileage Badges Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Mileage Milestones</h2>
    <div class="flex flex-wrap items-center gap-2 mb-6">
      <% next_mileage_milestone = mileage_increment %>
      <% if miles < mileage_increment %>
        <p class="my-1 text-soft">No mileage badges earned yet.</p>
      <% else %>
        <% last_mileage_milestone = 0 %>
        <% while miles >= last_mileage_milestone %>
          <%= render 'teams/member/miles_badge', percentage: ((miles - last_mileage_milestone) / (next_mileage_milestone - last_mileage_milestone).to_f * 100).round(1), miles: next_mileage_milestone %>
          <% last_mileage_milestone = next_mileage_milestone %>
          <% next_mileage_milestone += mileage_increment %>
        <% end %>
        <%= render 'teams/member/miles_badge', percentage: ((miles - last_mileage_milestone) / (next_mileage_milestone - last_mileage_milestone).to_f * 100).round(1), miles: next_mileage_milestone %>
      <% end %>
    </div>

    <%= render 'shared/progress_bar', percentage: (miles / next_mileage_milestone.to_f * 100).round(1), label: "Progress towards #{next_mileage_milestone} mile milestone" %>
    <p class="my-1 text-soft text-xs"><%= miles %>/<%= next_mileage_milestone %> miles</p>
  </div>

  <!-- Long Run Badges Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Long Run Milestones</h2>
    <div class="flex flex-wrap items-center gap-2 mb-6">
      <% next_long_run_milestone = long_runs_increment %>
      <% if long_runs < long_runs_increment %>
        <p class="my-1 text-soft">No long run badges earned yet.</p>
      <% else %>
        <% last_long_run_milestone = 0 %>
        <% while long_runs >= last_long_run_milestone %>
          <%= render 'teams/member/long_run_badge', percentage: ((long_runs - last_long_run_milestone) / (next_long_run_milestone - last_long_run_milestone).to_f * 100).round(1), runs: next_long_run_milestone %>
          <% last_long_run_milestone = next_long_run_milestone %>
          <% next_long_run_milestone += long_runs_increment %>
        <% end %>
        <%= render 'teams/member/long_run_badge', percentage: ((long_runs - last_long_run_milestone) / (next_long_run_milestone - last_long_run_milestone).to_f * 100).round(1), runs: next_long_run_milestone %>
      <% end %>
    </div>

    <%= render 'shared/progress_bar', percentage: (long_runs / next_long_run_milestone.to_f * 100).round(1), label: "Progress towards #{next_long_run_milestone} mile long run" %>
    <p class="my-1 text-soft text-xs"><%= long_runs %>/<%= next_long_run_milestone %> miles</p>
  </div>
</div>
