<% member_is_current = member == current_user %>

<div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
  <h1 class="heading">Member Info</h1>
  <p class="text-soft">Information and statistics about <%= member_is_current ? 'your' : "#{member.first_name}’s" %> participation in <span class="font-semibold italic"><%= team.name %></span>.</p>
</div>

<div class="mb-4">
  <%= render 'users/select_team_dropdown', user: member, team: %>
</div>

<div class="card mb-4">
  <div class="flex flex-wrap items-center justify-between gap-2 mb-6">
    <h2 class="text-lg font-semibold text-slate-700 dark:text-slate-300">Team Season Dates</h2>
    <%= link_to team_member_calendar_path(team, member), class: 'btn btn-sm btn-white btn-muted gap-1.5' do %>
      <%= inline_svg_tag 'icons/calendar.svg', class: 'size-3.5' %>
      <span>View calendar</span>
    <% end %>
  </div>
  <% if team.season_dates? %>
    <div class="block mb-4 space-y-2 lg:space-y-0 lg:flex lg:flex-wrap lg:items-center lg:justify-around lg:gap-4">
      <div class="lg:text-center">
        <p class="text-soft">Start Date</p>
        <p class="text-2xl font-semibold">
          <%= pretty_date(team.season_start_date, month_format: :short, date_style: :absolute) %>
        </p>
      </div>

      <div class="lg:text-center">
        <p class="text-soft">End Date</p>
        <p class="text-2xl font-semibold">
          <%= pretty_date(team.season_end_date, month_format: :short, date_style: :absolute) %>
        </p>
      </div>
    </div>

    <% if team.season_not_started_yet? %>
      <p class='my-1 text-soft'>Season hasn&#8217;t started yet.</p>
    <% else %>
      <%= render 'shared/progress_bar', percentage: team.season_progress, label: 'Season Progress', size: :lg %>

      <p class='my-1 text-xs text-soft'><%= team.season_over? ? 'Season is over.' : "#{pluralize(team.days_remaining_in_season, 'days')} remaining in season." %></p>
    <% end %>
  <% else %>
    <p class="text-soft">No season dates have been set for this team.</p>
  <% end %>
</div>

<div class="grid grid-cols-1 gap-4 lg:grid-cols-2 mb-4">
  <!-- Current Streak Card -->
  <%= render 'shared/user_current_streak_card', user: member, team:, streak_data: @current_streak_data %>

  <!-- Record Streak Card -->
  <%= render 'shared/user_record_streak_card', user: member, team:, streak_data: @record_streak_data %>
</div>

<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 mb-4">
  <!-- Total Miles Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Total Miles</h2>
    <p class="text-3xl font-bold">
      <% miles_count = member.total_miles %>
      <%= number_with_delimiter miles_count %>
      <span class="text-base font-normal text-soft"><%= 'mile'.pluralize(miles_count) %></span>
    </p>

    <p class="text-soft text-sm font-semibold mt-2">
      <% miles_per_week_start_date = [member.created_at.to_date, member.oldest_run_date].compact.min %>
      <% avg_miles_per_week = (miles_count.to_f / ((Date.current - miles_per_week_start_date).to_f / 7)).round(1) %>
      Avg. per week: <%= avg_miles_per_week %> mi
    </p>
  </div>

  <!-- Total Running Time Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Total Running Time</h2>
    <div class="font-bold flex flex-wrap items-end gap-x-4 gap-y-1">
      <% total_duration = member.total_duration %>
      <% precise_time_ago(total_duration, format: :short).split(' ').each do |time_part| %>
        <% if time_part.include?('mo') %>
          <div>
            <span class="text-3xl"><%= time_part.chop.chop %></span><sup class="text-muted dark:text-soft text-base font-semibold align-super"><%= time_part.last(2) %></sup>
          </div>
        <% else %>
          <div>
            <span class="text-3xl"><%= time_part.chop %></span><sup class="text-muted dark:text-soft text-base font-semibold align-super"><%= time_part.last %></sup>
          </div>
        <% end %>
      <% end %>
    </div>

    <p class="text-soft text-sm font-semibold mt-2">
      <% time_per_week_start_date = [member.created_at.to_date, member.oldest_run_date].compact.min %>
      <% avg_time_per_week = total_duration / ((Date.current - time_per_week_start_date).to_f / 7) %>
      Avg. per week: <%= precise_time_ago(avg_time_per_week, format: :short) %>
    </p>
  </div>

  <!-- Total Runs Logged Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Total Runs Logged</h2>
    <p class="text-3xl font-bold">
      <% runs_count = member.runs.count %>
      <%= number_with_delimiter runs_count %>
      <span class="text-base font-normal text-soft"><%= 'run'.pluralize(runs_count) %></span>
    </p>

    <p class="text-soft text-sm font-semibold mt-2">
      <% runs_per_week_start_date = [member.created_at.to_date, member.oldest_run_date].compact.min %>
      <% avg_runs_per_week = (runs_count.to_f / ((Date.current - runs_per_week_start_date).to_f / 7)).round(1) %>
      Avg. per week: <%= pluralize(avg_runs_per_week, 'run') %>
    </p>
  </div>

  <!-- Farthest Run Card -->
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Farthest Run</h2>
    <p class="text-3xl font-bold">
      <% farthest_run = member.farthest_run %>
      <% if farthest_run.present? %>
        <%= miles_count = farthest_run.distance %>
        <span class="text-base font-normal text-soft"><%= 'mile'.pluralize(miles_count) %></span>
      <% else %>
        <span class="text-base font-normal text-soft">No runs logged</span>
      <% end %>
    </p>

    <% if farthest_run.present? %>
      <div class="flex flex-wrap items-center gap-x-4 gap-y-1 mt-2">
        <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
          <%= inline_svg_tag 'icons/calendar-filled.svg', class: 'size-3.5 shrink-0' %>
          <span class="whitespace-nowrap"><%= pretty_date(farthest_run.date, date_style: :absolute, month_format: :short, include_year: farthest_run.date.year != Date.current.year) %></span>
        </div>

        <% if farthest_run.duration? %>
          <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
            <%= inline_svg_tag 'icons/clock-filled.svg', class: 'size-3.5 shrink-0' %>
            <span class="whitespace-nowrap"><%= clock_time_display farthest_run.duration %></span>
          </div>
          <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
            <%= inline_svg_tag 'icons/speedometer-filled.svg', class: 'size-3.5 shrink-0' %>
            <span class="whitespace-nowrap"><%= clock_time_display farthest_run.pace %> <span class="font-normal">/mi</span></span>
          </div>
        </div>
      <% end %>

      <%= link_to 'View run', farthest_run, class: 'block btn-link text-sm mt-3' %>
    <% end %>
  </div>

  <!-- Longest Run Card -->
  <% longest_run = member.longest_run %>
  <% if longest_run %>
    <div class="card">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Longest Run</h2>
      <p class="text-3xl font-bold"><%= clock_time_display(longest_run.duration) %></p>

      <div class="flex flex-wrap items-center gap-x-4 gap-y-1 mt-2">
        <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
          <%= inline_svg_tag 'icons/calendar-filled.svg', class: 'size-3.5 shrink-0' %>
          <span class="whitespace-nowrap"><%= pretty_date(longest_run.date, date_style: :absolute, month_format: :short, include_year: longest_run.date.year != Date.current.year) %></span>
        </div>

        <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
          <%= inline_svg_tag 'icons/ruler-filled.svg', class: 'size-3.5 shrink-0' %>
          <span class="whitespace-nowrap"><%= longest_run.distance %> <span class="font-normal">mi</span></span>
        </div>

        <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
          <%= inline_svg_tag 'icons/speedometer-filled.svg', class: 'size-3.5 shrink-0' %>
          <span class="whitespace-nowrap"><%= clock_time_display longest_run.pace %> <span class="font-normal">/mi</span></span>
        </div>
      </div>

      <%= link_to 'View run', longest_run, class: 'block btn-link text-sm mt-3' %>
    </div>
  <% end %>

  <!-- Fastest Run Card -->
  <% fastest_run = member.fastest_run %>
  <% if fastest_run %>
    <div class="card">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Fastest Run</h2>
      <p class="text-3xl font-bold">
        <%= clock_time_display(fastest_run.pace) %>
        <span class="text-base font-normal text-soft"><span class="font-normal">/mi</span></span>
      </p>

      <div class="flex flex-wrap items-center gap-x-4 gap-y-1 mt-2">
        <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
          <%= inline_svg_tag 'icons/calendar-filled.svg', class: 'size-3.5 shrink-0' %>
          <span class="whitespace-nowrap"><%= pretty_date(fastest_run.date, date_style: :absolute, month_format: :short, include_year: fastest_run.date.year != Date.current.year) %></span>
        </div>

        <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
          <%= inline_svg_tag 'icons/ruler-filled.svg', class: 'size-3.5 shrink-0' %>
          <span class="whitespace-nowrap"><%= fastest_run.distance %> <span class="font-normal">mi</span></span>
        </div>

        <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
          <%= inline_svg_tag 'icons/clock-filled.svg', class: 'size-3.5 shrink-0' %>
          <span class="whitespace-nowrap"><%= clock_time_display fastest_run.duration %></span>
        </div>
      </div>

      <%= link_to 'View run', fastest_run, class: 'block btn-link text-sm mt-3' %>
    </div>
  <% end %>
</div>

<!-- Personal Mileage Goal Card -->
<% if mileage_goal = team_membership.mileage_goal %>
  <div class="card mb-4">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Personal Mileage Goal</h2>
    <% if team.season_in_progress? %>
      <div class="mb-4">
        <p class="text-3xl font-bold">
          <% miles_count = team_membership.miles_completed_in_goal %>
          <%= number_with_delimiter miles_count %>
          <span class="text-base font-normal text-soft"><%= 'mile'.pluralize(miles_count) %></span>
        </p>
        <p class="text-soft text-sm">of <%= number_with_delimiter mileage_goal %> mile goal</p>
      </div>

      <p class="mb-4"><%= team_membership.mileage_goal_progress_message(current_user) %></p>

      <%= render 'shared/progress_bar', percentage: team_membership.mileage_goal_progress, label: 'Personal Mileage Goal Progress', marker: team_membership.season_progress, size: :lg %>

      <p class='my-1 text-xs text-soft'>
        <% if team_membership.mileage_goal_complete? %>
          <%= member_is_current ? 'You met your' : "#{member.first_name} met #{member.gender_possessive}" %> <%= number_with_delimiter mileage_goal %> mile personal mileage goal with <%= pluralize(team.days_remaining_in_season, 'day') %> to spare!
        <% else %>
          <%= member_is_current ? 'You have' : "#{member.first_name} has" %> <%= pluralize(team.days_remaining_in_season, 'day') %> to finish the remaining <%= pluralize(number_with_delimiter(team_membership.miles_remaining_in_goal), 'mile') %> of <%= member_is_current ? 'your' : member.gender_possessive %> personal mileage goal.
        <% end %>
      </p>

      <div class="mt-6">
        <p class="text-lg font-bold">Projections</p>
        <p class="text-xs text-soft">Based on the team&#8217;s current pace</p>

        <div class="flex flex-wrap items-center gap-1.5 mt-2">
          <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/50 min-w-max max-sm:grow">
            <p class="text-sm text-light whitespace-nowrap">Daily required</p>
            <p class="text-xl font-bold">
              <%= team_membership.daily_miles_required %>
              <span class="text-xs font-normal text-light">mi/day</span>
            </p>
          </div>

          <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/50 min-w-max max-sm:grow">
            <p class="text-sm text-light whitespace-nowrap">Current pace</p>
            <p class="text-xl font-bold">
              <%= team_membership.mileage_goal_pace %>
              <span class="text-xs font-normal text-light">mi/day</span>
            </p>
          </div>

          <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/50 min-w-max max-sm:grow">
            <p class="text-sm text-light whitespace-nowrap">Projected total</p>
            <p class="text-xl font-bold">
              <% projected_miles = team_membership.projected_season_miles %>
              <%= number_with_delimiter projected_miles %>
              <span class="text-xs font-normal text-light"><%= 'mile'.pluralize(projected_miles) %></span>
            </p>
          </div>

          <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/50 min-w-max max-sm:grow">
            <p class="text-sm text-light whitespace-nowrap">Projected difference</p>
            <p class="text-xl font-bold">
              <% miles_difference = (projected_miles - team_membership.mileage_goal).round(2) %>
              <span class="<%= miles_difference.negative? ? 'text-rose-500' : 'text-emerald-500' %>">
                <%= miles_difference.positive? ? '+' : '' %><%= number_with_delimiter miles_difference %>
                <span class="text-xs font-normal"><%= 'mile'.pluralize(miles_difference) %></span>
              </span>
            </p>
          </div>

          <% days_to_completion = team_membership.mileage_goal_pace.zero? ? Float::INFINITY : team_membership.miles_remaining_in_goal / team_membership.mileage_goal_pace %>
          <% projected_completion_date = days_to_completion.finite? ? Date.current + days_to_completion : nil %>
          <% if projected_completion_date&.after? Date.current %>
            <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/50 min-w-max max-sm:grow">
              <p class="text-sm text-light whitespace-nowrap">Projected completion</p>
              <p class="text-xl font-bold <%= projected_completion_date.after?(team.season_end_date) ? 'text-rose-500' : 'text-emerald-500' %>">
                <%= pretty_date(projected_completion_date, date_style: :absolute, month_format: :short) %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% elsif team.season_over? %>
      <div class="mb-4">
        <p class="text-3xl font-bold">
          <% miles_count = team_membership.miles_completed_in_goal %>
          <%= number_with_delimiter miles_count %>
          <span class="text-base font-normal text-soft"><%= 'mile'.pluralize(miles_count) %></span>
        </p>
        <p class="text-soft text-sm">of <%= number_with_delimiter mileage_goal %> mile goal</p>
      </div>

      <p class="mb-4">
        The season is over. <%= member_is_current ? 'You' : member.first_name %> completed <%= pluralize(number_with_delimiter(team_membership.miles_completed_in_goal), 'mile') %>
        <%= team_membership.mileage_goal_complete? ? "and met #{member_is_current ? 'your' : member.gender_possessive} goal!" : "but didn’t reach #{member_is_current ? 'your' : member.gender_possessive} goal of #{number_with_delimiter(mileage_goal)} miles." %>
      </p>

      <%= render 'shared/progress_bar', percentage: team_membership.mileage_goal_progress, label: 'Personal Mileage Goal Progress', size: :lg %>
    <% elsif team.season_not_started_yet? %>
      <p class="text-soft">Season hasn&#8217;t started yet.</p>
    <% elsif team.season_dates? %>
      <p class="text-soft"><%= member_is_current ? 'You have' : "#{member.first_name} has" %> not set a personal mileage goal.</p>
    <% else %>
      <p class="text-soft">No season dates have been set for this team.</p>
    <% end %>
  </div>
<% end %>

<!-- Personal Long Run Goal Card -->
<% if long_run_goal = team_membership.long_run_goal %>
  <div class="card">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Personal Long Run Goal</h2>
    <% if team.season_in_progress? %>
      <div class="mb-4">
        <p class="text-3xl font-bold">
          <% long_runs_count = team_membership.long_runs_completed_in_goal %>
          <%= number_with_delimiter long_runs_count %>
          <span class="text-base font-normal text-soft"><%= 'long run'.pluralize(long_runs_count) %></span>
        </p>
        <p class="text-soft text-sm">of <%= number_with_delimiter long_run_goal %> long run goal</p>
      </div>

      <p class="mb-4"><%= team_membership.long_run_goal_progress_message(current_user) %></p>

      <%= render 'shared/progress_bar', percentage: team_membership.long_run_goal_progress, label: 'Personal Long Run Goal Progress', marker: team_membership.season_progress, size: :lg %>

      <p class='my-1 text-xs text-soft'>
        <% if team_membership.long_run_goal_complete? %>
          <%= member_is_current ? 'You met your' : "#{member.first_name} met #{member.gender_possessive}" %> <%= team.long_run_goal %> personal long run goal with <%= pluralize(team.days_remaining_in_season, 'day') %> to spare!
        <% else %>
          <%= member_is_current ? 'You have' : "#{member.first_name} has" %> <%= pluralize(team.days_remaining_in_season, 'day') %> to finish the remaining <%= pluralize(number_with_delimiter(team_membership.long_runs_remaining_in_goal), 'long run') %> of <%= member_is_current ? 'your' : member.gender_possessive %> personal long run goal.
        <% end %>
      </p>

      <div class="mt-6">
        <p class="text-lg font-bold">Projections</p>
        <p class="text-xs text-soft">Based on the team&#8217;s current pace</p>

        <div class="flex flex-wrap items-center gap-1.5 mt-2">
          <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/50 min-w-max max-sm:grow">
            <p class="text-sm text-light whitespace-nowrap">Weekly required</p>
            <p class="text-xl font-bold">
              <%= team_membership.weekly_long_runs_required %>
              <span class="text-xs font-normal text-light">/week</span>
            </p>
          </div>

          <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/50 min-w-max max-sm:grow">
            <p class="text-sm text-light whitespace-nowrap">Current pace</p>
            <p class="text-xl font-bold">
              <%= team_membership.weekly_long_run_goal_pace %>
              <span class="text-xs font-normal text-light">/week</span>
            </p>
          </div>

          <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/50 min-w-max max-sm:grow">
            <p class="text-sm text-light whitespace-nowrap">Projected total</p>
            <p class="text-xl font-bold">
              <% projected_long_runs = team_membership.projected_season_long_runs %>
              <%= number_with_delimiter projected_long_runs %>
              <span class="text-xs font-normal text-light"><%= 'long run'.pluralize(projected_long_runs) %></span>
            </p>
          </div>

          <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/50 min-w-max max-sm:grow">
            <p class="text-sm text-light whitespace-nowrap">Projected difference</p>
            <p class="text-xl font-bold">
              <% long_runs_difference = (projected_long_runs - team_membership.long_run_goal).round(2) %>
              <span class="<%= long_runs_difference.negative? ? 'text-rose-500' : 'text-emerald-500' %>">
                <%= long_runs_difference.positive? ? '+' : '' %><%= number_with_delimiter long_runs_difference %>
                <span class="text-xs font-normal"><%= 'long run'.pluralize(long_runs_difference) %></span>
              </span>
            </p>
          </div>

          <% days_to_completion = team_membership.long_run_goal_pace.zero? ? Float::INFINITY : team_membership.long_runs_remaining_in_goal / team_membership.long_run_goal_pace %>
          <% projected_completion_date = days_to_completion.finite? ? Date.current + days_to_completion : nil %>
          <% if projected_completion_date&.after? Date.current %>
            <div class="p-2.5 rounded-lg bg-slate-200/50 dark:bg-slate-700/50 min-w-max max-sm:grow">
              <p class="text-sm text-light whitespace-nowrap">Projected completion</p>
              <p class="text-xl font-bold <%= projected_completion_date.after?(team.season_end_date) ? 'text-rose-500' : 'text-emerald-500' %>">
                <%= pretty_date(projected_completion_date, date_style: :absolute, month_format: :short) %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% elsif team.season_over? %>
      <div class="mb-4">
        <p class="text-3xl font-bold">
          <% long_runs_count = team_membership.long_runs_completed_in_goal %>
          <%= number_with_delimiter long_runs_count %>
          <span class="text-base font-normal text-soft"><%= 'long run'.pluralize(long_runs_count) %></span>
        </p>
        <p class="text-soft text-sm">of <%= number_with_delimiter long_run_goal %> long run goal</p>
      </div>

      <p class="mb-4">
        The season is over. <%= member_is_current ? 'You' : member.first_name %> completed <%= pluralize(number_with_delimiter(team_membership.long_runs_completed_in_goal), 'long run') %>
        <%= team_membership.long_run_goal_complete? ? "and met #{member_is_current ? 'your' : member.gender_possessive} goal!" : "but didn’t reach #{member_is_current ? 'your' : member.gender_possessive} goal of #{long_run_goal} miles." %>
      </p>

      <%= render 'shared/progress_bar', percentage: team_membership.mileage_goal_progress, label: 'Personal Mileage Goal Progress', size: :lg %>
    <% elsif team.season_not_started_yet? %>
      <p class="text-soft">Season hasn&#8217;t started yet.</p>
    <% elsif team.season_dates? %>
      <p class="text-soft"><%= member_is_current ? 'You have' : "#{member.first_name} has" %> not set a personal long run goal.</p>
    <% else %>
      <p class="text-soft">No season dates have been set for this team.</p>
    <% end %>
  </div>
<% end %>
