<% member_is_current = member == current_user %>

<div class="pb-6 mt-10 mb-6 space-y-2 border-b dark:border-slate-700">
  <h1 class="heading">Member Info</h1>
  <p class="text-soft">Information and statistics about <%= member_is_current ? 'your' : "#{member.first_name}'s" %> participation in <%= link_to team.name, team, class: 'btn-link' %>.</p>
</div>

<div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
  <!-- Miles This Season Card -->
  <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Miles This Season</h2>
    <p class="text-3xl font-bold">
      <%= team_membership.miles_completed_in_goal %>
      <span class="text-base font-normal text-soft"><%= 'mile'.pluralize(team_membership.miles_completed_in_goal) %></span>
    </p>
    <% if team_membership.mileage_goal? %>
      <p class="text-soft">of <%= team_membership.mileage_goal %> mile goal</p>
    <% end %>
    <% if team.season_not_started_yet? %>
      <p class="my-1 text-soft">Season hasn't started yet.</p>
    <% end %>
  </div>

  <!-- Long Runs This Season Card -->
  <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Long Runs This Season</h2>
    <p class="text-3xl font-bold">
      <%= team_membership.long_runs_completed_in_goal %>
      <span class="text-base font-normal text-soft"><%= 'long run'.pluralize(team_membership.long_runs_completed_in_goal) %></span>
    </p>
    <% if team_membership.long_run_goal? %>
      <p class="text-soft">of <%= team_membership.long_run_goal %> long run goal</p>
    <% end %>
    <% if team.season_not_started_yet? %>
      <p class="my-1 text-soft">Season hasn't started yet.</p>
    <% end %>
  </div>

  <!-- Current Streak Card -->
  <% current_streak_data = member.current_streak(team) %>
  <% current_streak = current_streak_data[:streak] %>
  <% current_streak_start_date = current_streak_data[:start_date] %>
  <% current_streak_end_date = current_streak_data[:end_date] %>

  <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Current Streak</h2>
    <p class="text-3xl font-bold">
      <%= current_streak %>
      <span class="text-base font-normal text-soft"><%= 'day'.pluralize(current_streak) %></span>
    </p>
    <p class="my-1 text-soft">
      <% if current_streak_start_date.present? && current_streak_end_date.present? %>
        <%= pretty_date(current_streak_start_date, date_style: :relative) %> &ndash; <%= pretty_date(current_streak_end_date, date_style: :relative) %>
      <% elsif current_streak_start_date.present? && current_streak_end_date.blank? %>
        <%= pretty_date(current_streak_start_date, date_style: :relative) %>
      <% elsif current_streak.zero? %>
        No current streak recorded.
      <% end %>
    </p>
  </div>

  <!-- Record Streak Card -->
  <% longest_streak_data = member.longest_streak(team) %>
  <% longest_streak = longest_streak_data[:streak] %>
  <% longest_streak_start_date = longest_streak_data[:start_date] %>
  <% longest_streak_end_date = longest_streak_data[:end_date] %>

  <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
    <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Record Streak</h2>
    <p class="text-3xl font-bold">
      <%= longest_streak %>
      <span class="text-base font-normal text-soft"><%= 'day'.pluralize(longest_streak) %></span>
    </p>
    <p class="my-1 text-soft">
      <% if longest_streak_start_date.present? && longest_streak_end_date.present? %>
        <%= pretty_date(longest_streak_start_date, date_style: :relative) %> &ndash; <%= pretty_date(longest_streak_end_date, date_style: :relative) %>
      <% elsif longest_streak_start_date.present? && longest_streak_end_date.blank? %>
        <%= pretty_date(longest_streak_start_date, date_style: :relative) %>
        <span class="my-1 ml-1 help-text">(Most recent run)</span>
      <% elsif longest_streak.zero? %>
        No longest streak recorded.
      <% end %>
    </p>
  </div>
</div>

<!-- Personal Mileage Goal Card -->
<div class="p-6 mt-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
  <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Personal Mileage Goal</h2>
  <% if team_membership.mileage_goal? && team.season_in_progress? %>
    <p class="mb-4"><%= team_membership.mileage_goal_progress_message(current_user) %></p>

    <%= render 'shared/progress_bar', percentage: team_membership.mileage_goal_progress, label: 'Personal Mileage Goal Progress', marker: team_membership.season_progress, size: :lg %>

    <p class='my-1 text-xs text-soft'>
      <% if team_membership.mileage_goal_complete? %>
        <%= member_is_current ? 'You met your' : "#{member.first_name} met #{member.gender_possessive}" %> <%= team_membership.mileage_goal %> mile personal mileage goal with <%= pluralize(team.days_remaining_in_season, 'day') %> to spare!
      <% else %>
        <%= member_is_current ? 'You have' : "#{member.first_name} has" %> <%= pluralize(team.days_remaining_in_season, 'day') %> to finish the remaining <%= pluralize(team_membership.miles_remaining_in_goal, 'mile') %> of <%= member_is_current ? 'your' : member.gender_possessive %> personal mileage goal.
      <% end %>
    </p>
  <% elsif team.season_not_started_yet? %>
    <p class="text-soft">Season hasn't started yet.</p>
  <% elsif team.season_dates? %>
    <p class="text-soft"><%= member_is_current ? 'You have' : "#{member.first_name} has" %> not set a personal mileage goal.</p>
  <% elsif team_membership.mileage_goal? %>
    <p class="text-soft">No season dates have been set for this team.</p>
  <% else %>
    <p class="text-soft"><%= member_is_current ? 'You have' : "#{member.first_name} has" %> not set a personal mileage goal and season dates have not been set for this team.</p>
  <% end %>
</div>

<!-- Personal Long Run Goal Card -->
<div class="p-6 mt-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
  <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Personal Long Run Goal</h2>
  <% if team_membership.long_run_goal? && team.season_in_progress? %>
    <p class="mb-4"><%= team_membership.long_run_goal_progress_message(current_user) %></p>

    <%= render 'shared/progress_bar', percentage: team_membership.long_run_goal_progress, label: 'Personal Long Run Goal Progress', marker: team_membership.season_progress, size: :lg %>

    <p class='my-1 text-xs text-soft'>
      <% if team_membership.long_run_goal_complete? %>
        <%= member_is_current ? 'You met your' : "#{member.first_name} met #{member.gender_possessive}" %> <%= team.long_run_goal %> personal long run goal with <%= pluralize(team.days_remaining_in_season, 'day') %> to spare!
      <% else %>
        <%= member_is_current ? 'You have' : "#{member.first_name} has" %> <%= pluralize(team.days_remaining_in_season, 'day') %> to finish the remaining <%= pluralize(team_membership.long_runs_remaining_in_goal, 'long run') %> of <%= member_is_current ? 'your' : member.gender_possessive %> personal long run goal.
      <% end %>
    </p>
  <% elsif team.season_not_started_yet? %>
    <p class="text-soft">Season hasn't started yet.</p>
  <% elsif team.season_dates? %>
    <p class="text-soft"><%= member_is_current ? 'You have' : "#{member.first_name} has" %> not set a personal long run goal.</p>
  <% elsif team_membership.long_run_goal? %>
    <p class="text-soft">No season dates have been set for this team.</p>
  <% else %>
    <p class="text-soft"><%= member_is_current ? 'You have' : "#{member.first_name} has" %> not set a personal long run goal and season dates have not been set for this team.</p>
  <% end %>
</div>
