<!-- Delete Page Modal Backdrop -->
<div
  data-modal-target="backdrop"
  data-modal-id="deletePage_<%= page.id %>"
  data-action="mousedown->modal#backdropClose"
  class="modal-backdrop opacity-0 pointer-events-none"></div>

<!-- Delete Page Modal -->
<div
  id="deletePage_<%= page.id %>"
  role="dialog"
  aria-label="Unpin Shortcut Confirmation"
  tabindex="-1"
  data-modal-target="modal"
  class="modal opacity-0 scale-75 pointer-events-none"
>
  <div class="flex flex-col space-y-1.5 text-center sm:text-left">
    <h2 class="text-lg font-semibold leading-none tracking-tight">Unpin Shortcut?</h2>
    <p class="text-soft text-sm">Are you sure you want to unpin your shortcut to <span class="font-bold"><%= page.title %></span>?</p>
  </div>

  <div class="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2 mt-4">
    <button data-action="mousedown->modal#close" data-modal-id="deletePage_<%= page.id %>" type="button" class="btn btn-dark btn-muted mt-2 sm:mt-0">Cancel</button>
    <%= button_to 'Unpin shortcut',
                  page,
                  method: :delete,
                  data: { turbo: false },
                  class: 'btn btn-destructive font-bold w-full sm:w-auto whitespace-nowrap'
    %>
  </div>

  <button data-action="mousedown->modal#close" type="button" data-modal-id="deletePage_<%= page.id %>" class="modal-x-btn">
    <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-4' %>
    <span class="sr-only">Close</span>
  </button>
</div>
