<%= turbo_frame_tag 'pinned_pages_list' do %>
  <div class="p-2 flex items-end justify-between sticky top-0 bg-white dark:bg-slate-800 border-b dark:border-slate-700">
    <p class="text-soft text-sm">Pinned shortcuts</p>
    <% pinned_pages = current_user.pinned_pages.order(:position) %>
    <%= link_to 'Edit', manage_pinned_pages_path, data: { turbo: false }, class: 'btn-link-soft text-xs' if pinned_pages.present? %>
  </div>

  <% if pinned_pages.present? %>
    <nav class="mt-2">
      <% pinned_pages.each do |page| %>
        <% page_url = page.page_url %>
        <% link_options = { data: { turbo: false }, class: "group sidebar-link #{current_page?(page_url) ? 'sidebar-link-active' : 'sidebar-link-inactive' }" } %>

        <% link_content = capture do %>
          <div class="flex items-center gap-2.5">
            <% last_id = page_url.split('/').last %>

            <% if page_url.match?(/teams\/\d+\/member\/\d+/) %>
              <% member = User.find_by(id: last_id) %>
              <% team_id = page_url.split('/').third %>
              <% team = Team.find_by(id: team_id) %>

              <% if member && team %>
                <% if current_page?(team_member_path(team, member)) %>
                  <%= inline_svg_tag 'icons/user-group-filled.svg', class: 'size-4.5 dark:group-focus:text-white' %>
                <% else %>
                  <%= inline_svg_tag 'icons/user-group.svg', class: 'size-4.5 dark:group-focus:text-white motion-safe:group-hover:pulse-hover-animation motion-safe:group-focus:pulse-hover-animation' %>
                <% end %>
              <% end %>

            <% elsif page_url.match?(/teams\/\d+/) %>
              <% team = Team.find_by(id: last_id) %>

              <% if team %>
                <% if current_page?(team_path(team)) %>
                  <%= inline_svg_tag 'icons/team-filled.svg', class: 'size-5 dark:group-focus:text-white' %>
                <% else %>
                  <%= inline_svg_tag 'icons/team.svg', class: 'size-5 dark:group-focus:text-white motion-safe:group-hover:gelatine-animation motion-safe:group-focus:gelatine-animation' %>
                <% end %>
              <% end %>

            <% elsif page_url.match?(/users\/\d+/) %>
              <% user = User.find_by(id: last_id) %>

              <% if user %>
                <% if current_page?(user_path(user)) %>
                  <%= inline_svg_tag 'icons/user-filled.svg', class: 'size-4.5 dark:group-focus:text-white' %>
                <% else %>
                  <%= inline_svg_tag 'icons/user.svg', class: 'size-4.5 dark:group-focus:text-white motion-safe:group-hover:pulse-hover-animation motion-safe:group-focus:pulse-hover-animation' %>
                <% end %>
              <% end %>
            <% end %>
            <span><%= page.title %></span>
          </div>
        <% end %>

        <%= link_to link_content, page_url, **link_options %>
      <% end %>
    </nav>
  <% else %>
    <p class="text-soft text-center text-xs mt-1">You have not pinned any shortcuts yet.</p>
  <% end %>
<% end %>
