<%= turbo_frame_tag 'pinned_pages_list' do %>
  <div class="space-y-1.5">
    <div class="mx-2 my-2 flex items-end justify-between">
      <p class="text-soft text-sm">Pinned shorcuts</p>
      <% pinned_pages = current_user.pinned_pages.order(:position) %>
      <%= link_to 'Edit', manage_pinned_pages_path, data: { turbo: false }, class: 'btn-link-soft text-xs' if pinned_pages.any? %>
    </div>

    <% if pinned_pages.any? %>
      <% pinned_pages.each do |page| %>
        <% link_options = { data: { turbo: false }, class: "group sidebar-link #{current_page?(page.page_url) ? 'sidebar-link-active' : 'sidebar-link-inactive' }" } %>

        <% link_content = capture do %>
          <div class="flex items-center gap-2.5">
            <% if (member = User.find_by(id: page.page_url.split('/').last)) && page.page_url.match?(/teams\/\d+\/member\/\d+/) %>
              <% if member.avatar.attached? %>
                <%= image_tag member.avatar.variant(resize_to_limit: [50, 50]).processed, class: 'size-6 rounded-md drop-shadow-lg dark:drop-shadow-none object-cover' %>
              <% elsif current_page?(page.page_url) %>
                <%= inline_svg_tag 'icons/user-filled.svg', class: 'size-5 dark:group-focus:text-white' %>
              <% else %>
                <%= inline_svg_tag 'icons/user.svg', class: 'size-5 dark:group-focus:text-white' %>
              <% end %>
            <% elsif (team = Team.find_by(id: page.page_url.split('/').last)) && page.page_url.match?(/teams\/\d+/) %>
              <% if team.photo.attached? %>
                <%= image_tag team.photo.variant(resize_to_limit: [50, 50]).processed, class: 'size-6 rounded-md drop-shadow-lg dark:drop-shadow-none object-cover' %>
              <% elsif current_page?(page.page_url) %>
                <%= inline_svg_tag 'icons/team-filled.svg', class: 'size-5 dark:group-focus:text-white' %>
              <% else %>
                <%= inline_svg_tag 'icons/team.svg', class: 'size-5 dark:group-focus:text-white' %>
              <% end %>
            <% elsif (user = User.find_by(id: page.page_url.split('/').last)) && page.page_url.match?(/users\/\d+/) %>
              <% if user.avatar.attached? %>
                <%= image_tag user.avatar.variant(resize_to_limit: [50, 50]).processed, class: 'size-6 rounded-md drop-shadow-lg dark:drop-shadow-none object-cover' %>
              <% elsif current_page?(page.page_url) %>
                <%= inline_svg_tag 'icons/user-filled.svg', class: 'size-5 dark:group-focus:text-white' %>
              <% else %>
                <%= inline_svg_tag 'icons/user.svg', class: 'size-5 dark:group-focus:text-white' %>
              <% end %>
            <% end %>
            <span><%= page.title %></span>
          </div>
        <% end %>

        <%= link_to link_content, page.page_url, **link_options %>
      <% end %>
    <% else %>
      <p class="text-soft text-center text-xs">You have not pinned any pages yet.</p>
    <% end %>
  </div>
<% end %>
