<% content_for :title, 'Edit Pinned Shortcuts' %>

<div
  data-controller="modal"
  data-modal-hide-modal-class="opacity-0 scale-75 pointer-events-none"
  data-modal-show-modal-class="opacity-100 scale-100 pointer-events-auto"
  data-modal-hide-backdrop-class="opacity-0 pointer-events-none"
  data-modal-show-backdrop-class="opacity-100 pointer-events-auto"
  class="max-w-4xl mx-auto my-16"
>
  <div class="pb-6 mb-4 border-b border-slate-200 dark:border-slate-700">
    <div class="flex items-center justify-between">
      <h1 class="heading">Edit Pinned Shortcuts</h1>
    </div>
  </div>

  <%= form_with url: update_all_pinned_pages_path, method: :patch, id: 'pinned_pages_form' do |f| %>
    <ul
      data-controller="pinned-pages-reorder"
      data-pinned-pages-reorder-target="list"
      class="my-6 space-y-2 sm:space-y-3"
    >
      <% @pinned_pages.each do |page| %>
        <li
          data-id="<%= page.id %>"
          class="flex items-center gap-2"
        >
          <button type="button" data-action="mousedown->modal#open" data-modal-id="deletePage_<%= page.id %>" class="shrink-0 p-1 rounded-full bg-rose-600 hover:bg-rose-600/80 dark:hover:bg-rose-600/80 text-white transition duration-200 ease-in-out">
            <%= inline_svg_tag 'icons/minus.svg', class: 'size-3.5' %>
            <span class="sr-only">Unpin shortcut</span>
          </button>

          <div class="grow flex items-center gap-1.5 p-0.5 sm:p-1 border rounded-lg bg-white dark:bg-slate-700/80 not-dark:shadow-sm dark:border-slate-700">
            <%= f.text_field "pinned_pages[#{page.id}][title]", value: page.title, placeholder: page.title, class: 'form-input' %>

            <div class="drag-handle cursor-grab shrink-0 p-1 pr-1.5 max-sm:-ml-1">
              <%= inline_svg_tag 'icons/drag-handle.svg', class: 'size-4 sm:size-5 text-soft' %>
            </div>
          </div>
        </li>
      <% end %>

      <!-- Hidden input to store the order of pinned pages -->
      <%= f.hidden_field :order, value: @pinned_pages.pluck(:id).join(','), data: { pinned_pages_reorder_target: 'orderInput' } %>
    </ul>

    <div class="flex flex-wrap items-center gap-4 pt-6 border-t border-slate-200 dark:border-slate-700">
      <%= f.submit 'Save changes', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, data: { turbo: false }, class: 'btn btn-dark btn-muted' %>
    </div>
  <% end %>

  <% @pinned_pages.each do |page| %>
    <%= render 'delete_page_modal', page: page %>
  <% end %>
</div>
