<div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
  <h1 class="heading">Settings</h1>
  <p class="text-soft">Set your preferences to optimize your experience.</p>
</div>

<%= form_with model: @user, url: user_settings_path(@user), local: true, data: { controller: 'restore-defaults' } do |form| %>
  <!-- Hidden fields to ensure that unchecked checkboxes submit 'false' -->
  <%= hidden_field_tag 'user[settings][email_visible]', 'false' %>
  <%= hidden_field_tag 'user[settings][phone_visible]', 'false' %>
  <%= hidden_field_tag 'user[settings][in_app]', 'false' %>

  <%= form.fields_for :settings do |settings_form| %>
    <div class="my-6">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Contact information</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Display your contact information to other users on your profile.</p>
    </div>

    <div class="space-y-3 form-group">
      <div class="flex gap-x-2.5">
        <div class="form-input-toggle shrink-0" data-controller="toggle-checkbox" data-action="click->toggle-checkbox#toggle">
          <span class="form-input-toggle-switch"></span>
          <%= settings_form.check_box :email_visible, { checked: @user.show_email?, class: 'sr-only', data: { restore_defaults_target: 'emailVisible', toggle_checkbox_target: 'checkbox' } }, true, false %>
        </div>
        <%= settings_form.label :email_visible, 'Show email', class: 'select-none text-slate-700 dark:text-slate-300' %>
      </div>

      <div class="flex gap-x-2.5">
        <div class="form-input-toggle shrink-0" data-controller="toggle-checkbox" data-action="click->toggle-checkbox#toggle">
          <span class="form-input-toggle-switch"></span>
          <%= settings_form.check_box :phone_visible, { checked: @user.show_phone?, class: 'sr-only', data: { restore_defaults_target: 'phoneVisible', toggle_checkbox_target: 'checkbox' } }, true, false %>
        </div>
        <%= settings_form.label :phone_visible, 'Show phone number', class: 'select-none text-slate-700 dark:text-slate-300' %>
      </div>
    </div>

    <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Appearance</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Choose your preferred theme.</p>
    </div>

    <div class="form-group">
      <%= settings_form.label :theme, 'Theme preference', class: 'form-label' %>

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div>
          <%= settings_form.radio_button :theme, 'system', checked: (@user.settings(:appearance).theme == 'system'), data: { theme_target: 'input', action: 'theme#change', restore_defaults_target: 'theme' }, class: 'hidden peer' %>
          <%= settings_form.label :theme_system, class: 'form-radio-card-label peer-checked:*:bg-indigo-100 dark:peer-checked:*:bg-indigo-900' do %>
            <div class="p-2 rounded-md bg-slate-200 dark:bg-slate-700 shrink-0">
              <%= inline_svg_tag 'icons/computer.svg', class: 'size-5 peer-checked:text-indigo-500' %>
            </div>

            <div class="block !bg-transparent">
              <p class="w-full font-semibold">System default</p>
              <p class="w-full text-xs">Automatically adjusts based on device settings</p>
            </div>
          <% end %>
        </div>

        <div>
          <%= settings_form.radio_button :theme, 'light', checked: (@user.settings(:appearance).theme == 'light'), data: { theme_target: 'input', action: 'theme#change', restore_defaults_target: 'theme' }, class: 'hidden peer' %>
          <%= settings_form.label :theme_light, class: 'form-radio-card-label peer-checked:*:bg-indigo-100 dark:peer-checked:*:bg-indigo-900' do %>
          <div class="p-2 rounded-md bg-slate-200 dark:bg-slate-700 shrink-0">
            <%= inline_svg_tag 'icons/sun.svg', class: 'size-5 peer-checked:text-indigo-500' %>
          </div>

            <div class="block !bg-transparent">
              <p class="w-full font-semibold">Light mode</p>
              <p class="w-full text-xs">Clean, bright interface for well-lit environments</p>
            </div>
          <% end %>
        </div>

        <div>
          <%= settings_form.radio_button :theme, 'dark', checked: (@user.settings(:appearance).theme == 'dark'), data: { theme_target: 'input', action: 'theme#change', restore_defaults_target: 'theme' }, class: 'hidden peer' %>
          <%= settings_form.label :theme_dark, class: 'form-radio-card-label peer-checked:*:bg-indigo-100 dark:peer-checked:*:bg-indigo-900' do %>
          <div class="p-2 rounded-md bg-slate-200 dark:bg-slate-700 shrink-0">
            <%= inline_svg_tag 'icons/moon.svg', class: 'size-5 peer-checked:text-indigo-500' %>
          </div>

            <div class="block !bg-transparent">
              <p class="w-full font-semibold">Dark mode</p>
              <p class="w-full text-xs">Easy on the eyes in low-light environments</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Notifications</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Choose which notifications you would like to receive.</p>
    </div>

    <div class="form-group">
      <div class="flex gap-x-2.5">
        <div class="form-input-toggle shrink-0" data-controller="toggle-checkbox" data-action="click->toggle-checkbox#toggle">
          <span class="form-input-toggle-switch"></span>
          <%= settings_form.check_box :in_app, { checked: @user.settings(:notifications).in_app, class: 'sr-only', data: { restore_defaults_target: 'inApp', toggle_checkbox_target: 'checkbox' } }, true, false %>
        </div>
        <%= settings_form.label :in_app, 'In app notifications', class: 'select-none text-slate-700 dark:text-slate-300' %>
      </div>
    </div>
  <% end %>

  <div class="flex items-end justify-between flex-wrap gap-2 pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
    <div>
      <p class="form-label">Restore default settings</p>
      <p class="text-soft text-sm">Reset all settings to their defaults for a fresh start.</p>
    </div>
    <button type="button" data-action="restore-defaults#restore" class="btn btn-sm btn-destructive btn-muted ml-auto">Reset settings</button>
  </div>

  <div class="md:sticky bottom-0 flex items-center gap-4 pt-6 pb-6 bg-white border-t dark:bg-slate-900 border-slate-200 dark:border-slate-700">
    <%= form.submit 'Save settings', data: { turbo: false }, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, data: { turbo: false }, class: 'btn btn-dark btn-muted' %>
  </div>
<% end %>
