<div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
  <h1 class="heading">Settings</h1>
  <p class="text-soft">Set your preferences to optimize your experience.</p>
</div>

<%= form_with model: @user, url: user_settings_path(@user), local: true do |form| %>
  <!-- Hidden fields to ensure that unchecked checkboxes submit 'false' -->
  <%= hidden_field_tag 'user[settings][email_visible]', 'false' %>
  <%= hidden_field_tag 'user[settings][phone_visible]', 'false' %>
  <%= hidden_field_tag 'user[settings][in_app]', 'false' %>
  <%= hidden_field_tag 'user[settings][show_pinned_pages_menu]', 'false' %>
  <%= hidden_field_tag 'user[settings][show_pinned_pages_list]', 'false' %>

  <%= form.fields_for :settings do |settings_form| %>
    <div class="my-6">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Contact Information</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Display your contact information to other users on your profile.</p>
    </div>

    <div class="space-y-3 form-group">
      <div class="flex gap-x-2.5">
        <div class="form-input-toggle shrink-0" data-controller="toggle-checkbox" data-action="mousedown->toggle-checkbox#toggle">
          <span class="form-input-toggle-switch"></span>
          <%= settings_form.check_box :email_visible, { checked: @user.show_email?, class: 'sr-only', id: 'email_visible_settings_checkbox', data: { toggle_checkbox_target: 'checkbox' } }, true, false %>
        </div>
        <%= settings_form.label :email_visible, 'Show email', class: 'select-none text-slate-700 dark:text-slate-300', for: 'email_visible_settings_checkbox' %>
      </div>

      <div class="flex gap-x-2.5">
        <div class="form-input-toggle shrink-0" data-controller="toggle-checkbox" data-action="mousedown->toggle-checkbox#toggle">
          <span class="form-input-toggle-switch"></span>
          <%= settings_form.check_box :phone_visible, { checked: @user.show_phone?, class: 'sr-only', id: 'phone_visible_settings_checkbox', data: { toggle_checkbox_target: 'checkbox' } }, true, false %>
        </div>
        <%= settings_form.label :phone_visible, 'Show phone number', class: 'select-none text-slate-700 dark:text-slate-300', for: 'phone_visible_settings_checkbox' %>
      </div>
    </div>

    <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Appearance</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Choose your preferred theme.</p>
    </div>

    <div class="form-group">
      <%= settings_form.label :theme, 'Theme preference', class: 'form-label' %>

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div>
          <%= settings_form.radio_button :theme, 'system', checked: (@user.settings(:appearance).theme == 'system'), data: { theme_target: 'input', action: 'theme#change',}, class: 'hidden peer' %>
          <%= settings_form.label :theme_system, class: 'form-radio-card-label peer-checked:*:bg-indigo-100 dark:peer-checked:*:bg-indigo-900' do %>
            <div class="p-2 rounded-md bg-slate-200 dark:bg-slate-700 shrink-0">
              <%= inline_svg_tag 'icons/computer.svg', class: 'size-5 peer-checked:text-indigo-500' %>
            </div>

            <div class="block !bg-transparent select-none">
              <p class="w-full font-semibold">System default</p>
              <p class="w-full text-xs">Automatically adjusts based on device settings</p>
            </div>
          <% end %>
        </div>

        <div>
          <%= settings_form.radio_button :theme, 'light', checked: (@user.settings(:appearance).theme == 'light'), data: { theme_target: 'input', action: 'theme#change',}, class: 'hidden peer' %>
          <%= settings_form.label :theme_light, class: 'form-radio-card-label peer-checked:*:bg-indigo-100 dark:peer-checked:*:bg-indigo-900' do %>
            <div class="p-2 rounded-md bg-slate-200 dark:bg-slate-700 shrink-0">
              <%= inline_svg_tag 'icons/sun.svg', class: 'size-5 peer-checked:text-indigo-500' %>
            </div>

            <div class="block !bg-transparent select-none">
              <p class="w-full font-semibold">Light mode</p>
              <p class="w-full text-xs">Clean, bright interface for well-lit environments</p>
            </div>
          <% end %>
        </div>

        <div>
          <%= settings_form.radio_button :theme, 'dark', checked: (@user.settings(:appearance).theme == 'dark'), data: { theme_target: 'input', action: 'theme#change',}, class: 'hidden peer' %>
          <%= settings_form.label :theme_dark, class: 'form-radio-card-label peer-checked:*:bg-indigo-100 dark:peer-checked:*:bg-indigo-900' do %>
            <div class="p-2 rounded-md bg-slate-200 dark:bg-slate-700 shrink-0">
              <%= inline_svg_tag 'icons/moon.svg', class: 'size-5 peer-checked:text-indigo-500' %>
            </div>

            <div class="block !bg-transparent select-none">
              <p class="w-full font-semibold">Dark mode</p>
              <p class="w-full text-xs">Easy on the eyes in low-light environments</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="pt-6 my-6 border-t border-slate-200 dark:border-slate-700">
      <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Navigation</h2>
      <p class="text-sm text-slate-600 dark:text-slate-400">Customize your preferences for navigating the app.</p>
    </div>

    <% standalone_options = [
      ['Home (default)', '/'],
      ['Search', search_path],
      ['Teams', teams_path],
      ['Profile', profile_path],
      ['Settings', edit_user_registration_path],
    ] %>

    <% grouped_options = {
      'Teams' => @user.teams.map { |team| [team.name, team_path(team)] }
    }.merge(
      @user.teams.to_h do |team|
        ["Topics for #{team.name}", team.topics.map { |topic| [topic.title, team_topic_messages_path(team, topic)] }]
      end
    ) %>

    <% default_selection = @user.default_page.presence || UserSettings.defaults[:navigation][:default_page] %>
    <% select_options = options_for_select(standalone_options, default_selection) + grouped_options_for_select(grouped_options, default_selection) %>

    <div class="form-group">
      <%= settings_form.label :default_page, 'Default start page', class: 'form-label' %>
      <div class="relative">
        <%= inline_svg_tag 'icons/rocket.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
        <%= settings_form.select :default_page, select_options, {}, { class: 'form-select pl-10' } %>
      </div>
      <p class="help-text my-1">This is the default page you will see when you first launch the app.</p>
    </div>

    <div class="space-y-3 form-group">
      <div class="flex gap-x-2.5">
        <div class="form-input-toggle shrink-0" data-controller="toggle-checkbox" data-action="mousedown->toggle-checkbox#toggle">
          <span class="form-input-toggle-switch"></span>
          <%= settings_form.check_box :show_pinned_pages_menu, { checked: @user.show_pinned_pages_menu?, class: 'sr-only', data: { toggle_checkbox_target: 'checkbox' } }, true, false %>
        </div>
        <div>
          <%= settings_form.label :show_pinned_pages_menu, 'Show pinned shortcuts menu', class: 'select-none text-slate-700 dark:text-slate-300' %>
          <p class="my-1 help-text">Show the pinned shortcuts menu in the top right corner of the app on mobile devices.</p>
        </div>
      </div>

      <div class="flex gap-x-2.5">
        <div class="form-input-toggle shrink-0" data-controller="toggle-checkbox" data-action="mousedown->toggle-checkbox#toggle">
          <span class="form-input-toggle-switch"></span>
          <%= settings_form.check_box :show_pinned_pages_list, { checked: @user.show_pinned_pages_list?, class: 'sr-only', data: { toggle_checkbox_target: 'checkbox' } }, true, false %>
        </div>
        <div>
          <%= settings_form.label :show_pinned_pages_list, 'Show pinned shortcuts list', class: 'select-none text-slate-700 dark:text-slate-300' %>
          <p class="my-1 help-text">Show the pinned shortcuts list in the sidebar on desktop devices.</p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="md:sticky bottom-0 flex items-center gap-4 pt-6 pb-6 bg-slate-50 border-t dark:bg-slate-900 border-slate-200 dark:border-slate-700">
    <%= form.submit 'Save settings', data: { turbo: false }, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, data: { turbo: false }, class: 'btn btn-dark btn-muted' %>
  </div>
<% end %>

<div class="pt-6 border-t border-slate-200 dark:border-slate-700">
  <h2 class="mb-2 text-lg font-bold text-slate-700 dark:text-slate-200">Danger Zone</h2>
</div>

<div
  data-controller="modal"
  data-modal-hide-modal-class="opacity-0 scale-75 pointer-events-none"
  data-modal-show-modal-class="opacity-100 scale-100 pointer-events-auto"
  data-modal-hide-backdrop-class="opacity-0 pointer-events-none"
  data-modal-show-backdrop-class="opacity-100 pointer-events-auto"
  class="card"
>
  <div class="flex flex-wrap gap-4 items-center justify-between">
    <div class="max-w-md">
      <p class="font-bold">Reset settings</p>
      <p class="help-text">Reset all settings to their defaults for a fresh start.</p>
    </div>

    <!-- Open Reset User Settings Modal Button -->
    <button data-action="mousedown->modal#open" data-modal-id="resetUserSettings" class="btn btn-destructive whitespace-nowrap ml-auto gap-2">
      <%= inline_svg_tag 'icons/settings-reset.svg', class: 'size-5' %>
      Reset settings
    </button>
  </div>

  <!-- Reset User Settings Modal Backdrop -->
  <div
    data-modal-target="backdrop"
    data-modal-id="resetUserSettings"
    data-action="mousedown->modal#backdropClose"
    class="modal-backdrop opacity-0 pointer-events-none"></div>

  <!-- Reset User Settings Modal -->
  <div
    id="resetUserSettings"
    role="dialog"
    aria-label="Reset Settings Confirmation"
    tabindex="-1"
    data-modal-target="modal"
    class="modal opacity-0 scale-75 pointer-events-none"
  >
    <div class="flex flex-col space-y-1.5 text-center sm:text-left">
      <h2 class="text-lg font-semibold leading-none tracking-tight">Reset Settings?</h2>
      <p class="text-soft text-sm">Are you sure you want to reset your settings? <span class="underline underline-offset-2 font-semibold">This action cannot be undone</span>.</p>
    </div>

    <div class="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2 mt-4">
      <button data-action="mousedown->modal#close" data-modal-id="resetUserSettings" type="button" class="btn btn-dark btn-muted mt-2 sm:mt-0">Keep settings</button>

      <%= button_to reset_user_settings_path(current_user), method: :post, data: { turbo: false }, class: 'btn btn-destructive font-bold w-full whitespace-nowrap' do %>
        Reset settings
      <% end %>
    </div>

    <button data-action="mousedown->modal#close" type="button" data-modal-id="resetUserSettings" class="modal-x-btn">
      <%= inline_svg_tag 'icons/x-mark.svg', class: 'size-4' %>
      <span class="sr-only">Close</span>
    </button>
  </div>
</div>
