<% user_is_current = user == current_user %>

<div class="mb-24">
  <div class="pb-6 mt-10 mb-6 border-b border-slate-200 dark:border-slate-700">
    <h1 class="heading"><%= user_is_current ? 'Your' : "#{user.first_name}’s" %> Runs</h1>
    <p class="text-soft">Use the filters to find runs by date, distance, duration, or pace.</p>
  </div>

  <%= render 'users/runs_date_form', user: %>

  <div id="runs">
    <% if @runs.present? %>
      <% if 'this'.in?(@date_range) %>
        <p class="mt-6 mb-2 text-sm text-light"><%= user_is_current ? 'You have' : "#{user.first_name} has" %> logged <%= pluralize(@runs.count, 'run') %> <%= @date_range %>.</p>
      <% else %>
        <p class="mt-6 mb-2 text-sm text-light"><%= user_is_current ? 'You' : user.first_name %> logged <%= pluralize(@runs.count, 'run') %> <%= @date_range %>.</p>
      <% end %>
    <% end %>

    <div class="mb-10 space-y-4 sm:space-y-6">
      <% if @runs.present? %>
        <%= render @runs %>
      <% else %>
        <div class="flex flex-col items-center justify-center gap-4 my-24 md:my-32">
          <p class="font-semibold">No runs found</p>
          <p class="text-soft text-center text-sm text-pretty md:max-w-[70%]">Sorry, we couldn&#8217;t find any runs in the selected date range.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
