<div class="mb-24">
  <div class="flex flex-wrap items-end justify-between gap-6 pb-6 mt-10 mb-6 border-b dark:border-slate-700">
    <div class="space-y-2">
      <h1 class="heading"><%= user == current_user ? 'Your' : "#{user.first_name}’s" %> Teams</h1>
      <p class="text-soft">Teams <%= user == current_user ? 'you coach' : "#{user.first_name} coaches" %>.</p>
    </div>

    <%= link_to 'New team', new_team_path, class: 'btn btn-primary' if user == current_user && owned_teams.present? %>
  </div>

  <% if owned_teams.present? %>
    <%= render 'teams/shared/team_list', teams: owned_teams %>
  <% else %>
    <div class="flex flex-col items-center justify-center gap-6 py-12">
      <% if user == current_user %>
        <p class="text-soft text-center">You don't have any teams yet.</p>
        <%= link_to 'New team', new_team_path, class: 'btn btn-primary' %>
      <% else %>
        <p class="text-soft text-center"><%= user.first_name %> doesn't have any teams yet.</p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="mb-24">
  <div class="pb-6 mt-10 mb-6 space-y-2 border-b dark:border-slate-700">
    <h1 class="heading"><%= user == current_user ? 'Your' : "#{user.first_name}’s" %> Team Memberships</h1>
    <p class="text-soft">Teams <%= user == current_user ? 'you are' : "#{user.first_name} is" %> a member of.</p>
  </div>

  <% if membered_teams.present? %>
    <%= render 'teams/shared/team_list', teams: membered_teams %>
  <% else %>
    <div class="flex flex-col items-center justify-center gap-6 py-12">
      <p class="text-soft text-center">You're not a member of any teams yet.</p>
      <%= link_to 'Find a team', teams_path, class: 'btn btn-white' %>
    </div>
  <% end %>
</div>
