<% user_is_current = user == current_user %>

<div class="mb-24">
  <div class="pb-6 mt-10 mb-6 border-b border-slate-200 dark:border-slate-700">
    <h1 class="heading"><%= 'Your' if user_is_current %> Teams</h1>
    <p class="text-soft">Teams that <%= user_is_current ? 'you coach' : "#{user.first_name} coaches" %>.</p>
  </div>

  <% if owned_teams.present? %>
    <%= render 'teams/shared/team_list', teams: owned_teams %>

    <div class="flex justify-center mt-12">
      <%= link_to 'Create a team', new_team_path, class: 'btn btn-sm btn-primary btn-muted' if user_is_current %>
    </div>
  <% else %>
    <div class="flex flex-col items-center justify-center my-24 md:my-32">
      <p class="font-semibold">No teams</p>
      <p class="text-soft text-center text-sm text-pretty md:max-w-[70%]"><%= user_is_current ? 'You don’t' : "#{user.first_name} doesn’t" %> have any teams.</p>
      <%= link_to 'Create a team', new_team_path, class: 'btn btn-primary mt-6' if user_is_current %>
    </div>
  <% end %>
</div>

<div class="mb-24">
  <div class="pb-6 my-6 border-b border-slate-200 dark:border-slate-700">
    <h2 class="subheading"><%= 'Your' if user_is_current %> Team Memberships</h2>
    <p class="text-sm text-soft">Teams that <%= user_is_current ? 'you are' : "#{user.first_name} is" %> a member of.</p>
  </div>

  <% if membered_teams.present? %>
    <%= render 'teams/shared/team_list', teams: membered_teams %>

    <div class="flex justify-center mt-12">
      <%= link_to 'Find a team to join', search_path, class: 'mt-2 btn btn-sm btn-white btn-muted' if user_is_current %>
    </div>
  <% else %>
    <div class="flex flex-col items-center justify-center my-24 md:my-32">
      <p class="font-semibold">No teams</p>
      <p class="text-soft text-center text-sm text-pretty md:max-w-[70%]"><%= user_is_current ? 'You’re' : "#{user.first_name} is" %> not a member of any teams.</p>
      <%= link_to 'Find a team', search_path, class: 'btn btn-white mt-6' if user_is_current %>
    </div>
  <% end %>
</div>
