<%= link_to user, data: { turbo: false }, class: 'group block card' do %>
  <div class="flex items-center gap-3">
    <%= render 'shared/user_photo', user: user, size: :xs, icon_background: :darker %>

    <div class="flex-1">
      <p class='text-lg font-bold transition duration-200 ease-in-out group-hover:text-indigo-600 dark:group-hover:text-indigo-500'>
        <%= user.default_name %>
        <%= content_tag(:span, '(You)', class: 'text-soft text-xs') if user == current_user %>
      </p>
      <%= content_tag(:p, user.username, class: 'text-soft text-sm') if user.display_name.present? %>
    </div>
  </div>

  <% if user != current_user %>
    <% coach_teams = user.owned_teams_in_common(current_user) %>
    <% member_teams = user.membered_teams_in_common(current_user) %>

    <% if coach_teams.any? || member_teams.any? %>
      <div class="mt-4 space-y-2 border-t pt-4 dark:border-slate-700">
        <% if coach_teams.any? %>
          <div class="flex items-start gap-1.5">
            <%= inline_svg_tag 'icons/user.svg', class: 'size-4 text-soft shrink-0' %>
            <p class="text-soft text-xs">Coach of: <%= list(items: coach_teams.map(&:name)) %></p>
          </div>
        <% end %>

        <% if member_teams.any? %>
          <div class="flex items-start gap-1.5">
            <%= inline_svg_tag 'icons/user-group.svg', class: 'size-4 text-soft shrink-0' %>
            <p class="text-soft text-xs">Member of: <%= list(items: member_teams.map(&:name)) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
