<div class="mb-24">
  <div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
    <h1 class="heading">User Info</h1>
    <p class="text-soft">Information and statistics about <%= user == current_user ? 'you' : "#{user.first_name}" %>.</p>
  </div>

  <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
    <!-- Total Miles Card -->
    <div class="card">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Total Miles</h2>
      <p class="text-3xl font-bold">
        <%= user.total_miles %>
        <span class="text-base font-normal text-soft"><%= 'mile'.pluralize(user.total_miles) %></span>
      </p>
    </div>

    <!-- Time Spent Running Card -->
    <div class="card">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Time Spent Running</h2>
      <div class="font-bold flex items-end gap-4">
        <% precise_time_ago(user.total_duration, format: :short).split(' ').each do |time_part| %>
          <% if time_part.include?('mo') %>
            <div>
              <span class="text-3xl"><%= time_part.chop.chop %></span><sup class="text-muted dark:text-soft text-xl"><%= time_part.last(2) %></sup>
            </div>
          <% else %>
            <div>
              <span class="text-3xl"><%= time_part.chop %></span><sup class="text-muted dark:text-soft text-xl"><%= time_part.last %></sup>
            </div>
          <% end %>
        <% end %>
      </div>
      <p class="text-soft">
        <%= precise_time_ago(user.total_duration) %>
      </p>
    </div>

    <!-- Current Streak Card -->
    <% current_streak_data = user.current_streak %>
    <% current_streak = current_streak_data[:streak] %>
    <% current_streak_start_date = current_streak_data[:start_date] %>
    <% current_streak_end_date = current_streak_data[:end_date] %>

    <div class="card">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Current Streak</h2>
      <p class="text-3xl font-bold">
        <%= current_streak %>
        <span class="text-base font-normal text-soft"><%= 'day'.pluralize(current_streak) %></span>
      </p>
      <p class="mt-1 mb-4 text-soft">
        <% if current_streak.zero? %>
          No current streak recorded.
        <% elsif current_streak_start_date == current_streak_end_date %>
          <%= pretty_date(current_streak_start_date, date_style: :relative) %>
        <% else %>
          <%= pretty_date(current_streak_start_date, date_style: :relative) %> &ndash; <%= pretty_date(current_streak_end_date, date_style: :relative) %>
        <% end %>
      </p>

      <%= render 'shared/streak_dots', user: user %>
      <% if user === current_user %>
        <p class="mt-1 text-soft text-sm">
          <% if current_streak_end_date == Date.today %>
            Run again tomorrow to keep your streak!
          <% elsif current_streak_end_date == Date.yesterday %>
            Log a run to extend your streak!
          <% else %>
            Log a run to start a streak!
          <% end %>
        </p>
      <% end %>
    </div>

    <!-- Record Streak Card -->
    <% record_streak_data = user.record_streak %>
    <% record_streak = record_streak_data[:streak] %>
    <% record_streak_start_date = record_streak_data[:start_date] %>
    <% record_streak_end_date = record_streak_data[:end_date] %>

    <div class="card">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Record Streak</h2>
      <p class="text-3xl font-bold">
        <%= record_streak %>
        <span class="text-base font-normal text-soft"><%= 'day'.pluralize(record_streak) %></span>
      </p>
      <p class="mt-1 mb-4 text-soft">
        <% if record_streak.zero? %>
          No record streak recorded.
        <% elsif record_streak_start_date == record_streak_end_date %>
          <%= pretty_date(record_streak_start_date, date_style: :relative) %>
        <% else %>
          <%= pretty_date(record_streak_start_date, date_style: :relative) %> &ndash; <%= pretty_date(record_streak_end_date, date_style: :relative) %>
        <% end %>
      </p>

      <div class="flex flex-wrap gap-1 items-center">
        <span class="text-soft text-sm">Highest milestone reached:</span>
        <div class="w-max ml-auto">
          <%= render 'teams/member/streak_badge', percentage: 100, days: record_streak - (record_streak % 10) %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if user.show_email? || (user.phone_number? && user.show_phone?) %>
  <div class="mb-24">
    <div class="pb-6 my-6 border-b border-slate-200 dark:border-slate-700">
      <h2 class="subheading">Contact</h2>
      <p class="text-sm text-soft">
        <% if user == current_user %>
          Your contact information. You can hide this in your <%= link_to 'settings', edit_user_registration_path(tab: 'settingsTab'), class: 'btn-link transition duration-200 ease-in-out' %>.
        <% else %>
          Contact information for <%= user.first_name %>.
        <% end %>
      </p>
    </div>

    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
      <% if user.show_email? %>
        <div class="card">
          <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Email Address</h2>
          <p class="text-lg font-bold mb-4">
            <%= user.email %>
          </p>
          <%= mail_to user.email, class: 'btn btn-white w-full gap-2' do %>
            <%= inline_svg_tag 'icons/envelope-filled.svg', class: 'size-5' %>
            <span>Email</span>
          <% end %>
        </div>
      <% end %>

      <% if user.show_phone? && user.phone_number? %>
        <div class="card">
          <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Phone Number</h2>
          <p class="text-lg font-bold mb-4">
            <%= number_to_phone(user.phone_number, area_code: true) %>
          </p>
          <div class="flex items-center gap-2">
            <%= sms_to user.phone_number, class: 'btn btn-white w-full gap-2' do %>
              <%= inline_svg_tag 'icons/message-bubble.svg', class: 'size-5' %>
              <span>Text</span>
            <% end %>

            <%= phone_to user.phone_number, class: 'btn btn-white w-full gap-2' do %>
              <%= inline_svg_tag 'icons/phone-filled.svg', class: 'size-5' %>
              <span>Call</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
