<div class="mb-24">
  <div class="pb-6 mt-10 mb-6 space-y-2 border-b dark:border-slate-700">
    <h1 class="heading">User Info</h1>
    <p class="text-soft">Information and statistics about <%= user == current_user ? 'you' : "#{user.first_name}" %>.</p>
  </div>

  <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
    <!-- Total Miles Card -->
    <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Total Miles</h2>
      <p class="text-3xl font-bold">
        <%= user.total_miles %>
      </p>
      <p class="text-soft">
        <%= 'mile'.pluralize(user.total_miles) %>
      </p>
    </div>

    <!-- Time Spent Running Card -->
    <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Time Spent Running</h2>
      <p class="text-3xl font-bold">
        <%= precise_time_ago(user.total_duration, format: :short) %>
      </p>
      <p class="text-soft">
        <%= precise_time_ago(user.total_duration) %>
      </p>
    </div>

    <!-- Current Streak Card -->
    <% current_streak_data = user.current_streak_without_team %>
    <% current_streak = current_streak_data[:streak] %>
    <% current_streak_start_date = current_streak_data[:start_date] %>
    <% current_streak_end_date = current_streak_data[:end_date] %>

    <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Current Streak</h2>
      <p class="text-3xl font-bold">
        <%= current_streak %>
        <span class="text-base font-normal text-soft"><%= 'day'.pluralize(current_streak) %></span>
      </p>
      <p class="my-1 text-soft">
        <% if current_streak_start_date.present? && current_streak_end_date.present? %>
          <%= pretty_date(current_streak_start_date, date_style: :relative) %> &ndash; <%= pretty_date(current_streak_end_date, date_style: :relative) %>
        <% elsif current_streak_start_date.present? && current_streak_end_date.blank? %>
          <%= pretty_date(current_streak_start_date, date_style: :relative) %>
        <% elsif current_streak.zero? %>
          No current streak recorded.
        <% end %>
      </p>
    </div>

    <!-- Record Streak Card -->
    <% longest_streak_data = user.longest_streak_without_team %>
    <% longest_streak = longest_streak_data[:streak] %>
    <% longest_streak_start_date = longest_streak_data[:start_date] %>
    <% longest_streak_end_date = longest_streak_data[:end_date] %>

    <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Record Streak</h2>
      <p class="text-3xl font-bold">
        <%= longest_streak %>
        <span class="text-base font-normal text-soft"><%= 'day'.pluralize(longest_streak) %></span>
      </p>
      <p class="my-1 text-soft">
        <% if longest_streak_start_date.present? && longest_streak_end_date.present? %>
          <%= pretty_date(longest_streak_start_date, date_style: :relative) %> &ndash; <%= pretty_date(longest_streak_end_date, date_style: :relative) %>
        <% elsif longest_streak_start_date.present? && longest_streak_end_date.blank? %>
          <%= pretty_date(longest_streak_start_date, date_style: :relative) %>
          <span class="my-1 ml-1 help-text">(Most recent run)</span>
        <% elsif longest_streak.zero? %>
          No longest streak recorded.
        <% end %>
      </p>
    </div>
  </div>
</div>

<% if user.show_email? || (user.phone_number? && user.show_phone?) %>
  <div class="mb-24">
    <div class="pb-6 mt-10 mb-6 space-y-2 border-b dark:border-slate-700">
      <h1 class="heading">Contact</h1>

      <p class="text-soft">
        <% if user == current_user %>
          Your contact information. You can hide this in <%= link_to 'settings', edit_user_registration_path(tab: 'settingsTab'), class: 'btn-link transition duration-200 ease-in-out' %>.
        <% else %>
          Contact information for <%= user.first_name %>.
        <% end %>
      </p>
    </div>

    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
      <% if user.show_email? %>
        <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
          <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Email Address</h2>
          <p class="text-lg font-bold mb-4">
            <%= user.email %>
          </p>
          <%= mail_to user.email, class: 'btn btn-white w-full gap-2' do %>
            <%= inline_svg_tag 'icons/envelope-filled.svg', class: 'size-5' %>
            <span>Email</span>
          <% end %>
        </div>
      <% end %>

      <% if user.show_phone? && user.phone_number? %>
        <div class="p-6 border rounded-lg shadow-md bg-slate-50/85 dark:bg-slate-800/85 backdrop-blur-sm dark:shadow-none dark:border-slate-700">
          <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Phone Number</h2>
          <p class="text-lg font-bold mb-4">
            <%= number_to_phone(user.phone_number, area_code: true) %>
          </p>
          <div class="flex items-center gap-2">
            <%= sms_to user.phone_number, class: 'btn btn-white w-full gap-2' do %>
              <%= inline_svg_tag 'icons/message-bubble.svg', class: 'size-5' %>
              <span>Text</span>
            <% end %>

            <%= phone_to user.phone_number, class: 'btn btn-white w-full gap-2' do %>
              <%= inline_svg_tag 'icons/phone-filled.svg', class: 'size-5' %>
              <span>Call</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
