<% user_is_current = user == current_user %>

<div class="mb-24">
  <div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
    <h1 class="heading">User Info</h1>
    <p class="text-soft">Information and statistics about <%= user_is_current ? 'you' : "#{user.first_name}" %>.</p>
  </div>

  <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
    <!-- Total Miles Card -->
    <div class="card">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Total Miles</h2>
      <p class="text-3xl font-bold">
        <%= user.total_miles %>
        <span class="text-base font-normal text-soft"><%= 'mile'.pluralize(user.total_miles) %></span>
      </p>
    </div>

    <!-- Time Spent Running Card -->
    <div class="card">
      <h2 class="mb-6 text-lg font-semibold text-slate-700 dark:text-slate-300">Time Spent Running</h2>
      <div class="font-bold flex items-end gap-4">
        <% precise_time_ago(user.total_duration, format: :short).split(' ').each do |time_part| %>
          <% if time_part.include?('mo') %>
            <div>
              <span class="text-3xl"><%= time_part.chop.chop %></span><sup class="text-muted dark:text-soft text-xl"><%= time_part.last(2) %></sup>
            </div>
          <% else %>
            <div>
              <span class="text-3xl"><%= time_part.chop %></span><sup class="text-muted dark:text-soft text-xl"><%= time_part.last %></sup>
            </div>
          <% end %>
        <% end %>
      </div>
      <p class="text-soft">
        <%= precise_time_ago(user.total_duration) %>
      </p>
    </div>

    <!-- Current Streak Card -->
    <%= render 'shared/user_current_streak_card', user: current_user %>

    <!-- Record Streak Card -->
    <%= render 'shared/user_record_streak_card', user: current_user %>
  </div>
</div>

<% if user.show_email? || user.show_phone? || user_is_current %>
  <div class="mb-24">
    <div class="pb-6 my-6 border-b border-slate-200 dark:border-slate-700">
      <h2 class="subheading">Contact</h2>
      <p class="text-sm text-soft">
        <% if user_is_current %>
          Your contact information.
          <% if user.show_email? || user.show_phone? %>
            You can hide this in your <%= link_to 'settings', edit_user_registration_path(tab: 'settingsTab'), class: 'btn-link transition duration-200 ease-in-out' %>.
          <% else %>
            No one can see this except you. You can show this in your <%= link_to 'settings', edit_user_registration_path(tab: 'settingsTab'), class: 'btn-link transition duration-200 ease-in-out' %>.
          <% end %>
        <% else %>
          Contact information for <%= user.first_name %>.
        <% end %>
      </p>
    </div>

    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
      <% if user.show_email? || user_is_current %>
        <div class="card flex flex-col">
          <div class="mb-6">
            <h2 class="text-lg font-semibold text-slate-700 dark:text-slate-300">Email Address</h2>
            <% unless user.show_email? %>
              <div class="flex items-center gap-1">
                <%= inline_svg_tag 'icons/eye-slash.svg', class: 'size-3.5 text-muted' %>
                <p class="text-xs text-soft">Hidden from other users</p>
              </div>
            <% end %>
          </div>
          <p class="text-lg font-bold mb-4 mt-auto">
            <%= user.email %>
          </p>
          <%= mail_to user.email, class: 'btn btn-white w-full gap-2' do %>
            <%= inline_svg_tag 'icons/envelope-filled.svg', class: 'size-5' %>
            <span>Email</span>
          <% end %>
        </div>
      <% end %>

      <% if user.show_phone? || (user_is_current & user.phone_number?) %>
        <div class="card flex flex-col">
          <div class="mb-6">
            <h2 class="text-lg font-semibold text-slate-700 dark:text-slate-300">Phone Number</h2>
            <% unless user.show_phone? %>
              <div class="flex items-center gap-1">
                <%= inline_svg_tag 'icons/eye-slash.svg', class: 'size-3.5 text-muted' %>
                <p class="text-xs text-soft">Hidden from other users</p>
              </div>
            <% end %>
          </div>
          <p class="text-lg font-bold mb-4 mt-auto">
            <%= user.formatted_phone_number(:national_with_country_code) %>
          </p>
          <div class="flex items-center gap-2">
            <%= sms_to user.phone_number, class: 'btn btn-white w-full gap-2' do %>
              <%= inline_svg_tag 'icons/message-bubble.svg', class: 'size-5' %>
              <span>Text</span>
            <% end %>

            <%= phone_to user.phone_number, class: 'btn btn-white w-full gap-2' do %>
              <%= inline_svg_tag 'icons/phone-filled.svg', class: 'size-5' %>
              <span>Call</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
