<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="pb-6 border-b dark:border-slate-700 text-center">
    <h1 class="heading">User's Name Here</h1>
    <h2 class="text-lg text-slate-700 my-1 dark:text-slate-400"><%= @user.username %></h2>
    <% if @user == current_user %>
      <div class="flex items-center justify-center sm:justify-end">
        <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-white' %>
      </div>
    <% end %>
  </div>

  <div class="pb-3 mt-10">
    <h1 class="heading pb-6">User Stats</h1>
    <div class="block sm:flex space-y-8 sm:space-y-0 sm:items-center sm:justify-around">
      <div class='flex flex-col items-center justify-center text-center'>
        <p class='font-semibold text-2xl'>
          <%= @user.total_miles %>
        </p>
        <p class='text-slate-700 dark:text-slate-400'>miles ran</p>
      </div>
      <div class='flex flex-col items-center justify-center text-center'>
        <p class='font-semibold text-2xl'>
          <%= clock_time_display(@user.total_duration) %>
        </p>
        <p class='text-slate-700 dark:text-slate-400'>spent running</p>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap gap-6 items-center justify-between mt-10 pb-6 border-b dark:border-slate-700">
    <h1 class="heading">Runs This Week</h1>
    <div class="flex items-center justify-end">
      <%= link_to "New run", new_run_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="divide-y dark:divide-slate-700 dark:text-slate-700 mb-10">
    <% @user.runs_in_range(Date.current.beginning_of_week..Date.current).each do |run| %>
      <div class="py-3">
        <%= render run %>

        <%= link_to "View run", run, class: "btn-link inline-block my-3" %>
      </div>
    <% end %>
  </div>
</div>
