<% if @tab == 'runs' %>
  <%= turbo_stream.replace 'runs-list' do %>
    <div id="runs-list" data-controller="filter-runs">
      <% if @runs.present? %>
        <% if 'this'.in?(@runs_date_range) %>
          <p class="mt-6 mb-2 text-sm text-light"><%= @user == current_user ? 'You have' : "#{@user.first_name} has" %> logged <%= pluralize(@runs.size, 'run') %> <%= @runs_date_range %>.</p>
        <% else %>
          <p class="mt-6 mb-2 text-sm text-light"><%= @user == current_user ? 'You' : @user.first_name %> logged <%= pluralize(@runs.size, 'run') %> <%= @runs_date_range %>.</p>
        <% end %>
      <% end %>

      <%= render 'users/runs_list', runs: @runs %>
    </div>
  <% end %>

  <%= turbo_stream.replace 'runs_date_form' do %>
    <%= render 'users/runs_date_form', user: @user %>
  <% end %>
<% end %>
