<% content_for :title, @user.default_name %>

<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="infoTab" class="max-w-3xl mx-auto my-16">
  <div class="mb-6 text-center">
    <div class="mb-4 flex justify-center">
      <%= render 'shared/user_photo', user: @user, size: :lg %>
    </div>

    <h1 class="heading"><%= @user.default_name %></h1>
    <% if @user.display_name.present? %>
      <h2 class="my-1 text-lg text-soft"><%= @user.username %></h2>
    <% elsif @user == current_user %>
      <p class="mt-1">
        <%= link_to 'Add a display name to your profile', edit_user_registration_path, class: 'text-sm text-soft hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-200' %>
      </p>
    <% end %>
  </div>

  <div class="relative flex items-center mb-6">
    <!-- Left Arrow -->
    <button type="button" data-action="mousedown->tabs#scrollLeft" data-tabs-target="leftArrow" class="opacity-0 pointer-events-none tab-container-scroll-left transition duration-200">
      <%= inline_svg_tag 'icons/chevron-left.svg', class: 'size-5 text-soft' %>
    </button>

    <div class="tab-container mx-auto" data-tabs-target="container">
      <!-- Tab Indicator -->
      <span data-tabs-target="indicator" class="sliding-tab-indicator"></span>

      <button type="button" id="infoTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab].blank? || params[:tab] == 'infoTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/info.svg', class: 'size-5' %>
        <span>User Info</span>
      </button>

      <button type="button" id="teamsTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'teamsTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/team.svg', class: 'size-5' %>
        <span>Teams</span>
      </button>

      <button type="button" id="runsTab" data-tabs-target="btn" data-action="mousedown->tabs#select" class="btn-tab <%= params[:tab] == 'runsTab' ? 'btn-tab-active' : '' %>">
        <%= inline_svg_tag 'icons/runner.svg', class: 'size-4.5' %>
        <span>Runs</span>
      </button>
    </div>

    <!-- Right Arrow -->
    <button type="button" data-action="mousedown->tabs#scrollRight" data-tabs-target="rightArrow" class="opacity-0 pointer-events-none tab-container-scroll-right transition duration-200">
      <%= inline_svg_tag 'icons/chevron-right.svg', class: 'size-5 text-soft' %>
    </button>
  </div>

  <div id="infoTab" data-tabs-target="tab" class="mb-24 <%= params[:tab].blank? || params[:tab] == 'infoTab' ? '' : 'hidden' %>">
    <%= render 'user_info', user: @user %>
  </div>

  <div id="teamsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'teamsTab' ? '' : 'hidden' %>">
    <%= render 'teams', user: @user, owned_teams: @owned_teams, membered_teams: @membered_teams %>
  </div>

  <div id="runsTab" data-tabs-target="tab" class="<%= params[:tab] == 'runsTab' ? '' : 'hidden' %>">
    <div class="mb-24">
      <%= render 'runs_today', user: @user %>
    </div>
    <div class="mb-24">
      <%= render 'runs_filter', user: @user %>
    </div>
  </div>
</div>
