<div data-controller="tabs" data-tabs-active-class="btn-tab-active" data-tabs-default-tab-value="infoTab" class="max-w-3xl mx-auto px-4 my-16">
  <div class="pb-6 text-center">

    <%= image_tag @user.avatar, class: 'size-28 sm:size-32 md:size-36 rounded-lg drop-shadow-lg dark:drop-shadow-none mx-auto mb-4' if @user.avatar.attached? %>

    <h1 class="heading"><%= @user.default_name %></h1>
    <% if @user.display_name.present? %>
      <h2 class="text-lg my-1 text-soft"><%= @user.username %></h2>
    <% elsif @user == current_user %>
      <p class="mt-1">
        <%= link_to 'Add a display name to your profile', edit_user_registration_path, class: 'text-sm text-soft hover:text-indigo-600 dark:hover:text-indigo-500 transition ease-in-out duration-300' %>
      </p>
    <% end %>
  </div>

  <div class="tab-container">
    <button type="button" id="infoTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab].blank? || params[:tab] == 'infoTab' ? 'btn-tab-active' : '' %>">
      <%= inline_svg_tag 'icons/info.svg', class: 'size-5' %>
      <span>User Info</span>
    </button>

    <button type="button" id="teamsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'teamsTab' ? 'btn-tab-active' : '' %>">
      <%= inline_svg_tag 'icons/team.svg', class: 'size-5' %>
      <span>Teams</span>
    </button>

    <button type="button" id="runsTab" data-tabs-target="btn" data-action="click->tabs#select" class="btn-tab <%= params[:tab] == 'runsTab' ? 'btn-tab-active' : '' %>">
      <%= inline_svg_tag 'icons/runner.svg', class: 'size-5' %>
      <span>Runs</span>
    </button>
  </div>

  <div id="infoTab" data-tabs-target="tab" class="mb-24 <%= params[:tab].blank? || params[:tab] == 'infoTab' ? '' : 'hidden' %>">
    <%= render 'user_info', user: @user %>
  </div>

  <div id="teamsTab" data-tabs-target="tab" class="mb-24 <%= params[:tab] == 'teamsTab' ? '' : 'hidden' %>">
    <%= render 'teams', user: @user, owned_teams: @user.owned_teams, membered_teams: @user.membered_teams %>
  </div>

  <div id="runsTab" data-tabs-target="tab" class="<%= params[:tab] == 'runsTab' ? '' : 'hidden' %>">
    <div class="mb-24">
      <%= render 'runs_today', user: @user %>
    </div>
    <div class="mb-24">
      <%= render 'runs_filter', user: @user %>
    </div>
  </div>
</div>
