<% size ||= :sm %>

<% size_classes = {
  sm: 'h-2 rounded-full',
  lg: 'h-4 rounded',
} %>

<% comparison_classes = (percentage - marker).positive? ? 'z-30 border-r-4 border-yellow-500 rounded-none dark:border-yellow-600' : 'z-10 bg-red-600/30' if local_assigns[:marker] %>

<div>
  <div class="flex items-end justify-between gap-4 my-1">
    <span class="text-sm text-soft"><%= label %></span>
    <div class="text-sm text-right text-soft md:flex gap-1.5">
      <p class="whitespace-nowrap"><%= "#{percentage}%".concat(local_assigns[:marker] ? ' of goal met' : '') %></p>
      <% if local_assigns[:marker] %>
        <span class="max-md:hidden">/</span>
        <p class="whitespace-nowrap"><%= "#{(marker - percentage).abs.round(2)}%".concat(percentage < marker ? ' behind' : ' ahead') %></p>
      <% end %>
    </div>
  </div>
  <div class="<%= size_classes[size] %> w-full bg-gray-200 dark:bg-gray-700 relative"
       role="progressbar"
       aria-valuenow="<%= percentage %>"
       aria-valuemin="0"
       aria-valuemax="100"
       aria-label="<%= label %>"
    >
    <div class="<%= size_classes[size] %> bg-indigo-500 dark:bg-indigo-600 absolute left-0 top-0 z-20 max-w-full" style="width: <%= percentage %>%"></div>
    <% if local_assigns[:marker] %>
      <div class="<%= size_classes[size] + ' ' + comparison_classes %> absolute top-0 left-0 max-w-full" style="width: <%= marker %>%"></div>
    <% end %>
  </div>
</div>
