<% current_is_edit_user = current_page?(edit_user_registration_path) %>
<% current_is_search = current_page?(search_path) %>
<% current_is_new_run = current_page?(new_run_path) %>
<% current_is_teams = current_page?(teams_path) %>
<% current_is_profile = current_page?(profile_path) %>
<% current_is_root = current_page?(root_path) %>

<div class="hidden h-full flex-[0.3] min-w-72 max-w-[350px] md:block">
  <nav
    data-controller="modal"
    data-modal-hide-modal-class="opacity-0 scale-75 pointer-events-none"
    data-modal-show-modal-class="opacity-100 scale-100 pointer-events-auto"
    data-modal-hide-backdrop-class="opacity-0 pointer-events-none"
    data-modal-show-backdrop-class="opacity-100 pointer-events-auto"
    class="h-[calc(100%-2rem)] flex flex-col overflow-y-auto p-2 bg-white dark:bg-slate-800 border dark:border-slate-700 m-4 mr-0 rounded-lg shadow-xl"
  >
    <button onclick="window.location.reload()" class="mx-2 mt-2 mb-4 hover:opacity-75">
      <%= inline_svg_tag('logo.svg', class: 'w-48') %>
    </button>

    <!-- Main navigation links -->
    <div class="mb-6">
      <%= link_to root_path, aria: { current: current_page?(root_path) ? 'page' : nil }, class: "group sidebar-link #{'sidebar-link-active' if current_page?(root_path)}" do %>
        <% if current_is_root %>
          <%= inline_svg_tag 'icons/home-filled.svg', class: 'size-5 dark:group-focus:text-white' %>
        <% else %>
          <%= inline_svg_tag 'icons/home.svg', class: 'size-5 dark:group-focus:text-white motion-safe:group-hover:bounce-animation motion-safe:group-focus:bounce-animation' %>
        <% end %>
        <span>Home</span>
      <% end %>

      <%= link_to search_path, aria: { current: current_is_search ? 'page' : nil }, class: "group sidebar-link #{'sidebar-link-active' if current_is_search}" do %>
        <% if current_is_search %>
          <%= inline_svg_tag 'icons/search-filled.svg', class: 'size-5 dark:group-focus:text-white' %>
        <% else %>
          <%= inline_svg_tag 'icons/search.svg', class: 'size-5 dark:group-focus:text-white motion-safe:group-hover:wiggle-animation motion-safe:group-focus:wiggle-animation' %>
        <% end %>
        <span>Search</span>
      <% end %>

      <%= link_to teams_path, aria: { current: current_is_teams ? 'page' : nil }, class: "group sidebar-link #{'sidebar-link-active' if current_is_teams}" do %>
        <% if current_is_teams %>
          <%= inline_svg_tag 'icons/team-filled.svg', class: 'size-5 dark:group-focus:text-white' %>
        <% else %>
          <%= inline_svg_tag 'icons/team.svg', class: 'size-5 dark:group-focus:text-white motion-safe:group-hover:gelatine-animation motion-safe:group-focus:gelatine-animation' %>
        <% end %>
        <span>Teams</span>
      <% end %>

      <%= link_to profile_path, aria: { current: current_is_profile ? 'page' : nil }, class: "group sidebar-link #{'sidebar-link-active' if current_is_profile}" do %>
        <%= render 'shared/user_photo', user: current_user, size: :thumb, icon_background: :none, icon_filled: current_is_profile, icon_name: 'profile', image_classes: "dark:group-focus:text-white #{'motion-safe:group-hover:pulse-hover-animation motion-safe:group-focus:pulse-hover-animation' unless current_is_profile}" %>
        <span>Profile</span>
      <% end %>

      <%= link_to edit_user_registration_path, aria: { current: current_is_edit_user ? 'page' : nil }, class: "group sidebar-link #{'sidebar-link-active' if current_is_edit_user}" do %>
        <% if current_is_edit_user %>
          <%= inline_svg_tag 'icons/settings-filled.svg', class: 'size-5 dark:group-focus:text-white' %>
        <% else %>
          <%= inline_svg_tag 'icons/settings.svg', class: 'size-5 dark:group-focus:text-white spin-animation motion-safe:group-hover:spin motion-safe:group-focus:spin' %>
        <% end %>
        <span>Settings</span>
      <% end %>
    </div>

    <div class="mb-6">
      <!-- Pinned pages -->
      <%= render 'pinned_pages/list' %>
      <!-- Pin/Unpin page button -->
      <%= render 'pinned_pages/pin_button', page_url: request.fullpath %>
    </div>

    <!-- Open New Run Modal Button -->
    <button data-action="mousedown->modal#open" data-modal-id="newRunModal" class="btn btn-primary mt-auto gap-2.5">
      <%= inline_svg_tag 'icons/runner.svg', class: 'size-5' %>
      <span>New run</span>
    </button>

    <%= render 'runs/new_run_modal' %>
  </nav>
</div>
