<div class="hidden h-full flex-[0.3] min-w-72 md:block">
  <nav class="h-full flex flex-col py-8 px-6 gap-1 backdrop-blur-sm bg-slate-50/85 dark:bg-slate-800/85 border-r dark:border-slate-700">
    <div class="font-bold text-xl mb-4 px-3">
      <span class="text-indigo-500">Team</span><span>Runner</span>
    </div>

    <%= link_to profile_path, aria: { current: current_page?(profile_path) ? 'page' : nil }, class: "sidebar-link #{current_page?(profile_path) ? 'sidebar-link-active' : 'sidebar-link-inactive' }" do %>
      <%= inline_svg_tag 'icons/profile.svg', class: 'size-6' %>
      <span>Profile</span>
    <% end %>

    <%= link_to teams_path, aria: { current: current_page?(teams_path) ? 'page' : nil }, class: "sidebar-link #{current_page?(teams_path) ? 'sidebar-link-active' : 'sidebar-link-inactive' }" do %>
      <%= inline_svg_tag 'icons/team.svg', class: 'size-6' %>
      <span>Teams</span>
    <% end %>

    <%= link_to edit_user_settings_path, aria: { current: current_page?(edit_user_settings_path) ? 'page' : nil }, class: "sidebar-link #{current_page?(edit_user_settings_path) ? 'sidebar-link-active' : 'sidebar-link-inactive' }" do %>
      <%= inline_svg_tag 'icons/settings.svg', class: 'size-6' %>
      <span>Settings</span>
    <% end %>

    <%= link_to 'New run', new_run_path, aria: { current: current_page?(new_run_path) ? 'page' : nil }, class: 'btn btn-primary mt-auto' %>

    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-destructive btn-outline w-full mt-2' %>
  </nav>
</div>
