<% team ||= nil %>
<% streak_data ||= user.current_streak(team) %>

<% streak = streak_data[:streak] %>
<% start_date = streak_data[:start_date] %>
<% end_date = streak_data[:end_date] %>

<div class="card">
  <h2 class="mb-6 text-lg font-semibold text-light"><%= 'Your' if current_page?(root_path) %> Current Streak <%= "for #{team.name}" if team %></h2>
  <p class="text-3xl font-bold">
    <%= number_with_delimiter streak %>
    <span class="text-base font-normal text-soft"><%= 'day'.pluralize(streak) %></span>
  </p>
  <div class="mt-2 mb-4">
    <% if streak.zero? %>
      <p class="text-soft text-sm">No current streak recorded.</p>
    <% elsif start_date == end_date %>
      <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
        <%= inline_svg_tag 'icons/calendar-filled.svg', class: 'size-3.5 shrink-0' %>
        <span class="whitespace-nowrap"><%= pretty_date(start_date, month_format: :short, include_year: Date.current.year != start_date.year) %></span>
      </div>
    <% else %>
      <div class="text-soft text-sm font-semibold inline-flex items-center gap-1">
        <%= inline_svg_tag 'icons/calendar-filled.svg', class: 'size-3.5 shrink-0' %>
        <span class="whitespace-nowrap"><%= pretty_date(start_date, month_format: :short, include_year: Date.current.year != start_date.year) %> &ndash; <%= pretty_date(end_date, month_format: :short, include_year: Date.current.year != end_date.year) %></span>
      </div>
    <% end %>
  </div>

  <%= render 'shared/streak_dots', user: user, team: team %>

  <% if user == current_user %>
    <p class="mt-2 text-soft text-sm">
      <% if end_date == Date.today %>
        Run again tomorrow to extend your streak!
      <% elsif end_date == Date.yesterday %>
        Log a run today to extend your streak!
      <% else %>
        Log a run to start your streak!
      <% end %>
    </p>
  <% end %>

  <% if team %>
    <div class="mt-2">
      <% if team.exclude_weekends_from_streak? %>
        <p class="text-soft text-xs">Weekends won&#8217;t reset your streak for this team.</p>
      <% elsif team.exclude_saturday_from_streak? %>
        <p class="text-soft text-xs">Saturdays won&#8217;t reset your streak for this team.</p>
      <% elsif team.exclude_sunday_from_streak? %>
        <p class="text-soft text-xs">Sundays won&#8217;t reset your streak for this team.</p>
      <% end %>
    </div>
  <% end %>
</div>
