<% size ||= :sm %>
<% image_options ||= {} %>
<% image_classes ||= '' %>
<% image_only ||= false %>
<% icon_background ||= :default %>
<% icon_filled ||= false %>
<% icon_name ||= 'user' %>

<% size_class_map = {
  thumb: 'size-6 rounded-md',
  xs: 'size-8 rounded-md',
  sm: 'size-12 rounded-lg',
  md: 'size-20 rounded-xl drop-shadow-lg dark:drop-shadow-none',
  lg: 'size-28 sm:size-32 md:size-36 rounded-2xl drop-shadow-xl dark:drop-shadow-none',
} %>

<% size_classes = size_class_map[size] %>

<%
  px_size = case size
  when :thumb
    25
  when :xs, :sm
    50
  when :md
    100
  when :lg
    150
  end
%>

<% fallback_size_class_map = {
  thumb: 'size-5',
  xs: 'size-6',
  sm: 'size-8',
  md: 'size-16',
  lg: 'size-24 sm:size-28 md:size-32',
} %>

<% fallback_size_class = icon_background == :none ? size_class_map[size] : fallback_size_class_map[size] %>

<% icon_background_class_map = {
  default: 'bg-gradient-to-b from-slate-200 to-slate-300 dark:from-slate-700 dark:to-slate-800',
  darker: 'bg-gradient-to-b from-slate-200 to-slate-300 dark:from-slate-600 dark:to-slate-700',
  none: '',
} %>

<% icon_background_class = icon_background_class_map[icon_background] %>

<% icon_color_class_map = {
  default: 'text-soft',
  darker: 'text-light',
  none: '',
} %>

<% icon_color_class = icon_color_class_map[icon_background] %>
<% avatar_check = user&.avatar&.attached? && user&.avatar&.blob&.persisted? && user&.avatar&.variable? %>

<% unless image_only %>
  <% svg_fallback = capture do %>
    <div class="grid place-items-center <%= size_classes %> <%= icon_background_class %> <%= image_classes %>">
      <%= inline_svg_tag "icons/#{icon_filled ? "#{icon_name}-filled" : icon_name}.svg", class: "#{fallback_size_class} #{icon_color_class}" %>
    </div>
  <% end %>
<% end %>

<% if avatar_check %>
  <% begin %>
    <%= image_tag user.avatar.variant(resize_to_limit: [px_size, px_size]).processed, class: "#{size_classes} object-cover #{image_classes}", **image_options %>
  <% rescue ActiveStorage::FileNotFoundError, StandardError => e %>
    <%= svg_fallback %>
  <% end %>
<% elsif user&.avatar_url %>
  <%= image_tag user.avatar_url, class: "#{size_classes} object-cover #{image_classes}", **image_options %>
<% elsif image_only %>
  <%= image_tag '', class: "#{size_classes} object-cover #{image_classes}", **image_options if current_page?(edit_user_registration_path) %>
<% else %>
  <%= svg_fallback %>
<% end %>
