<div class="max-w-3xl mx-auto px-4 my-10">
  <div class="mb-4 pb-6 border-b border-slate-200 dark:border-slate-700">
    <div class="flex items-center justify-between">
      <h1 class="heading">Settings</h1>
    </div>
  </div>

  <%= form_with model: @user, url: user_settings_path, local: true do |form| %>
    <!-- Hidden fields to ensure that unchecked checkboxes submit 'false' -->
    <%= hidden_field_tag 'user[settings][email_visible]', 'false' %>
    <%= hidden_field_tag 'user[settings][phone_visible]', 'false' %>

    <%= form.fields_for :settings do |settings_form| %>
      <div class="my-6">
        <h2 class="font-normal text-lg text-slate-700 dark:text-slate-200 mb-2">Contact information</h2>
        <p class="text-sm text-slate-600 dark:text-slate-400">Display your contact information to other users on your profile.</p>
      </div>

      <div class="form-group space-y-2">
        <div class="flex items-center gap-2">
          <%= settings_form.check_box :email_visible, { checked: @user.settings(:privacy).email_visible, class: 'form-input-checkbox' }, true, false %>
          <%= settings_form.label :email_visible, 'Show email', class: 'select-none text-sm text-slate-700 dark:text-slate-300' %>
        </div>
        <div class="flex items-center gap-2">
          <%= settings_form.check_box :phone_visible, { checked: @user.settings(:privacy).phone_visible, class: 'form-input-checkbox' }, true, false %>
          <%= settings_form.label :phone_visible, 'Show phone number', class: 'select-none text-sm text-slate-700 dark:text-slate-300' %>
        </div>
      </div>

      <div class="py-10 mt-6 border-t border-slate-200 dark:border-slate-700">
        <h2 class="font-normal text-lg text-slate-700 dark:text-slate-200 mb-2">Appearance</h2>
        <p class="text-sm text-slate-600 dark:text-slate-400">Choose your preferred theme.</p>
      </div>

      <div data-controller="theme" class="form-group">
        <%= settings_form.label :theme, 'Theme', class: 'form-label' %>
        <%= settings_form.select :theme, options_for_select([['System default', 'system'], ['Light', 'light'], ['Dark', 'dark']], @user.settings(:appearance).theme), {}, data: { theme_target: 'themeSelect', action: 'theme#change' }, class: 'form-select' %>
      </div>
    <% end %>

    <div class="flex items-center gap-6 mt-10">
      <%= form.submit "Save settings", class: "btn btn-primary mr-auto" %>
      <%= link_to "Cancel", :back, class: "btn btn-white", data: { turbo: false } %>
    </div>
  <% end %>
</div>
