<% content_for :title, 'Sign in' %>

<% content_for :masthead do %>
  <div class="text-center">
    <div class="flex justify-center">
      <div class="flex flex-col items-center">
        <%= inline_svg_tag 'logo.svg', class: 'w-64' %>
        <%= inline_svg_tag 'compatible_with_strava.svg', class: 'w-28' %>
      </div>
    </div>
    <h1 class="subheading my-6">Sign in to your account</h1>
  </div>
<% end %>

<% content_for :footer do %>
  <div class="text-center mt-4">
    <p class="mt-4 text-light leading-none">
      Don&#8217;t have an account? <%= link_to 'Sign up', new_registration_path(resource_name), class: 'btn-link' %>
    </p>
  </div>
<% end %>

<%= render 'auth_layout' do %>
  <%= form_for resource, as: resource_name, url: session_path(resource_name), data: { controller: "form-validation" }, html: { novalidate: true } do |f| %>
    <%= render 'devise/shared/error_messages', resource: resource %>

    <div class="form-group">
      <%= f.label :login, 'Username or email', class: 'form-label' %>
      <div class="relative">
        <%= inline_svg_tag 'icons/user.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
        <%= f.text_field :login, autofocus: true, class: 'form-input pl-10', placeholder: 'Enter your username or email', data: { form_validation_target: 'login', action: 'input->form-validation#validateLogin' } %>
      </div>
      <span class="error-message hidden my-1" data-form-validation-target="loginError">Must be a valid email or username</span>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'form-label' %>
      <div data-controller="password-visibility" class="relative">
        <%= inline_svg_tag 'icons/lock.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
        <%= f.password_field :password, autocomplete: 'current-password', placeholder: 'Enter your password', class: 'form-input pl-10', data: { password_visibility_target: 'password' } %>

        <button type="button" class="absolute right-1.5 top-1/2 -translate-y-1/2 text-slate-500 size-8 grid place-items-center" data-action="password-visibility#toggle" aria-label="Toggle password visibility">
          <%= inline_svg_tag 'icons/eye.svg', data: { password_visibility_target: 'visibleIcon' }, class: 'size-5' %>
          <%= inline_svg_tag 'icons/eye-slash.svg', data: { password_visibility_target: 'hiddenIcon' }, class: 'size-5 hidden' %>
        </button>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <div class="flex items-center gap-2">
          <%= f.check_box :remember_me, checked: true, class: 'form-input-checkbox' %>
          <%= f.label :remember_me, 'Stay signed in', class: 'select-none text-sm text-slate-700 dark:text-slate-300' %>
        </div>
      </div>
    <% end %>

    <%= f.submit 'Sign in', data: { turbo: false }, class: 'btn btn-primary w-full' %>
  <% end %>

  <%= render 'devise/shared/links' %>
<% end %>
