<% modal_style_buttons = defined?(modal_style_buttons) ? modal_style_buttons : true %>

<%= form_with model: run, data: { controller: 'form-validation' }, html: { novalidate: true, turbo_frame: 'run_modal' } do |form| %>
  <%= render 'shared/error_messages', resource: run %>

  <div class="form-group">
    <%= form.label :date, 'What day did you run?', class: 'form-label' %>
    <div class="relative">
      <%= inline_svg_tag 'icons/calendar.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
      <%= form.date_field :date, max: Date.today, value: form.object.new_record? ? Date.today : run.date, class: 'form-input pl-10', data: { form_validation_target: 'date', action: 'input->form-validation#validateDate' } %>
    </div>
    <p class="hidden my-1 error-message" data-form-validation-target="dateError">Date must be today or earlier</p>
  </div>

  <div data-controller="distance-shortcuts" class="form-group">
    <%= form.label :distance, 'How many miles did you run?', class: 'form-label' %>

    <div class="flex items-center gap-2.5">
      <!-- Decrease distance button -->
      <%= button_tag type: 'button', data: { action: 'click->distance-shortcuts#updateDistance click->form-validation#validateDistance', update_distance_value: '-1' }, class: 'btn btn-white size-10' do %>
        <%= inline_svg_tag 'icons/minus.svg', class: 'size-5 shrink-0' %>
        <span class="sr-only">Decrease by 1 mile</span>
      <% end %>

      <div class="relative flex-1">
        <%= inline_svg_tag 'icons/ruler.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
        <%= form.number_field :distance, step: 0.1, min: 0, placeholder: '3.14', class: 'form-input pl-10', data: { form_validation_target: 'distance', action: 'input->form-validation#validateDistance', distance_shortcuts_target: 'distance' } %>
      </div>

      <!-- Increase distance button -->
      <%= button_tag type: 'button', data: { action: 'click->distance-shortcuts#updateDistance click->form-validation#validateDistance', update_distance_value: '1' }, class: 'btn btn-white size-10' do %>
        <%= inline_svg_tag 'icons/plus.svg', class: 'size-5 shrink-0' %>
        <span class="sr-only">Increase by 1 mile</span>
      <% end %>
    </div>

    <span class="hidden my-1 error-message" data-form-validation-target="distanceError">Distance must be a positive number</span>
  </div>

  <div class="form-group">
    <%= form.label :duration_input, class: 'form-label' do %>
      <p> How much time did you run for?
        <span class="help-text">(optional)</span>
      </p>
    <% end %>
    <div class="relative">
      <%= inline_svg_tag 'icons/clock.svg', class: 'size-5 absolute left-3 top-1/2 -translate-y-1/2 text-slate-500' %>
      <%= form.text_field :duration_input, value: form.object.new_record? ? '' : clock_time_display(run.duration), placeholder: 'MM:SS or HH:MM:SS', class: 'form-input pl-10', data: { form_validation_target: 'duration', action: 'input->form-validation#validateDuration' } %>
    </div>
    <p class="hidden my-1 error-message" data-form-validation-target="durationError">Duration must be in MM:SS or HH:MM:SS format and must be less than 24 hours</p>
  </div>

  <div class="form-group">
    <%= form.label :comments, class: 'form-label' do %>
      <p> Any additional comments?
        <span class="help-text">(optional)</span>
      </p>
    <% end %>
    <%= form.text_area :comments, placeholder: 'Add comments...', class: 'form-input', data: { controller: 'autogrow', action: 'input->autogrow#grow' } %>
  </div>

  <% if modal_style_buttons %>
    <div class="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2 mt-4">
      <button data-action="click->modal#close" data-modal-id="newRunModal" type="button" class="btn btn-white mt-2 sm:mt-0">Cancel</button>
      <%= form.submit 'Create run', class: 'btn btn-primary w-full sm:w-auto', data: { action: 'click->modal#close' } %>
    </div>
  <% else %>
    <div class="flex flex-wrap items-center justify-start gap-6">
      <%= form.submit form.object.new_record? ? 'Create run' : 'Update run', data: { turbo: false }, class: 'btn btn-primary mr-auto' %>
      <%= link_to 'Cancel', :back, data: { turbo: false }, class: 'btn btn-white' %>
    </div>
  <% end %>
<% end %>
