<%= form_with(model: @run) do |form| %>
  <div class="form-group">
    <%= form.label :date, 'What day did you run?', class: 'form-label' %>
    <%= form.date_field :date, required: true, autofocus: true, max: Date.today, value: form.object.new_record? ? Date.today : @run.date, class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :distance, 'How many miles did you run?', class: 'form-label' %>
    <%= form.number_field :distance, required: true, step: :any, placeholder: '1.234', class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :duration, class: 'form-label' do %>
      <p> How long did you run?
        <span class="text-xs opacity-75 my-1">(hh:mm:ss OR mm:ss)</span>
      </p>
    <% end %>
      <%= form.text_field :duration_input, required: true, placeholder: 'hh:mm:ss', value: form.object.new_record? ? '' : clock_time_display(@run.duration), class: 'form-input' %>
  </div>

  <div class="form-group">
    <%= form.label :comments, class: 'form-label' do %>
      <p> Any additional comments?
        <span class="text-xs opacity-75 my-1">(optional)</span>
      </p>
    <% end %>
    <%= form.text_area :comments, placeholder: 'Add comments...', data: { controller: 'autogrow', action: 'input->autogrow#grow' },class: 'form-input resize-vertical' %>
  </div>

  <div class="flex items-center justify-between flex-wrap">
    <div class="sm:flex-1 sm:mb-0 mb-6">
      <%= form.submit class: "btn btn-primary" %>
    </div>

    <% if form.object.new_record? %>
      <%= link_to "Cancel", runs_path, class: "btn btn-white" %>
    <% else %>
      <div class="flex gap-6 items-center">
        <%= button_to "Delete", @run, method: :delete, class: "btn btn-destructive", data: { confirm: "Are you sure?" }  %>
        <%= link_to "Cancel", @run, class: "btn btn-white" %>
      </div>
    <% end %>
  </div>
<% end %>
