<% like = run.likes.find_by(user: current_user) %>

<div id="<%= dom_id(run, :likes) %>">
  <% if current_user.no_teams_in_common?(run.user) %>
    <% if like.present? %>
      <div class="p-2 rounded-full flex items-center gap-1 text-pink-500">
        <%= inline_svg_tag 'icons/heart-filled.svg', class: 'size-4.5 -my-px shrink-0' %>
        <span class="text-xs font-bold text-pink-500"><%= number_with_delimiter run.like_count %> <span class="sr-only">likes</span></span>
      </div>
    <% else %>
      <div class="p-2 rounded-full flex items-center gap-1">
        <%= inline_svg_tag 'icons/heart.svg', class: 'size-4.5 -my-px shrink-0' %>

        <% if run.like_count.positive? %>
          <span class="text-xs font-bold"><%= number_with_delimiter run.like_count %> <span class="sr-only">likes</span></span>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% if like.present? %>
      <%= button_to run_like_path(run, like), method: :delete, data: { turbo_method: :delete }, class: 'p-2 rounded-full flex items-center gap-1 hover:bg-pink-100/60 dark:hover:bg-pink-900/30 text-pink-500 transition duration-200 ease-in-out' do %>
        <%= inline_svg_tag 'icons/heart-filled.svg', class: 'size-4.5 -my-px shrink-0 motion-safe:pulse-hover-animation' %>
        <span class="sr-only">Unlike run</span>
        <span class="text-xs font-bold text-pink-500"><%= number_with_delimiter run.like_count %> <span class="sr-only">likes</span></span>
      <% end %>
    <% else %>
      <%= button_to run_likes_path(run), method: :post, data: { turbo_method: :post }, class: 'p-2 rounded-full flex items-center gap-1 hover:bg-pink-100/60 dark:hover:bg-pink-900/30 hover:text-pink-500 transition duration-200 ease-in-out' do %>
        <%= inline_svg_tag 'icons/heart.svg', class: 'size-4.5 -my-px shrink-0' %>
        <span class="sr-only">Like run</span>

        <% if run.like_count.positive? %>
          <span class="text-xs font-bold"><%= number_with_delimiter run.like_count %> <span class="sr-only">likes</span></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
