<div>
  <div class="mb-4 flex flex-wrap items-center justify-between gap-2">
    <div class="flex items-center gap-2">
      <%= inline_svg_tag 'icons/runner.svg', class: 'size-5 text-soft shrink-0' %>
      <p class="text-balance text-lg font-bold"><%= run.distance %> mi Run <span class="text-soft text-sm">(<%= run.distance_km %> km)</span></p>
    </div>
    <div class="flex items-center gap-2 rounded-full px-3 py-1 bg-indigo-200 dark:bg-indigo-900 text-indigo-700 dark:text-indigo-200 font-bold drop-shadow-sm dark:drop-shadow-none">
      <%= inline_svg_tag 'icons/calendar.svg', class: 'size-4' %>
      <p class="whitespace-nowrap text-xs"><%= current_page?(run_path(run)) ? pretty_date(run.date, date_style: :relative) : format_date(run.date) %></p>
    </div>
  </div>

  <% if run.duration? %>
    <div class="mb-4 space-y-2 divide-slate-300 rounded-2xl bg-slate-200/50 p-4 drop-shadow-sm dark:divide-slate-600 dark:bg-slate-700/50 dark:drop-shadow-none md:flex md:flex-wrap md:items-center md:space-y-0 md:divide-x">
      <div class="flex items-center gap-2 md:pr-6">
        <%= inline_svg_tag 'icons/clock.svg', class: 'size-5 text-soft' %>
        <p class="font-bold"><%= precise_time(run.duration, format: :short) %></p>
      </div>
      <div class="flex items-center gap-2 md:pl-6">
        <%= inline_svg_tag 'icons/lightning.svg', class: 'size-5 text-soft' %>
        <p class="font-bold"><%= clock_time_display(run.pace_per_mile) %> <span class="text-soft text-sm">/mi</span></p>
      </div>
    </div>
  <% end %>

  <% if run.comments? %>
    <div class="mb-4">
      <div class="flex items-start gap-2">
        <%= inline_svg_tag 'icons/comment.svg', class: 'size-5 text-soft shrink-0' %>
        <%= simple_format (current_page?(run_path(run)) ? run.comments : truncate(run.comments, length: 80)), class: 'mt-0 text-sm text-soft' %>
      </div>
    </div>
  <% end %>

  <div class="flex flex-wrap items-center gap-x-4 gap-y-2 border-t pt-4 dark:border-slate-700">
    <div class="flex items-center gap-2 rounded-full bg-slate-200/50 px-3 py-1 drop-shadow-sm dark:bg-slate-700/50 dark:drop-shadow-none">
      <%= inline_svg_tag 'icons/calendar.svg', class: 'size-4 text-soft shrink-0' %>
      <time class="text-soft text-xs" datetime="<%= run.created_at.to_formatted_s(:long) %>">Created: <%= time_ago_in_words(run.created_at) + " ago" %></time>
    </div>

    <% if run.edited? %>
      <div class="flex items-center gap-2 rounded-full bg-slate-200/50 px-3 py-1 drop-shadow-sm dark:bg-slate-700/50 dark:drop-shadow-none">
        <%= inline_svg_tag 'icons/edit.svg', class: 'size-4 text-soft shrink-0' %>
        <time class="text-soft text-xs" datetime="<%= run.updated_at.to_formatted_s(:long) %>">Edited: <%= time_ago_in_words(run.updated_at) + " ago" %></time>
      </div>
    <% end %>
  </div>
</div>
