<article id="<%= dom_id run %>" class="py-6 prose dark:prose-invert">
  <table class="text-base my-0 table-auto">
    <tr>
      <th>Time:</th>
      <td><span class="text-base"><%= clock_time_display(run.duration) %></span></td>
      <td><span class="text-sm text-slate-600 dark:text-slate-400"><%= precise_distance_of_time_in_words(run.duration) %></span></td>
    </tr>
    <tr>
      <th>Distance:</th>
      <td><span class="text-base"><%= run.distance %> <span class="text-sm text-slate-600 dark:text-slate-400">mi</span></span></td>
      <td><span class="text-sm text-slate-600 dark:text-slate-400"><%= run.distance_km %> km</span></td>
    </tr>
    <tr>
      <th>Pace:</th>
      <td><span class="text-base"><%= clock_time_display(run.pace_per_mile) %> <span class="text-sm text-slate-600 dark:text-slate-400">/ mi</span></span></td>
      <td><span class="text-sm text-slate-600 dark:text-slate-400"><%= clock_time_display(run.pace_per_km) %> / km</span></td>
    </tr>
    <tr>
      <th>Average speed:</th>
      <td><span class="text-base"><%= run.average_speed_mph %> <span class="text-sm text-slate-600 dark:text-slate-400">mph</span></span></td>
      <td><span class="text-sm text-slate-600 dark:text-slate-400"><%= run.average_speed_kph %> kph</span></td>
    </tr>
  </table>

  <% unless run.comments.blank? || !current_page?(run_path(run)) %>
    <p class="mb-0 font-semibold">Comments</p>
    <p class="my-0">
      <% if current_page? run_path(run) %>
        <%= simple_format run.comments, class: 'my-0' %>
      <% else %>
        <%= truncate(run.comments, length: 400, omission: ' ...') %>
      <% end %>
    </p>
  <% end %>
  <div class="flex divide-x divide-slate-400">
    <time class="text-slate-600 dark:text-slate-400 text-xs mt-2 pe-3" datetime="<%= run.date.to_formatted_s(:long) %>">Ran <%= days_ago(run.date) %></time>
    <time class="text-slate-600 dark:text-slate-400 text-xs mt-2 ps-3" datetime="<%= run.created_at.to_formatted_s(:long) %>">Posted <%= time_ago_in_words(run.created_at) + " ago" %></time>
  </div>
</article>
