<div class="py-6">
  <div class="flex flex-wrap-reverse items-center gap-4">
    <% unless current_page?(run_path(run)) %>
      <%= link_to run.user, data: { turbo: false }, class: 'group flex gap-4 items-center mr-auto' do %>
        <%= image_tag run.user.avatar.variant(resize_to_limit: [50, 50]).processed, class: 'size-12 rounded-lg drop-shadow-lg dark:drop-shadow-none object-cover' if run.user.avatar.attached? %>
        <p class="transition duration-300 ease-in-out subheading group-hover:text-indigo-600 dark:group-hover:text-indigo-500">
          <%= run.user.default_name %>
        </p>
      <% end %>
    <% end %>

    <%= render 'runs/long_run_badge' if local_assigns[:team] && run.long_run_for?(team) %>
  </div>

  <%= current_page?(run) ? render('runs/run_content', run: run) : link_to(run, data: { turbo: false }) { render 'runs/run_content', run: run } %>
</div>
