<div>
  <div class="flex items-center justify-between mb-4">
    <p class="text-lg font-bold text-balance"><%= run.distance %> mi Run <span class="text-sm text-soft">(<%= run.distance_km %> km)</span></p>
    <p class="text-soft text-xs text-balance"><%= current_page?(run_path(run)) ? pretty_date(run.date, date_style: :relative) : format_date(run.date) %></p>
  </div>

  <% if run.duration? %>
    <div class="flex flex-wrap items-center gap-x-8 gap-y-4 mb-4">
      <div class="flex items-center gap-2">
        <%= inline_svg_tag 'icons/clock.svg', class: 'size-5 text-soft' %>
        <p class="text-sm font-bold"><%= clock_time_display(run.duration) %></p>
      </div>
      <div class="flex items-center gap-2">
        <%= inline_svg_tag 'icons/lightning.svg', class: 'size-5 text-soft' %>
        <p class="text-sm font-bold"><%= clock_time_display(run.pace_per_mile) %> / mi <span class="text-xs font-normal text-soft">(<%= clock_time_display(run.pace_per_km )%> / km)</span></p>
      </div>
    </div>
  <% end %>

  <% if run.comments? %>
    <div class="mb-4">
      <div class="flex items-start gap-2">
        <%= inline_svg_tag 'icons/comment.svg', class: 'size-5 text-soft shrink-0' %>
        <%= simple_format (current_page?(run_path(run)) ? run.comments : truncate(run.comments, length: 80)), class: 'mt-0 text-sm text-soft' %>
      </div>
    </div>
  <% end %>

  <div class="flex items-center pt-4 border-t dark:border-slate-700">
    <div class="flex items-center gap-1">
      <%= inline_svg_tag 'icons/calendar.svg', class: 'size-4 mr-1.5 text-soft' %>
      <time class="help-text" datetime="<%= run.created_at.to_formatted_s(:long) %>">Created: <%= time_ago_in_words(run.created_at) + " ago" %></time>
    </div>

    <% if run.edited? %>
      <div class="flex items-center gap-1 pl-4 ml-4 border-l dark:border-slate-700">
        <%= inline_svg_tag 'icons/edit.svg', class: 'size-4 mr-1.5 text-soft' %>
        <time class="help-text" datetime="<%= run.updated_at.to_formatted_s(:long) %>">Edited: <%= time_ago_in_words(run.updated_at) + " ago" %></time>
      </div>
    <% end %>
  </div>
</div>
