<% content_for :title, "Run • #{format_date(@run.date)}" %>

<div class="max-w-3xl px-4 mx-auto my-16">
  <div class="pb-6 border-b border-slate-200 dark:border-slate-700">
    <div class="flex flex-wrap items-center gap-4">
      <%= link_to @run.user, class: 'group flex gap-4 items-center mr-auto' do %>
        <%= image_tag @run.user.avatar.variant(resize_to_limit: [100, 100]).processed, class: 'size-16 rounded-lg drop-shadow-lg dark:drop-shadow-none object-cover' if @run.user.avatar.attached? %>
        <h1 class="transition duration-300 ease-in-out heading group-hover:text-indigo-600 dark:group-hover:text-indigo-500">
          <%= @run.user.default_name %>
        </h1>
      <% end %>

      <% if @run.user == current_user %>
        <%= link_to 'Edit run', edit_run_path(@run), class: 'btn btn-primary' %>
        <%= button_to 'Delete run',
                      @run,
                      method: :delete,
                      data: {
                        turbo: false,
                        controller: 'confirmation',
                        action: 'confirmation#confirm',
                        confirmation_message_value: 'Are you sure you want to delete this run?'
                      },
                      class: 'btn btn-destructive btn-outline' %>
      <% end %>
    </div>
  </div>
  <%= render @run %>
</div>
