<% content_for :title, 'Edit Team Membership Goals' %>

<div class="max-w-3xl mx-auto my-16 mb-24">
  <div class="mb-24">
    <div class="pb-6 mt-10 mb-6 border-b dark:border-slate-700">
      <h1 class="heading">Team Membership Goals</h1>
      <p class="text-soft">Set your personal preferences for this team.</p>
    </div>

    <%= form_with model: [@team, @team_membership], local: true, url: team_team_membership_path(@team, @team_membership.user), data: { controller: 'form-validation' } do |form| %>
      <div class="my-6">
        <h2 class="mb-2 text-lg font-normal text-slate-700 dark:text-slate-200">Personal Goals</h2>
        <p class="text-sm text-slate-600 dark:text-slate-400">Set your personal goals for this team. These will be visible to your fellow team members.</p>
      </div>

      <div class="form-group">
        <%= form.label :mileage_goal, class: 'form-label' do %>
          <p> Personal mileage goal
            <span class="help-text">(optional)</span>
          </p>
        <% end %>
        <%= form.number_field :mileage_goal, step: 1, min: 0, placeholder: 'e.g., 100', class: 'form-input', data: { form_validation_target: 'mileageGoal', action: 'input->form-validation#validateMileageGoal' } %>
        <span class="hidden my-1 error-message" data-form-validation-target="milageGoalError">Personal mileage goal must be a positive number</span>
        <p class="my-1 help-text">Set a personal goal for how many miles you want to run during this team's season.</p>
      </div>

      <div class="form-group">
        <%= form.label :long_run_goal, class: 'form-label' do %>
          <p> Personal long run goal
            <span class="help-text">(optional)</span>
          </p>
        <% end %>
        <%= form.number_field :long_run_goal, step: 1, min: 0, placeholder: 'e.g., 20', class: 'form-input', data: { form_validation_target: 'mileageGoal', action: 'input->form-validation#validateMileageGoal' } %>
        <span class="hidden my-1 error-message" data-form-validation-target="milageGoalError">Long run goal must be a positive number</span>
        <p class="my-1 help-text">Set a personal goal for how many long runs you want to run during this team's season.</p>
      </div>

      <div class="flex flex-wrap items-center gap-4 pt-6 border-t border-slate-200 dark:border-slate-700">
        <%= form.submit 'Update goals', data: { turbo: false }, class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, data: { turbo: false }, class: 'btn btn-dark btn-muted' %>
      </div>
    <% end %>
  </div>
</div>
