<!DOCTYPE html>
<html data-controller="theme" data-theme-user-theme-value="<%= user_signed_in? ? current_user.settings(:appearance).theme : 'system' %>">
  <head>
    <title>TeamRunner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script>
      if ('<%= user_signed_in? ? current_user.settings(:appearance).theme : 'system' %>' === 'dark' || ('<%= user_signed_in? ? current_user.settings(:appearance).theme : 'system' %>' === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      }
    </script>
  </head>

  <body class='relative antialiased font-normal leading-normal bg-white text-slate-800 dark:text-slate-100 selection:bg-indigo-500/40 dark:bg-slate-900'>
    <%= render "shared/flash" if user_signed_in? ? current_user.settings(:notifications).in_app : true %>
    <div class="flex w-full h-svh max-h-svh">
      <%= render "shared/sidebar" if user_signed_in? %>
      <div class="flex flex-col flex-1 h-full min-w-0">
        <div class="flex flex-col justify-between h-full min-w-0 overflow-y-scroll">
          <main class="container px-5 mx-auto my-24">
            <%= yield %>
          </main>
        </div>
        <%= render "shared/tab_bar" if user_signed_in? %>
      </div>
    </div>
  </body>
</html>
