<!DOCTYPE html>
<html lang="en" data-controller="theme" data-theme-user-theme-value="<%= user_signed_in? ? current_user.settings(:appearance).theme : 'system' %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class='relative antialiased font-sans font-normal leading-normal bg-slate-50 text-slate-800 dark:text-slate-100 selection:bg-indigo-500/40 dark:bg-slate-900'>
    <%= render 'shared/flash' %>
    <div class="flex w-full h-svh max-h-svh">
      <%= render 'shared/sidebar' if user_signed_in? %>
      <div class="flex flex-col flex-1 h-full min-w-0">
        <div class="h-full min-w-0 overflow-y-scroll">
          <% if user_signed_in? %>
            <div class="md:hidden flex items-center justify-between gap-2 mt-8 mx-4">
              <%= inline_svg_tag 'icons/logo.svg', class: 'w-48' %>
              <%= render 'shared/pinned_pages_menu' %>
            </div>
          <% end %>

          <%= render 'shared/breadcrumbs' if user_signed_in? %>

          <main class="container px-5 mx-auto mt-24 mb-40">
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
    <%= render 'shared/tab_bar' if user_signed_in? %>

    <%= turbo_stream_from 'pinned_pages_list' if user_signed_in? %>
  </body>
</html>
